<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Nyomtatás</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div>
        <div class="editform-label">Nyomtatás</div>
        <div *ngFor="let entry of entries;let i = index">
          <input type="radio" name="radiogroup" id="entry"
                 [checked]="i === selectedi" (change)="change(i)">
          <label for="entry">
            {{entry}}
          </label>
        </div>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Stop</button>
    </div>
  </form>
</div>

