<div class="alapkeret">
  <h5>{{ajanlatkeresservice.cim}}</h5>
  <h6 *ngIf="ajanlatkeresservice.DtoSelectedIndex !== -1">
    {{ajanlatkeresservice.Dto[ajanlatkeresservice.DtoSelectedIndex].Ajanlatkereskod}}
    {{ajanlatkeresservice.Dto[ajanlatkeresservice.DtoSelectedIndex].Nev}},
    {{ajanlatkeresservice.Dto[ajanlatkeresservice.DtoSelectedIndex].Cim}}
  </h6>
  <div>
    <nav>
      <button (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>
      <button [disabled]="!enprojekt" (click)="projekt()" class="btn btn-sm btn-outline-primary navgomb">
        Projekt
      </button>
    </nav>
  </div>

<!--  export enum FeliratkozasEgyMode {
  Reszletek = 1,
  Projekt = 2,
  }-->

  <ng-container *ngIf="ajanlatkeresservice.EgyMode === 1">
    <app-ajanlatkeres-reszletek></app-ajanlatkeres-reszletek>
  </ng-container>
  <ng-container *ngIf="ajanlatkeresservice.EgyMode === 2">
    <app-ajanlatkeres-projekt></app-ajanlatkeres-projekt>
  </ng-container>

  <app-errormodal [cim]="ajanlatkeresservice.cim"></app-errormodal>
</div>


