<table class="table table-bordered table-sm table-responsive" style="border: none" xmlns="http://www.w3.org/1999/html">
  <thead>
  <tr>
    <th>Id</th>
    <th>Stsz</th>
    <th>Ügyfél és cím</th>
    <th>Email és telefonszám</th>
    <th>Telepítési cím és a projekt jellege</th>
    <th>Műszaki állapot</th>
    <th>Inverter</th>
    <th>Napelem</th>
    <th>
      <div style="white-space: nowrap">
        <div>AC, kVA</div>
        <div>DC, kW</div>
      </div>
    </th>
    <th>Vállalási ár</th>
    <th>Pénznem</th>
    <th>Munkalapszám</th>
    <th>Keletkezett</th>
    <th>Megrendelve</th>
    <th>Kivitelezési határidő</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of Dto; let i = index">
    <tr (click)="clickforrow(i)" [class.active]="i == selectedrow">
      <td *ngIf="enIdclick" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="clickforid(i)">{{item.Projektkod}}</td>
      <td *ngIf="!enIdclick">{{item.Projektkod}}</td>
      <td>{{item.Statusz}}</td>
      <td>
        <div style="width: 200px">{{item.Ugyfelnev}}</div>
        <div style="width: 250px">{{item.Ugyfelcim}}</div>
      </td>
      <td>
        <div>{{item.Ugyfelemail}}</div>
        <div>{{item.Ugyfeltelefonszam}}</div>
      </td>
      <td>
        <div style="width: 300px">{{item.Telepitesicim}}</div>
        <div style="width: 150px">{{item.Projektjellege}}</div>
      </td>
      <td>
        <div style="width:120px" [style.background-color]="MuszakiallapotColor(item.Muszakiallapot)">{{item.Muszakiallapot}}</div>
      </td>
      <td>
        <div style="width: 250px" [style.background-color]="InverterNapelemColor(item.Inverterallapot)">
          <div>{{item.Inverter}}</div>
          <div>{{item.Inverterallapot}}</div>
        </div>
      </td>
      <td>
        <div style="width: 250px" [style.background-color]="InverterNapelemColor(item.Napelemallapot)">
          <div>{{item.Napelem}}</div>
          <div>{{item.Napelemallapot}}</div>
        </div>
      </td>
      <td>
        <div style="text-align: right">
          <div>{{item.Ackva | number: '1.2-2'}}</div>
          <div>{{item.Dckw | number: '1.2-2'}}</div>
        </div>
      </td>
      <td style="text-align: right">{{item.Vallalasiarnetto | number: '1.2-2'}}</td>
      <td>{{item.Penznem}}</td>
      <td>{{item.Munkalapszam}}</td>
      <td>{{item.Keletkezett | datehun}}</td>
      <td>{{item.Megrendelve | datehun}}</td>
      <td>{{item.Kivitelezesihatarido | datehun}}</td>
    </tr>
    <tr *ngIf="item.Megjegyzes !== null && item.Megjegyzes !== '' && megjegyzesIs" (click)="clickforrow(i)" [class.active]="i == selectedrow">
      <td colspan="15">{{item.Megjegyzes}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
