<table class="table table-bordered table-sm table-responsive" style="border: none" xmlns="http://www.w3.org/1999/html">
  <thead>
  <tr>
    <th>Id</th>
    <th>Stsz</th>
    <th>Ügyfél és cím</th>
    <th>Email és telefonszám</th>
    <th>Telepítési cím és a projekt jellege</th>
    <th>Műszaki állapot</th>
    <th>Inverter</th>
    <th>Napelem</th>
    <th>
      <div style="white-space: nowrap">
        <div>AC, kVA</div>
        <div>DC, kW</div>
      </div>
    </th>
    <th>Vállalási ár</th>
    <th>Pénznem</th>
    <th>Munkalapszám</th>
    <th>Keletkezett</th>
    <th>Megrendelve</th>
    <th>Kivitelezési határidő</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of Dto; let i = index">
    <tr>
      <td *ngIf="enIdclick" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.PROJEKTKOD}}</td>
      <td *ngIf="!enIdclick">{{item.PROJEKTKOD}}</td>
      <td>{{item.STATUSZ}}</td>
      <td>
        <div style="width: 200px">{{item.UGYFELNEV}}</div>
        <div style="width: 250px">{{item.UGYFELCIM}}</div>
      </td>
      <td>
        <div>{{item.UGYFELEMAIL}}</div>
        <div>{{item.UGYFELTELEFONSZAM}}</div>
      </td>
      <td>
        <div style="width: 300px">{{item.TELEPITESICIM}}</div>
        <div style="width: 150px">{{item.PROJEKTJELLEGE}}</div>
      </td>
      <td>
        <div style="width:120px" [style.background-color]="MuszakiallapotColor(item.MUSZAKIALLAPOT)">{{item.MUSZAKIALLAPOT}}</div>
      </td>
      <td>
        <div style="width: 250px" [style.background-color]="InverterNapelemColor(item.INVERTERALLAPOT)">
          <div>{{item.INVERTER}}</div>
          <div>{{item.INVERTERALLAPOT}}</div>
        </div>
      </td>
      <td>
        <div style="width: 250px" [style.background-color]="InverterNapelemColor(item.NAPELEMALLAPOT)">
          <div>{{item.NAPELEM}}</div>
          <div>{{item.NAPELEMALLAPOT}}</div>
        </div>
      </td>
      <td>
        <div style="text-align: right">
          <div>{{item.ACKVA | number: '1.2-2'}}</div>
          <div>{{item.DCKW | number: '1.2-2'}}</div>
        </div>
      </td>
      <td style="text-align: right">{{item.VALLALASIARNETTO | number: '1.2-2'}}</td>
      <td>{{item.PENZNEM}}</td>
      <td>{{item.MUNKALAPSZAM}}</td>
      <td>{{item.KELETKEZETT | datehun}}</td>
      <td>{{item.MEGRENDELVE | datehun}}</td>
      <td>{{item.KIVITELEZESIHATARIDO | datehun}}</td>
    </tr>
    <tr *ngIf="item.MEGJEGYZES !== null && item.MEGJEGYZES !== ''">
      <td colspan="15">{{item.MEGJEGYZES}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
