<div class="alapkeret">
  <h5>{{afakulcsservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Afakulcskod}}</td>
    </tr>
    <tr>
      <td class="egylabel">ÁFA kulcs:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Afakulcs1}}</td>
    </tr>
    <tr>
      <td class="egylabel">ÁFA mértéke, %:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Afamerteke}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="afakulcsservice.DtoSelectedIndex !== -1">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
