<div class="alapkeret">
  <h5>{{fizetesimodservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="fizetesimodservice.DtoSelectedIndex !== -1">{{fizetesimodservice.Dto[fizetesimodservice.DtoSelectedIndex].Fizetesimodkod}}</td>
    </tr>
    <tr>
      <td class="egylabel">Fizetési mód:</td>
      <td *ngIf="fizetesimodservice.DtoSelectedIndex !== -1">{{fizetesimodservice.Dto[fizetesimodservice.DtoSelectedIndex].Fizetesimod1}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="fizetesimodservice.DtoSelectedIndex !== -1">{{fizetesimodservice.Dto[fizetesimodservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="fizetesimodservice.DtoSelectedIndex !== -1">{{fizetesimodservice.Dto[fizetesimodservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="fizetesimodservice.DtoSelectedIndex !== -1">{{fizetesimodservice.Dto[fizetesimodservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="fizetesimodservice.DtoSelectedIndex !== -1">{{fizetesimodservice.Dto[fizetesimodservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
