<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{felhasznaloservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{felhasznaloservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-box">
      <div class="editform-row">
        <div class="egylabel">Azonosító</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="azonosito"
               maxlength="30" required autocomplete="off"
               [(ngModel)]="DtoEdited.Azonosito" name="azonosito">
      </div>
      <div class="editform-row">
        <div class="egylabel">Név</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="nev"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="DtoEdited.Nev" name="nev">
      </div>
      <div class="editform-row">
        <div class="egylabel">Telefon</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="telefon"
               maxlength="50" required autocomplete="off"
               [(ngModel)]="DtoEdited.Telefon" name="telefon">
      </div>
      <div class="editform-row">
        <div class="egylabel">Email</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="email"
               maxlength="50" required autocomplete="off"
               [(ngModel)]="DtoEdited.Email" name="email">
      </div>
    </div>

    <div class="editform-box">
      <div class="editform-row">
        <div class="egylabel">Státusz</div>
        <select type="text" class="form-control form-control-sm"
                [(ngModel)]="DtoEdited.Statusz" name="statusz">
          <option>OK</option>
          <option>Tiltott</option>
        </select>
      </div>
      <div class="editform-row">
        <div class="egylabel">Log</div>
        <select type="text" class="form-control form-control-sm"
                [(ngModel)]="DtoEdited.Logonlog" name="log">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
