<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{felhasznaloservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{felhasznaloservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Azonosító</div>
        <input type="text" class="editform-edit em10width" id="azonosito"
               maxlength="30" required autocomplete="off"
               [(ngModel)]="DtoEdited.Azonosito" name="azonosito">
      </div>
      <div class="editform-row">
        <div class="editform-label">Név</div>
        <input type="text" class="editform-edit em15width" id="nev"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="DtoEdited.Nev" name="nev">
      </div>
      <div class="editform-row">
        <div class="editform-label">Telefon</div>
        <input type="text" class="editform-edit em15width" id="telefon"
               maxlength="50" required autocomplete="off"
               [(ngModel)]="DtoEdited.Telefon" name="telefon">
      </div>
      <div class="editform-row">
        <div class="editform-label">Email</div>
        <input type="text" class="editform-edit em15width" id="email"
               maxlength="50" required autocomplete="off"
               [(ngModel)]="DtoEdited.Email" name="email">
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Státusz</div>
        <select type="text" class="editform-combo em6width"
                [(ngModel)]="DtoEdited.Statusz" name="statusz">
          <option>OK</option>
          <option>Tiltott</option>
        </select>
      </div>
      <div class="editform-row">
        <div class="editform-label">Log</div>
        <select type="text" class="editform-combo em4width"
                [(ngModel)]="DtoEdited.Logonlog" name="log">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
