<div class="tabla-toolbar">
  <button (click)="doNav(1)" class="toolbutton">
    <i class="fa fa-file" aria-hidden="true"></i>
  </button>
  <button *ngIf="enTorles" [disabled]="!jog" (click)="doNav(2)" class="toolbutton">
    <i class="fa fa-minus" aria-hidden="true"></i>
  </button>
  <button [disabled]="!jog" (click)="doNav(3)" class="toolbutton">
    <i class="fa fa-edit" aria-hidden="true"></i>
  </button>

  <button [disabled]="!jog" (click)="doNav(15)" class="toolbutton">
    Dokumentum
  </button>
  <button [disabled]="!jog" (click)="doNav(16)" class="toolbutton">
    Fotózás link
  </button>
  <button *ngIf="enProjekt" [disabled]="!jog" (click)="doNav(8)" class="toolbutton">
    Projekt
  </button>
  <button [disabled]="!jog" (click)="doNav(41)" class="toolbutton">
    <i class="fa fa-angle-right" style="margin-right: 3px" aria-hidden="true"></i>
    Vágólapra
  </button>
</div>
