<div class="alapkeret">
  <h5>{{felhasznaloservice.cim}}</h5>
  <h6 *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].NEV}}</h6>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || felhasznaloservice.DtoSelectedIndex === -1 || !mod"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || felhasznaloservice.DtoSelectedIndex === -1 || !mod"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || felhasznaloservice.DtoSelectedIndex === -1 || !mod"
              (click)="jelszo()" class="btn btn-sm btn-outline-primary navgomb">
        Jelszó
      </button>
      <button [disabled]="eppFrissit || felhasznaloservice.DtoSelectedIndex === -1 || !mod"
              (click)="tevekenyseg()" class="btn btn-sm btn-outline-primary navgomb">
        Tevékenység
      </button>
    </nav>
  </div>

  <!--  export enum FelhasznaloEgyMode {
Reszletek = 1,
Torles = 2,
Modositas = 3,
Jelszo = 4,
Tevekenyseg = 5
}-->

  <ng-container *ngIf="felhasznaloservice.EgyMode === 1">
    <app-felhasznalo-reszletek></app-felhasznalo-reszletek>
  </ng-container>
  <ng-container *ngIf="felhasznaloservice.EgyMode === 2">
    <app-felhasznalo-torles></app-felhasznalo-torles>
  </ng-container>
  <ng-container *ngIf="felhasznaloservice.EgyMode === 3">
    <app-felhasznalo-szerkesztes></app-felhasznalo-szerkesztes>
  </ng-container>
  <ng-container *ngIf="felhasznaloservice.EgyMode === 4">
    <app-felhasznalo-jelszo></app-felhasznalo-jelszo>
  </ng-container>
  <ng-container *ngIf="felhasznaloservice.EgyMode === 5">
    <app-felhasznalo-tevekenyseg></app-felhasznalo-tevekenyseg>
  </ng-container>

  <app-errormodal [cim]="felhasznaloservice.cim"></app-errormodal>
</div>
