<div class="alapkeret">
  <h5 *ngIf="vagolapservice.Mode === 1">{{vagolapservice.cim}}</h5>
  <div>
    <nav>
      <ng-container *ngIf="vagolapservice.Mode === 1">
        <button [disabled]="eppFrissit" (click)="torles()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins" style="margin-right: 3px">
          A vágólap törlése
        </button>
      </ng-container>
    </nav>
  </div>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Azonosító</th>
      <th>Tipus</th>
      <th>Ügyfélnév</th>
      <th>Ügyfélcím</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of vagolapservice.Dto; let i = index">
      <td><input type="checkbox" [(ngModel)] = "item.selected" [disabled]="isdisabled(i)" /></td>
      <td *ngIf="item.tipus === 0">{{item.iratkod}}</td>
      <td *ngIf="item.tipus === 1">{{item.bizonylatkod}}</td>
      <td *ngIf="item.tipus === 0"></td>
      <td *ngIf="item.tipus === 1">{{item.bizonylatszam}}</td>
      <td *ngIf="item.tipus === 0">{{item.irattipus}}</td>
      <td *ngIf="item.tipus === 1">{{item.bizonylattipus}}</td>
      <td>{{item.ugyfelnev}}</td>
      <td>{{item.ugyfelcim}}</td>
    </tr>
    </tbody>
  </table>
</div>
