<div class="alapkeret">
  <h5>Bejelentkezés</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Azonosító</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="azonosito"
               formControlName="azonosito" autocomplete="off" #azonosito>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Jelszó</div>
      </div>
      <div class="col-md-2">
        <input type="password" class="form-control form-control-sm" id="jelszo"
               formControlName="jelszo" autocomplete="off" #jelszo>
      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.valid || eppFrissit">Bejelentkezés</button>
    </div>
  </form>

  <app-errormodal [cim]="'Bejelentkezés'"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>


