<div class="toolbar">
  <select [disabled]="!enKereses" #Szempont type="text" class="toolcombo">
    <option *ngFor="let sz of szurok; let i = index" [value]="i" [selected]="i == _szempont">{{sz}}</option>
  </select>
  <input [disabled]="!enKereses" #Minta type="text" class="tooledit em10width" appAutofocus>

  <select [disabled]="!enKereses" #Szempont2 type="text" class="toolcombo">
    <option *ngFor="let sz of szurok2; let i = index" [value]="i" [selected]="i == _szempont2">{{sz}}</option>
  </select>
  <input [disabled]="!enKereses" #Minta2 type="text" class="tooledit em10width">

  <button [disabled]="!enKereses" (click)="doKereses()" class="toolbutton" type="button">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  <button [disabled]="!enUj" (click)="doUj()" class="toolbutton" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>

