<div class="row no-gutters" style="paddig-top: 6px;padding-bottom: 6px">
  <div style="margin-right: 6px">
    <select [disabled]="!enKereses" #Szempont type="text" class="form-control form-control-sm">
      <option *ngFor="let sz of szurok; let i = index" [value]="i" [selected]="i == _szempont">{{sz}}</option>
    </select>
  </div>
  <div style="width: 120px; margin-right: 6px">
    <input [disabled]="!enKereses" #Minta type="text" class="form-control form-control-sm">
  </div>

  <div style="margin-right: 6px">
    <select [disabled]="!enKereses" #Szempont2 type="text" class="form-control form-control-sm">
      <option *ngFor="let sz of szurok2; let i = index" [value]="i" [selected]="i == _szempont2">{{sz}}</option>
    </select>
  </div>
  <div style="width: 120px; margin-right: 6px">
    <input [disabled]="!enKereses" #Minta2 type="text" class="form-control form-control-sm">
  </div>

  <div class="float-right" role="toolbar" aria-label="Gombok">
    <div class="btn-group btn-group-sm" role="group" aria-label="Gombok">
      <button [disabled]="!enKereses" (click)="doKereses()" style="margin-right:6px;" class="btn btn-outline-primary" type="button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="!enUj" (click)="doUj()" type="button" style="margin-right:3px;" class="btn btn-sm btn-outline-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

