<div class="row no-gutters toolbarmargins">
  <div class="toolbarcontrolmargins">
    <select [disabled]="!enKereses" #Szempont type="text" class="form-control form-control-sm">
      <option *ngFor="let sz of szurok; let i = index" [value]="i" [selected]="i == _szempont">{{sz}}</option>
    </select>
  </div>
  <div class="toolbarcontrolmargins" style="width: 120px">
    <input [disabled]="!enKereses" #Minta type="text" class="form-control form-control-sm">
  </div>

  <div class="toolbarcontrolmargins">
    <select [disabled]="!enKereses" #Szempont2 type="text" class="form-control form-control-sm">
      <option *ngFor="let sz of szurok2; let i = index" [value]="i" [selected]="i == _szempont2">{{sz}}</option>
    </select>
  </div>
  <div class="toolbarcontrolmargins" style="width: 120px">
    <input [disabled]="!enKereses" #Minta2 type="text" class="form-control form-control-sm">
  </div>

  <div class="float-right" role="toolbar" aria-label="Gombok">
    <div class="btn-group btn-group-sm" role="group" aria-label="Gombok">
      <button [disabled]="!enKereses"
              (click)="doKereses()"
              class="btn btn-outline-primary toolbarcontrolmargins"
              type="button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="!enUj"
              (click)="doUj()"
              class="btn btn-sm btn-outline-primary toolbarcontrolmarginskozel"
              type="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

