<div class="alapkeret">
  <h5>{{cikkservice.cim}}</h5>
  <h6 *ngIf="cikkservice.DtoSelectedIndex !== -1">{{cikkservice.Dto[cikkservice.DtoSelectedIndex].MEGNEVEZES}}</h6>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1 || !mod"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1 || !mod"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1"
              (click)="beszerzes()" class="btn btn-sm btn-outline-primary navgomb">
        Beszerzés
      </button>
      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1"
              (click)="kivet()" class="btn btn-sm btn-outline-primary navgomb">
        Kivét
      </button>
    </nav>
  </div>

  <!--  export enum CikkEgyMode {
  Reszletek = 1,
  Torles = 2,
  Modositas = 3
  BeszerzesKivet = 4
  }-->

  <ng-container *ngIf="cikkservice.EgyMode === 1">
    <app-cikk-reszletek></app-cikk-reszletek>
  </ng-container>
  <ng-container *ngIf="cikkservice.EgyMode === 2">
    <app-cikk-torles></app-cikk-torles>
  </ng-container>
  <ng-container *ngIf="cikkservice.EgyMode === 3">
    <app-cikk-szerkesztes></app-cikk-szerkesztes>
  </ng-container>
  <ng-container *ngIf="cikkservice.EgyMode === 4">
    <app-cikk-beszerzes-kivet></app-cikk-beszerzes-kivet>
  </ng-container>

  <app-errormodal [cim]="cikkservice.cim"></app-errormodal>
</div>


