<div class="alapkeret">
  <h5>{{cikkservice.cim}}</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{cikkservice.Dto[cikkservice.DtoSelectedIndex].Megnevezes}}</div>
  </div>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1 || !mod"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1 || !mod"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1"
              (click)="beszerzes()" class="btn btn-sm btn-outline-primary navgomb">
        Beszerzés
      </button>
      <button [disabled]="eppFrissit || cikkservice.DtoSelectedIndex === -1"
              (click)="kivet()" class="btn btn-sm btn-outline-primary navgomb">
        Kivét
      </button>
    </nav>
  </div>

  <!--  export enum CikkEgyMode {
  Reszletek = 1,
  Torles = 2,
  Modositas = 3
  BeszerzesKivet = 4
  }-->

  <ng-container *ngIf="cikkservice.EgyMode === 1">
    <div [@rowanimation]>
      <app-reszletek [cim]="cikkservice.cim"
                     [item]="cikkservice.Dto[cikkservice.DtoSelectedIndex]"
                     [colsets]="cikkservice.ReszletekSettings"
                     [(selectedindex)]="ri">
      </app-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="cikkservice.EgyMode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="cikkservice.cim"
                        [eppFrissit]="eppFrissit"
                        (OkClick)="TorlesOk()"
                        (CancelClick)="TorlesCancel()">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="cikkservice.EgyMode === 3">
    <div [@rowanimation]>
      <app-cikk-szerkesztes></app-cikk-szerkesztes>
    </div>
  </ng-container>
  <ng-container *ngIf="cikkservice.EgyMode === 4">
    <div [@rowanimation]>
      <app-cikk-beszerzes-kivet></app-cikk-beszerzes-kivet>
    </div>
  </ng-container>

  <app-errormodal [cim]="cikkservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>


