<div class="alapkeret">
  <h5>Fotózás link</h5>

  <ng-container *ngIf="kikuldesikodidopontja !== ''">
    <p>Korábban már készült fotózás link ehhez az irathoz ({{kikuldesikodidopontja}})!</p>
    <div class="form-group">
      <textarea class="form-control" rows="3" id="regilink" readonly="true" [(ngModel)]="link"></textarea>
    </div>
  </ng-container>

  <button [disabled]="spinnerservice.eppFrissit"
          (click)="fotozaslink()"
          class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
    Új fotózás link
  </button>

  <p *ngIf="kikuldesikodidopontja !== ''">Ha új linket készít, a régi érvényessége megszűnik!</p>
</div>
