<div class="alapkeret">
  <h5 *ngIf="!penznemservice.zoom">{{penznemservice.cim}}</h5>
  <h5 *ngIf="penznemservice.zoom">{{penznemservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="penznemservice.ekDto.szempont"
               [(minta)]="penznemservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="penznemservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla [items]="penznemservice.Dto"
             [colsets]="penznemservice.GridSettings"
             [zoom]="penznemservice.zoom"
             [(selectedrow)]="ti"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)">
  </app-tabla>

  <app-errormodal [cim]="penznemservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
