<div class="alapkeret">
  <h5 *ngIf="!penznemservice.zoom">{{penznemservice.cim}}</h5>
  <h5 *ngIf="penznemservice.zoom">{{penznemservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="penznemservice.ekDto.szempont"
               [(minta)]="penznemservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="onUj()"
               [visZoom]="penznemservice.zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="penznemservice.Dto"
             [colsets]="penznemservice.GridSettings"
             [zoom]="penznemservice.zoom"
             (forzoom)="onStartzoom($event)"
             (forid)="onId($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #griduj>
    <app-penznem-szerkesztes [uj] = "true"
                             (eventSzerkeszteskesz)="onUjkesz()">
    </app-penznem-szerkesztes>
  </ng-template>
  <ng-template #gridegy>
    <app-penznem-egy (eventTorlesutan)="onTorlesutan()"></app-penznem-egy>
  </ng-template>
</div>
