<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{ugyfelservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{ugyfelservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Név</div>
        <input type="text" class="editform-edit em15width" id="nev"
               maxlength="200" required autocomplete="off"
               [(ngModel)]="DtoEdited.Nev" name="nev">
      </div>

      <div class="editform-row">
        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Ir. szám</div>
          <input type="text" class="editform-edit em4width" id="iranyitoszam"
                 maxlength="20" required autocomplete="off"
                 [(ngModel)]="DtoEdited.Iranyitoszam" name="iranyitoszam">
        </div>

        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Helységnév</div>
          <input type="text" class="editform-edit em15width" id="helysegnev"
                 maxlength="100" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
                 [(ngModel)]="DtoEdited.Helysegnev" name="helysegnev">
          <button class="toolbutton" type="button" (click)="HelysegZoom()">...</button>
        </div>
      </div>

      <div class="editform-row">
        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Közterület</div>
          <input type="text" class="editform-edit em10width" id="kozterulet"
                 maxlength="100" required autocomplete="off"
                 [(ngModel)]="DtoEdited.Kozterulet" name="kozterulet">
        </div>

        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Közterület tipus</div>
          <input type="text" class="editform-edit em6width" id="kozterulettipus"
                 maxlength="20" required autocomplete="off"
                 [(ngModel)]="DtoEdited.Kozterulettipus" name="kozterulettipus">
        </div>

        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Házszám</div>
          <input type="text" class="editform-edit em4width" id="hazszam"
                 maxlength="10" required autocomplete="off"
                 [(ngModel)]="DtoEdited.Hazszam" name="hazszam">
        </div>
      </div>

      <div class="editform-row">
        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Telefon</div>
          <input type="text" class="editform-edit em10width" id="telefon"
                 maxlength="20" required autocomplete="off"
                 [(ngModel)]="DtoEdited.Telefon" name="telefon">
        </div>

        <div style="display: inline-block; margin-right: 5px">
          <div class="editform-label">Email</div>
          <input type="text" class="editform-edit em10width" id="email"
                 maxlength="50" required autocomplete="off"
                 [(ngModel)]="DtoEdited.Email" name="email">
        </div>
      </div>

      <div class="editform-row">
        <div class="editform-label">Adószám</div>
        <input type="text" class="editform-edit em10width" style="display: inline-block" id="adoszam"
               maxlength="20" autocomplete="off"
               [(ngModel)]="DtoEdited.Adoszam" name="adoszam">
      </div>

      <div class="editform-row">
        <div class="editform-label">EU adószám</div>
        <input type="text" class="editform-edit em10width" id="euadoszam"
               maxlength="20" autocomplete="off"
               [(ngModel)]="DtoEdited.Euadoszam" name="euadoszam">
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
          <div class="editform-label">Cég</div>
          <input type="text" class="editform-edit em15width" id="ceg"
                 maxlength="200" autocomplete="off"
                 [(ngModel)]="DtoEdited.Ceg" name="ceg">
      </div>

      <div class="editform-row">
          <div class="editform-label">Beosztás</div>
          <input type="text" class="editform-edit em15width" id="beosztas"
                 maxlength="200" autocomplete="off"
                 [(ngModel)]="DtoEdited.Beosztas" name="beosztas">
      </div>

      <div class="editform-row">
          <div class="editform-label">Tevékenység</div>
          <input type="text" class="editform-edit em15width" id="tevekenyseg"
                 maxlength="100" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
                 [(ngModel)]="DtoEdited.Tevekenyseg" name="tevekenyseg">
          <button class="toolbutton" style="margin-left: 4px; display: inline-block" type="button" (click)="TevekenysegZoom()">...</button>
      </div>

      <div class="editform-row">
        <div class="editform-label">Egyéb link</div>
        <input type="text" class="editform-edit em15width" id="egyeblink"
               maxlength="200" autocomplete="off"
               [(ngModel)]="DtoEdited.Egyeblink" name="egyeblink">
      </div>

      <div class="editform-row">
        <div class="editform-label">Ajánlotta</div>
        <input type="text" class="editform-edit em15width" id="ajanlotta"
               maxlength="200" autocomplete="off"
               [(ngModel)]="DtoEdited.Ajanlotta" name="ajanlotta">
      </div>

      <div class="editform-row">
        <div class="editform-label">Megjegyzés</div>
        <input type="text" class="editform-edit em15width" id="megjegyzes"
               maxlength="200" autocomplete="off"
               [(ngModel)]="DtoEdited.Megjegyzes" name="megjegyzes">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <div id="ugyfelzoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <div class="zoom-modal-content-primitiv">
      <ng-container *ngIf="SzerkesztesMode === 1">
        <app-helyseg-list [maszk]="DtoEdited.Helysegnev || ''"
                          (eventSelectzoom)="onHelysegSelectzoom($event)"
                          (eventStopzoom)="onHelysegStopzoom()"></app-helyseg-list>
      </ng-container>
      <ng-container *ngIf="SzerkesztesMode === 2">
        <app-tevekenyseg-list [maszk]="DtoEdited.Tevekenyseg || ''"
                          (eventSelectzoom)="onTevekenysegSelectzoom($event)"
                          (eventStopzoom)="onTevekenysegStopzoom()"></app-tevekenyseg-list>
      </ng-container>
    </div>
  </div>
</div>

