<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{fizetesimodservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{fizetesimodservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Fizetési mód</div>
        <input type="text" class="form-control form-control-sm oszlop3" id="irattipus1"
               maxlength="30" required autocomplete="off"
               [(ngModel)]="DtoEdited.Fizetesimod1" name="irattipus1">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>

