<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{fizetesimodservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{fizetesimodservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div class="editform-label">Fizetési mód</div>
      <input type="text" class="editform-edit em10width" id="irattipus1"
             maxlength="30" required autocomplete="off"
             [(ngModel)]="DtoEdited.Fizetesimod1" name="irattipus1">
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>

