<div class="tabla-toolbar">
  <button (click)="doNav(1)" class="toolbutton">
    <i class="fa fa-file" aria-hidden="true"></i>
  </button>
  <button [disabled]="!jog" (click)="doNav(2)" class="toolbutton">
    <i class="fa fa-minus" aria-hidden="true"></i>
  </button>

  <button [disabled]="!jog" (click)="doNav(38)" class="toolbutton">
    Letöltés
  </button>
  <button [disabled]="!jog" (click)="doNav(39)" class="toolbutton">
    Nézet
  </button>
  <button [disabled]="!jog" (click)="doNav(40)" class="toolbutton">
    Letöltés PDF-ben
  </button>
</div>
