<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="!zoom">{{felhasznaloservice.cim}}</h5>
  <h5 *ngIf="zoom">{{felhasznaloservice.cim}} - zoom</h5>

  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               (Kereses)="onKereses()"
               [enUj]="jog" (Uj)="doUjtetel()"
               [visZoom]="zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>

  <ng-template #compcont_felhasznalouj></ng-template>

  <app-tabla-ex #tabla
                [items]="Dto"
                [colsets]="felhasznaloservice.GridSettings"
                [zoom]="zoom"
                (forzoom)="onStartzoom($event)"
                (forid)="onId($event)"
                [egyTemplate]="gridegy">
  </app-tabla-ex>

  <ng-template #gridegy>
    <app-felhasznalo-egy [dto]="Dto[DtoSelectedIndex]"
                         (eventTorles)="onTorles()"
                         (eventModositas)="onModositas($event)">
    </app-felhasznalo-egy>
  </ng-template>
</div>
