<div class="alapkeret">
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !torlesenabled()" (click)="torles()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !modositasenabled()" (click)="modositas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>


      <button [disabled]="eppFrissit || !kibocsatasenabled()" (click)="kibocsatas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Kibocsátás
      </button>
      <button [disabled]="eppFrissit" (click)="nyomtatas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-print" style="margin-right: 3px" aria-hidden="true"></i>Nyomtatás
      </button>
      <button [disabled]="eppFrissit || !stornoenabled()" (click)="storno()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Storno
      </button>
      <button [disabled]="eppFrissit || !penztarenabled()" (click)="penztar()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Pénztár
      </button>
      <button [disabled]="eppFrissit || !kiszallitvaenabled()" (click)="kiszallitva()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Kiszállítva
      </button>
      <button [disabled]="eppFrissit" (click)="kifizetes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Kifizetés
      </button>
      <button [disabled]="eppFrissit || !kifizetesrendbenenabled()" (click)="kifizetesrendben()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Kifizetés rendben
      </button>
      <button [disabled]="eppFrissit" (click)="irat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Irat
      </button>
      <button [disabled]="eppFrissit" (click)="errol()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Erről
      </button>
      <button [disabled]="eppFrissit" (click)="vagolap()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-angle-right" style="margin-right: 3px" aria-hidden="true"></i>
        Vágólapra
      </button>

<!--      <button [disabled]="eppFrissit || !formaiellenorzesenabled()" (click)="formaiellenorzes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Formai ellenőrzés
      </button>
      <button [disabled]="eppFrissit || !osnxmlenabled()" (click)="osnxml()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Letöltés online számla formátumban
      </button>-->
    </nav>
    <app-abu></app-abu>
  </div>

<!--  export enum BizonylatEgyMode {
  Blank = 0,
  Nyomtatas = 1,
  Reszletek = 2,
  Kifizetes = 3,
  Irat = 4,
  Torles = 5,
  Modositas = 6,
  Errol = 7,
  Kibocsatas = 8,
  Storno = 9,
  Penztar = 10,
  Kifizetesrendben = 11,
  Kiszallitva = 12,
  Formaiellenorzes = 13,
  OSNxml = 14,
  }-->

  <ng-container *ngIf="EgyMode === 1">
    <div [@rowanimation]>
      <app-bizonylat-nyomtatas [Bizonylatkod]="Dto.Bizonylatkod">
      </app-bizonylat-nyomtatas>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 2">
    <div [@rowanimation]>
      <app-bizonylat-reszletek [Bizonylatkod]="Dto.Bizonylatkod"
                               [bizonylatLeiro]="bizonylatLeiro">
      </app-bizonylat-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 3">
    <div [@rowanimation]>
      <app-kifizetes-list [Bizonylat]="Dto">
      </app-kifizetes-list>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 4">
    <div [@rowanimation]>
      <app-bizonylatkapcsolat-list [Bizonylatkod]="Dto.Bizonylatkod"
                                   [Ugyfelkod]="Dto.Ugyfelkod">
      </app-bizonylatkapcsolat-list>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 5">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="bizonylatLeiro.BizonylatNev"
                        [eppFrissit]="eppFrissit"
                        (eventTorles)="onTorles($event)">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 6">
    <div [@rowanimation]>
      <app-bizonylat-szerkesztes [uj]="false"
                                 [bizonylatTipus]="bizonylatTipus"
                                 [bizonylatLeiro]="bizonylatLeiro"
                                 [Bizonylatkod]="Dto.Bizonylatkod"
                                 (eventSzerkesztesUtan)="onSzerkesztesUtan($event)">
      </app-bizonylat-szerkesztes>
    </div>
  </ng-container>

  <ng-container *ngIf="EgyMode === 7">
    <div [@rowanimation]>
      <app-bizonylat-errol [Bizonylatkod]="Dto.Bizonylatkod"
                           (eventBizonylaterrolUtan)="onBizonylaterrolUtan($event)">
      </app-bizonylat-errol>
    </div>
  </ng-container>

  <ng-container *ngIf="EgyMode === 8">
    <div [@rowanimation]>
      <app-bizonylat-kibocsatas [DtoOriginal]="Dto"
                                [bizonylatLeiro]="bizonylatLeiro"
                                (eventKibocsatasUtan)="onKibocsatasUtan($event)"
                                (eventKibocsatasUtanKeszpenzes)="onKibocsatasUtanKeszpenzes($event)">
      </app-bizonylat-kibocsatas>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 9">
    <div [@rowanimation]>
      <app-bizonylat-storno [DtoOriginal]="Dto"
                            [bizonylatLeiro]="bizonylatLeiro"
                            (eventStornozando)="onStornozando($event)"
                            (eventStornozo)="onStornozo($event)"
                            (eventStornoMegsem)="onStornoMegsem()">
      </app-bizonylat-storno>
    </div>
  </ng-container>

  <ng-container *ngIf="EgyMode === 10">
    <div [@rowanimation]>
      <app-bizonylat-penztar [DtoOriginal]="Dto"
                             [bizonylatTipus]="bizonylatTipus"
                             [bizonylatLeiro]="bizonylatLeiro"
                             (eventPenztarUtan)="onPenztarUtan()">
      </app-bizonylat-penztar>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 11">
    <div [@rowanimation]>
      <app-bizonylat-kifizetesrendben [DtoOriginal]="Dto"
                                      [bizonylatLeiro]="bizonylatLeiro"
                                      (eventKifizetesrendbenUtan)="onKifizetesrendbenUtan($event)">
      </app-bizonylat-kifizetesrendben>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 12">
    <div [@rowanimation]>
      <app-bizonylat-kiszallitva [DtoOriginal]="Dto"
                                 [bizonylatLeiro]="bizonylatLeiro"
                                 (eventKiszallitvaUtan)="onKiszallitvaUtan($event)">
      </app-bizonylat-kiszallitva>
    </div>
  </ng-container>

  <ng-container *ngIf="EgyMode === 13">
    <div [@rowanimation]>
      <app-bizonylat-formaiellenorzes [Bizonylatkod]="Dto.Bizonylatkod"
                                      [bizonylatLeiro]="bizonylatLeiro">
      </app-bizonylat-formaiellenorzes>
    </div>
  </ng-container>
  <ng-container *ngIf="EgyMode === 14">
    <div [@rowanimation]>
      <app-bizonylat-letoltesonlineszamlaformatumban [Bizonylatkod]="Dto.Bizonylatkod"
                                                     [bizonylatLeiro]="bizonylatLeiro">
      </app-bizonylat-letoltesonlineszamlaformatumban>
    </div>
  </ng-container>
</div>

