<div class="alapkeret">
  <h5>{{bizonylatservice.bizonylatLeiro.BizonylatNev}}</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{bizonylatservice.Dto[bizonylatservice.DtoSelectedIndex].BIZONYLATKOD}} {{bizonylatservice.Dto[bizonylatservice.DtoSelectedIndex].UGYFELNEV}}</div>
    <div style="font-size: smaller">{{bizonylatservice.Dto[bizonylatservice.DtoSelectedIndex].BIZONYLATSZAM}}</div>
  </div>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit" (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit" (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit" (click)="nyomtatas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-print" style="margin-right: 3px" aria-hidden="true"></i>Nyomtatás
      </button>

      <button [disabled]="eppFrissit" (click)="kifizetes()" class="btn btn-sm btn-outline-primary navgomb">
        Kifizetés
      </button>
      <button [disabled]="eppFrissit" (click)="irat()" class="btn btn-sm btn-outline-primary navgomb">
        Irat
      </button>
    </nav>
  </div>

<!--  export enum BizonylatEgyMode {
  Blank = 0,
  Nyomtatas = 1,
  Reszletek = 2,
  Kifizetes = 3,
  Irat = 4,
  Torles = 5,
  Modositas = 6
  }-->
  <ng-container *ngIf="bizonylatservice.EgyMode === 0">
    <app-blank></app-blank>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 1">
    <app-bizonylat-nyomtatas></app-bizonylat-nyomtatas>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 2">
    <app-bizonylat-reszletek></app-bizonylat-reszletek>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 3">
    <app-bizonylat-kifizetes-container></app-bizonylat-kifizetes-container>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 4">
    <app-bizonylat-irat-container></app-bizonylat-irat-container>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 5">
    <app-bizonylat-torles></app-bizonylat-torles>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 6">
    <app-bizonylat-szerkesztes></app-bizonylat-szerkesztes>
  </ng-container>

  <app-errormodal [cim]="bizonylatservice.bizonylatLeiro.BizonylatNev"></app-errormodal>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>
