<div class="alapkeret">
  <h5>{{bizonylatservice.bizonylatLeiro.BizonylatNev}}</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{bizonylatservice.Dto[bizonylatservice.DtoSelectedIndex].Bizonylatkod}}
      {{bizonylatservice.Dto[bizonylatservice.DtoSelectedIndex].Ugyfelnev}}</div>
    <div style="font-size: smaller">{{bizonylatservice.Dto[bizonylatservice.DtoSelectedIndex].Bizonylatszam}}</div>
  </div>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || !torlesenabled()" (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !modositasenabled()" (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit" (click)="nyomtatas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-print" style="margin-right: 3px" aria-hidden="true"></i>Nyomtatás
      </button>

      <button [disabled]="eppFrissit" (click)="errol()" class="btn btn-sm btn-outline-primary navgomb">
        Erről
      </button>
      <button [disabled]="eppFrissit || !kibocsatasenabled()" (click)="kibocsatas()" class="btn btn-sm btn-outline-primary navgomb">
        Kibocsátás
      </button>
      <button [disabled]="eppFrissit || !penztarenabled()" (click)="penztar()" class="btn btn-sm btn-outline-primary navgomb">
        Pénztár
      </button>
      <button [disabled]="eppFrissit || !stornoenabled()" (click)="storno()" class="btn btn-sm btn-outline-primary navgomb">
        Storno
      </button>
      <button [disabled]="eppFrissit || !kifizetesrendbenenabled()" (click)="kifizetesrendben()" class="btn btn-sm btn-outline-primary navgomb">
        Kifizetés rendben
      </button>
      <button [disabled]="eppFrissit || !kiszallitvaenabled()" (click)="kiszallitva()" class="btn btn-sm btn-outline-primary navgomb">
        Kiszállítva
      </button>
      <button [disabled]="eppFrissit" (click)="kifizetes()" class="btn btn-sm btn-outline-primary navgomb">
        Kifizetés
      </button>
      <button [disabled]="eppFrissit" (click)="irat()" class="btn btn-sm btn-outline-primary navgomb">
        Irat
      </button>

      <button [disabled]="eppFrissit || !formaiellenorzesenabled()" (click)="formaiellenorzes()" class="btn btn-sm btn-outline-primary navgomb">
        Formai ellenőrzés
      </button>
      <button [disabled]="eppFrissit || !osnxmlenabled()" (click)="osnxml()" class="btn btn-sm btn-outline-primary navgomb">
        OSN xml
      </button>
      <button [disabled]="eppFrissit" (click)="vagolap()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-angle-right" style="margin-right: 3px" aria-hidden="true"></i>
        Vágólapra
      </button>
    </nav>
    <app-abu></app-abu>
  </div>

<!--  export enum BizonylatEgyMode {
  Blank = 0,
  Nyomtatas = 1,
  Reszletek = 2,
  Kifizetes = 3,
  Irat = 4,
  Torles = 5,
  Modositas = 6,
  Errol = 7,
  Kibocsatas = 8,
  Storno = 9,
  Penztar = 10,
  Kifizetesrendben = 11,
  Kiszallitva = 12,
  Formaiellenorzes = 13,
  OSNxml = 14,
  }-->
  <ng-container *ngIf="bizonylatservice.EgyMode === 0">
    <div [@rowanimation]>
      <app-blank></app-blank>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 1">
    <div [@rowanimation]>
      <app-bizonylat-nyomtatas></app-bizonylat-nyomtatas>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 2">
    <div [@rowanimation]>
      <app-bizonylat-reszletek></app-bizonylat-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 3">
    <div [@rowanimation]>
      <app-bizonylat-kifizetes-container></app-bizonylat-kifizetes-container>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 4">
    <div [@rowanimation]>
      <app-bizonylat-irat-container></app-bizonylat-irat-container>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 5">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="bizonylatservice.bizonylatLeiro.BizonylatNev"
                        [eppFrissit]="eppFrissit"
                        (OkClick)="TorlesOk()"
                        (CancelClick)="TorlesCancel()">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 6">
    <div [@rowanimation]>
      <app-bizonylat-szerkesztes></app-bizonylat-szerkesztes>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 7">
    <div [@rowanimation]>
      <app-bizonylat-errol></app-bizonylat-errol>
    </div>
  </ng-container>

  <ng-container *ngIf="bizonylatservice.EgyMode === 8">
    <div [@rowanimation]>
      <app-bizonylat-kibocsatas></app-bizonylat-kibocsatas>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 9">
    <div [@rowanimation]>
      <app-bizonylat-storno></app-bizonylat-storno>
    </div>
  </ng-container>

  <ng-container *ngIf="bizonylatservice.EgyMode === 10">
    <div [@rowanimation]>
      <app-bizonylat-penztar></app-bizonylat-penztar>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 11">
    <div [@rowanimation]>
      <app-bizonylat-kifizetesrendben></app-bizonylat-kifizetesrendben>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 12">
    <div [@rowanimation]>
      <app-bizonylat-kiszallitva></app-bizonylat-kiszallitva>
    </div>
  </ng-container>

  <ng-container *ngIf="bizonylatservice.EgyMode === 13">
    <div [@rowanimation]>
      <app-bizonylat-formaiellenorzes></app-bizonylat-formaiellenorzes>
    </div>
  </ng-container>
  <ng-container *ngIf="bizonylatservice.EgyMode === 14">
    <div [@rowanimation]>
      <app-bizonylat-osnxml></app-bizonylat-osnxml>
    </div>
  </ng-container>

  <app-errormodal [cim]="bizonylatservice.bizonylatLeiro.BizonylatNev"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>

