<!--
export enum BizonylatesIratContainerMode {
  Blank = 0,
  List = 1,
  EgyBizonylat = 2,
  EgyIrat = 3,
  UjBizonylat = 4,
  UjIrat = 5,
  UjAjanlat = 6,
  Levalasztas = 7
}-->

<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 1">
  <app-projekt-bizonylatesirat-list></app-projekt-bizonylatesirat-list>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 2">
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 3">
  <app-irat-egy></app-irat-egy>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 4">
  <app-projekt-bizonylatesirat-ujbizonylat></app-projekt-bizonylatesirat-ujbizonylat>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 5">
  <app-projekt-bizonylatesirat-ujirat></app-projekt-bizonylatesirat-ujirat>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 6">
  <app-projekt-bizonylatesirat-ujajanlat></app-projekt-bizonylatesirat-ujajanlat>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 7">
  <app-projekt-bizonylatesirat-levalasztas></app-projekt-bizonylatesirat-levalasztas>
</ng-container>
