%modal-base {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.zoom-modal {
  @extend %modal-base;
}
.error-modal {
  @extend %modal-base;
}
.sidebar-modal {
  @extend %modal-base;
}

%modal-content-base {
  background-color: $hatterszin;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 1em;
}
.zoom-modal-content-complex {
  @extend %modal-content-base;
  width: 80%;
  border: 3px solid $zoomszin;
}
.zoom-modal-content-primitive {
  @extend %modal-content-base;
  width: 30%;
  border: 3px solid $zoomszin;
}
.error-modal-content {
  @extend %modal-content-base;
  width: 50%;
  border: 3px solid red;
}
.sidebar-modal-content {
  @extend %modal-content-base;
  left: 0;
  margin: 0;
  width: 20em;
  height: 100%;
}




jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body-primitive {
      padding: 1em;
      background: $hatterszin;

      margin: 20% auto;
      width: 30%;
      min-width: 300px;
      border: $zoomszin 3px solid;
    }

    .jw-modal-body-complex {
      padding: 1em;
      background: $hatterszin;

      margin: 20% auto;
      width: 80%;
      min-width: 300px;
      border: $zoomszin 3px solid;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: rgba(0,0,0,0.4);

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
