:root {
  --hatterszin: white;
  --szovegszin: black;
  --keretszin: #dddddd;
  --kivalasztottszin: #d0e0df;
  --kontrolszin: #5d8dea;
  --zoomszin: rgba(149, 253, 189, 0.67);
  --navbarszin: #4e555b;
}



@import 'szinek';
@import 'modal';
@import 'tabla';
@import 'spinner';
@import 'navbar';

html, body {
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 14px;
  font-weight: 300;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
h5 {
  font-family: inherit;
  font-size: 140%;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 0.25em;
}

input[type="file"] {
  display: none;
}




.alapkeret {
  overflow: auto;
  background-color: $hatterszin;
  border: 1px solid $keretszin;
  padding: 0.5em;
}

.editform-card {
  float: left;
  margin-right: 1em;
}
.editform-row {
  margin-left: 1em;
  margin-bottom: 0.7em;
}
.editform-row-block {
  display: inline-block;
  margin-right: 0.5em
}
.editform-row-bottom {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;

  clear: both;
}

.editform-label {
  text-align: left;
  font-style: italic;
  font-family: inherit;
  font-size: 90%;
  margin-bottom: 0.1em;
}
.editform-edit {
  outline: 0;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-family: inherit;
  height: calc(1.5em);
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
}
.editform-edit:disabled {
  background-color: var(--keretszin);
}
.zoomedit {
  background-color: var(--zoomszin);
}


.datum {
  width: 5em;
}
.idobelyeg {
  width: 9em;
}
.penznemwidth {
  width: 3em;
}
.ugyfelwidth {
  width: 20em;
}
.cimwidth {
  width: 30em;
}
.megjegyzeswidth {
  width: 50em;
}
.primitivwidth {
  width: 15em;
}
.kisprimitivwidth {
  width: 8em;
}
.cikkwidth {
  width: 30em;
}
.passwordwidth {
  width: 10em;
}
.emailwidth {
  width: 15em;
}

.editform-combo {
  outline: 0;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-family: inherit;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
}
.editform-combo:disabled {
  background-color: var(--keretszin);
}
.editform-date {
  outline: 0;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-family: inherit;
  height: calc(1.5em);
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
  width: 10em;

}
.editform-date:disabled {
  background-color: var(--keretszin);
}
.editform-number {
  outline: 0;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.3em;
  font-family: inherit;
  height: calc(1.5em);
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
  width: 8em;
  text-align: right;
}
.editform-number:disabled {
  background-color: var(--keretszin);
}
/*.ng-valid:not(form) {*/
/*border-left: 0.3em solid #56ac96;*/
/*}*/
.ng-invalid:not(form) {
  border-left: 0.3em solid lightpink;
}

.em4width {
  width: 4em;
}
.em6width {
  width: 6em;
}
.em8width {
  width: 8em;
}
.em10width {
  width: 10em;
}
.em15width {
  width: 15em;
}
.em20width {
  width: 20em;
}



.toolbar {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.toolbutton {
  cursor: pointer;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  background-color: $hatterszin;
  color: var(--kontrolszin);
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  font-family: inherit;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.toolbutton:disabled {
  background-color: var(--keretszin);
  cursor: not-allowed;
}
.toolbutton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--kontrolszin);
}
.toolbutton:hover {
  background-color: var(--kontrolszin);
  color: $hatterszin;
}

.okbutton {
  background-color: var(--kontrolszin);
  color: $hatterszin;
}

.tooledit {
  outline: 0;
  background-color: $hatterszin;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.2em;
  font-family: inherit;
  height: calc(1.5em);
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
}
.toolcombo {
  outline: 0;
  background-color: $hatterszin;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.2em;
  font-family: inherit;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
}













