<div class="alapkeret">
  <h5 *ngIf="!meservice.zoom">{{meservice.cim}}</h5>
  <h5 *ngIf="meservice.zoom">{{meservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="meservice.ekDto.szempont"
               [(minta)]="meservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="onUj()"
               [visZoom]="meservice.zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="meservice.Dto"
             [colsets]="meservice.GridSettings"
             [zoom]="meservice.zoom"
             (forzoom)="onStartzoom($event)"
             (forid)="onId($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #griduj>
    <app-me-szerkesztes [uj] = "true"
                        (eventSzerkeszteskesz)="onUjkesz()">
    </app-me-szerkesztes>
  </ng-template>
  <ng-template #gridegy>
    <app-me-egy (eventTorlesutan)="onTorlesutan()"></app-me-egy>
  </ng-template>
</div>
