<div class="alapkeret">
  <h5 *ngIf="!meservice.zoom">{{meservice.cim}}</h5>
  <h5 *ngIf="meservice.zoom">{{meservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="meservice.ekDto.szempont"
               [(minta)]="meservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="meservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla [items]="meservice.Dto"
             [colsets]="meservice.GridSettings"
             [zoom]="meservice.zoom"
             [(selectedrow)]="ti"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)">
  </app-tabla>

  <app-errormodal [cim]="meservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
