<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{bizonylatkifizetesservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{bizonylatkifizetesservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div>
        <div class="editform-label">Dátum</div>
        <input type="date" class="editform-date em10width" id="datum"
               [(ngModel)]="Datum" name="datum">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Összeg</div>
        <input type="number" class="editform-edit em10width" id="osszeg"
               [(ngModel)]="DtoEdited.Osszeg" name="osszeg">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Pénznem</div>
        <input type="text" class="editform-edit em4width" id="penznem"
               maxlength="3" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="DtoEdited.Penznem" name="penznem">
        <button class="toolbutton" type="button"
                (click)="PenznemZoom()">...</button>
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Fizetési mód</div>
        <input type="text" class="editform-edit em10width" id="fizetesimod"
               maxlength="20" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="DtoEdited.Fizetesimod" name="fizetesimod">
        <button class="toolbutton" type="button"
                (click)="FizetesimodZoom()">...</button>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <!--  export enum IratSzerkesztesMode {
    Blank = 0,
    PenznemZoom = 1,
    FizetesimodZoom = 2,
    }-->

  <div id="kifizeteszoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <div class="zoom-modal-content-primitiv">
      <ng-container *ngIf="SzerkesztesMode === 1">
        <app-penznem-list [maszk]="DtoEdited.Penznem || ''"
                          (eventSelectzoom)="onPenznemSelectzoom($event)"
                          (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
      </ng-container>

      <ng-container *ngIf="SzerkesztesMode === 2">
        <app-fizetesimod-list [maszk]="DtoEdited.Fizetesimod || ''"
                              (eventSelectzoom)="onFizetesimodSelectzoom($event)"
                              (eventStopzoom)="onFizetesimodStopzoom()"></app-fizetesimod-list>
      </ng-container>
    </div>
  </div>
</div>

