<div class="alapkeret">
  <h5>{{dokumentumservice.cim}}</h5>
  <div>
    <nav>
      <button (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        Vissza a listához
      </button>
      <button [disabled]="dokumentumservice.uj" (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="dokumentumservice.uj" (click)="letoltes()" class="btn btn-sm btn-outline-primary navgomb">
        Letöltés
      </button>
    </nav>
  </div>

  <router-outlet></router-outlet>
  <app-errormodal [cim]="dokumentumservice.cim"></app-errormodal>
</div>
