<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Új vagy felülírás</h5>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="editform-row">
        <div class="editform-label">Fuvarszámla</div>
        <input type="text" class="editform-edit em10width" id="bizonylatszam"
               maxlength="100" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="dtoFuvarszamla.Bizonylatszam" name="bizonylatszam">
        <button class="toolbutton" type="button" (click)="BizonylatZoom()">...</button>
    </div>

    <div class="editform-row">
        <div class="editform-label">Fuvardíj</div>
        <input type="text" class="editform-edit em10width" id="fuvardij"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="Fuvardij" name="fuvardij">
    </div>

    <div class="editform-row">
        <div class="editform-label">Fuvardíj pénzneme</div>
        <input type="text" class="editform-edit em10width" id="fuvardijpenzneme"
               maxlength="20" required autocomplete="off" disabled="true"
               [(ngModel)]="dtoFuvarszamla.Penznem" name="fuvardijpenzneme">
    </div>

    <div class="editform-row">
        <div class="editform-label">Fuvardíj árfolyama</div>
        <input type="text" class="editform-edit em10width" id="fuvardijarfolyama"
               maxlength="20" required autocomplete="off" disabled="true"
               [(ngModel)]="dtoFuvarszamla.Arfolyam" name="fuvardijarfolyama">
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="doCancel()">Mégsem</button>
    </div>
  </form>

  <div id="fuvarszamlazoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <ng-container *ngIf="SzerkesztesMode === 1">
      <div class="zoom-modal-content">
        <app-bizonylat-zoom [maszk]="dtoFuvarszamla.Bizonylatszam"
                            (eventStopzoom)="eventStopZoom()"
                            (eventSelectzoom)="eventSelectzoom($event)">
        </app-bizonylat-zoom>
      </div>
    </ng-container>
  </div>
</div>
