<!--
export enum BizonylatKapcsolatContainerMode {
Blank = 0,
List = 1,
Egy = 2,
Uj = 3,
Levalasztas = 4,
Vagolap = 5
}-->


<ng-container *ngIf="bizonylatkapcsolatservice.ContainerMode === 1">
  {{bizonylatkapcsolatservice.ContainerMode}}
  <app-bizonylat-irat-list></app-bizonylat-irat-list>
</ng-container>
<ng-container *ngIf="bizonylatkapcsolatservice.ContainerMode === 2">
  <app-irat-egy></app-irat-egy>
</ng-container>
<ng-container *ngIf="bizonylatkapcsolatservice.ContainerMode === 3">
  <app-bizonylat-irat-uj></app-bizonylat-irat-uj>
</ng-container>

<ng-container *ngIf="bizonylatkapcsolatservice.ContainerMode === 4">
  <app-bizonylat-irat-levalasztas></app-bizonylat-irat-levalasztas>
</ng-container>

<ng-container *ngIf="bizonylatkapcsolatservice.ContainerMode === 5">
  <app-bizonylat-irat-vagolaprol></app-bizonylat-irat-vagolaprol>
</ng-container>
