<div class="alapkeret">
  Válasszon tételt:
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Kapcsolat</th>
      <th>Tipus</th>
      <th>Azonosító</th>
      <th>Keletkezett</th>
      <th>Irány</th>
      <th>Tárgy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of projektkapcsolatservice.Dto; let i = index">
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
          (click)="setClickedRow(i)">{{item.Projektkapcsolatkod}}</td>
      <td>{{item.Kapcsolat}}</td>
      <td>{{item.Tipus}}</td>
      <td>{{item.Azonosito}}</td>
      <td>{{item.Keletkezett | datehun}}</td>
      <td>{{item.Irany}}</td>
      <td>{{item.Targy}}</td>
    </tr>
    </tbody>
  </table>
  <app-errormodal [cim]="projektkapcsolatservice.cim"></app-errormodal>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>
