<div class="alapkeret">
  <h5>Napelem</h5>
  <div *ngFor="let entry of entries" class="form-check">
    <input class="form-check-input" type="radio" name="radiogroup" id="entry" [checked]="entry === '-'" (change)="change(entry)">
    <label class="form-check-label" for="entry">
      {{entry}}
    </label>
  </div>
  <div class="row no-gutters" style="margin-top: 10px">
    <button class="btn btn-sm btn-primary" [disabled]="eppFrissit" type="button" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="megsem()">Mégsem</button>
  </div>
</div>
