<div class="alapkeret">
  <h5>{{projektservice.cim}} dátumok</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">


    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Keletkezett</div>
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control form-control-sm" id="keletkezett"
               [(ngModel)]="Keletkezett" name="keletkezett">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Megrendelve</div>
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control form-control-sm" id="megrendelve"
               [(ngModel)]="Megrendelve" name="megrendelve">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Kivitelezési határidő</div>
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control form-control-sm" id="kivhat"
               [(ngModel)]="KivHat" name="kivhat">
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

  <app-errormodal [cim]="projektservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
