<div class="alapkeret">
  <h5>{{projektservice.cim}} dátumok</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">


    <div class="editform-row">
        <div class="editform-label">Keletkezett</div>
        <input type="date" class="editform-date em10width" id="keletkezett"
               [(ngModel)]="Keletkezett" name="keletkezett">
    </div>

    <div class="editform-row">
        <div class="editform-label">Megrendelve</div>
        <input type="date" class="editform-date em10width" id="megrendelve"
               [(ngModel)]="Megrendelve" name="megrendelve">
    </div>

    <div class="editform-row">
        <div class="editform-label">Kivitelezési határidő</div>
        <input type="date" class="editform-date em10width" id="kivhat"
               [(ngModel)]="KivHat" name="kivhat">
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
