<div class="alapkeret">
  <h5>{{projektservice.cim}} dátumok</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">


    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Keletkezett</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="keletkezett"
               [(ngModel)]="Keletkezett" name="keletkezett">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Megrendelve</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="megrendelve"
               [(ngModel)]="Megrendelve" name="megrendelve">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Kivitelezési határidő</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="kivhat"
               [(ngModel)]="KivHat" name="kivhat">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
