<div class="alapkeret">
  <h5>{{particioservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="szallito()" class="btn btn-sm btn-outline-primary navgomb">
        Szállító
      </button>
      <button [disabled]="eppFrissit" (click)="nav()" class="btn btn-sm btn-outline-primary navgomb">
        NAV
      </button>
      <button [disabled]="eppFrissit" (click)="smtp()" class="btn btn-sm btn-outline-primary navgomb">
        SMTP
      </button>
      <button [disabled]="eppFrissit" (click)="bizonylat()" class="btn btn-sm btn-outline-primary navgomb">
        Bizonylat
      </button>
      <button [disabled]="eppFrissit" (click)="projekt()" class="btn btn-sm btn-outline-primary navgomb">
        Projekt
      </button>
      <button [disabled]="eppFrissit" (click)="volume()" class="btn btn-sm btn-outline-primary navgomb">
        Volume
      </button>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <app-errormodal [cim]="particioservice.cim"></app-errormodal>
</div>

