<div class="alapkeret">
  <h5>{{penztarservice.cim}}</h5>
  <h6 *ngIf="penztarservice.DtoSelectedIndex !== -1">{{penztarservice.Dto[penztarservice.DtoSelectedIndex].Penztar1}} {{penztarservice.Dto[penztarservice.DtoSelectedIndex].Egyenleg}} {{penztarservice.Dto[penztarservice.DtoSelectedIndex].Penznem}}</h6>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || penztarservice.DtoSelectedIndex === -1 || !mod || !nyitva"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || penztarservice.DtoSelectedIndex === -1 || !mod || !nyitva"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || penztarservice.DtoSelectedIndex === -1"
              (click)="tetelek()" class="btn btn-sm btn-outline-primary navgomb">
        Tételek
      </button>
      <button [disabled]="eppFrissit || penztarservice.DtoSelectedIndex === -1"
              (click)="export()" class="btn btn-sm btn-outline-primary navgomb">
        Export
      </button>
    </nav>
  </div>

<!--  export enum PenztarEgyMode {
  Reszletek = 1,
  Torles = 2,
  Modositas = 3,
  Tetelek = 4,
  Export = 5
  }-->

  <ng-container *ngIf="penztarservice.EgyMode === 1">
    <app-penztar-reszletek></app-penztar-reszletek>
  </ng-container>
  <ng-container *ngIf="penztarservice.EgyMode === 2">
    <app-penztar-torles></app-penztar-torles>
  </ng-container>
  <ng-container *ngIf="penztarservice.EgyMode === 3">
    <app-penztar-szerkesztes></app-penztar-szerkesztes>
  </ng-container>
  <ng-container *ngIf="penztarservice.EgyMode === 4">
    <app-penztartetel-container></app-penztartetel-container>
  </ng-container>
  <ng-container *ngIf="penztarservice.EgyMode === 5">
    <app-penztar-export></app-penztar-export>
  </ng-container>

  <app-errormodal [cim]="penztarservice.cim"></app-errormodal>
</div>
