<div class="alapkeret">
  <h5>Térkép</h5>

  <div class="form-group">
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
           placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>

  {{latitude}}, {{longitude}} - {{zoom}}

  <agm-map [mapTypeControl]="true"
           [streetViewControl]="false"
           [zoomControl]="false"
           [latitude]="latitude"
           [longitude]="longitude"
           [zoom]="zoom"
           (zoomChange)="zoomChange($event)">
    <agm-marker [latitude]="latitude"
                [longitude]="longitude"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
    </agm-marker>
  </agm-map>
</div>
