<div class="alapkeret">
  <h5>{{afakulcsservice.cim}}</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Afakulcs1}}, {{afakulcsservice.Dto[afakulcsservice.DtoSelectedIndex].Afamerteke}}</div>
  </div>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || afakulcsservice.DtoSelectedIndex === -1 || !mod"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || afakulcsservice.DtoSelectedIndex === -1 || !mod"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
    </nav>
  </div>

  <!--  export enum AfakulcsEgyMode {
  Blank = 0,
  Reszletek = 1,
  Torles = 2,
  Modositas = 3
  }-->

  <ng-container *ngIf="afakulcsservice.EgyMode === 1">
    <div [@rowanimation]>
      <app-afakulcs-reszletek></app-afakulcs-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="afakulcsservice.EgyMode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="afakulcsservice.cim"
                        [eppFrissit]="eppFrissit"
                        (OkClick)="TorlesOk()"
                        (CancelClick)="TorlesCancel()">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="afakulcsservice.EgyMode === 3">
    <div [@rowanimation]>
      <app-afakulcs-szerkesztes></app-afakulcs-szerkesztes>
    </div>
  </ng-container>

  <app-errormodal [cim]="afakulcsservice.cim"></app-errormodal>
</div>


