<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Nyomtatás</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="editform-row">
      <select type="text" class="editform-combo" formControlName="nyomtatastipus">
        <option *ngFor="let s of entries; let i = index" [ngValue]="i">{{s}}</option>
      </select>
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()" [disabled]="!eppFrissit">Stop</button>
    </div>
  </form>
</div>

