<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{cim}}</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="editform-row">
      <div class="editform-label">Irattipus</div>
      <input type="text" class="editform-edit primitivwidth" appAutofocus formControlName="irattipus">
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>

  </form>
</div>
