<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{dokumentumservice.cim}} feltöltés</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <input type="file" (change)="onFileChange($event)" #fileInput>
    </div>

    <div class="editform-row">
        <div class="editform-label">Megjegyzés</div>
        <input type="text" class="tooledit em15width" id="megjegyzes"
               autocomplete="off"
               [(ngModel)]="megjegyzes" name="megjegyzes">
        <div style="color: red">Ha ez a mező üresen marad, automatikusan<br> az eredeti fájlnév kerül a megjegyzésbe.</div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="file === undefined" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
