<div class="alapkeret">
  <h5 *ngIf="uj">Új {{bizonylatLeiro.BizonylatNev | lowercase}}</h5>
  <h5 *ngIf="!uj">{{bizonylatLeiro.BizonylatNev}} módosítása</h5>

  <div class="row no-gutters editform-row">
    <div class="col-md-1">
      <div class="editform-title">Ügyfél</div>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control form-control-sm" id="ugyfelnev"
             maxlength="200" required autocomplete="off" style="background-color: aquamarine"
             [(ngModel)]="ComplexDtoEdited.Dto.Ugyfelnev">
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm btn-outline-primary" (click)="UgyfelZoom()"
              [disabled] = "SzerkesztesMode !== 1"
              style="margin-left: 4px" type="button">...</button>
    </div>
    <div class="col-md-2">
      <div class="editform-title">Pénznem</div>
    </div>
    <div class="col-md-1">
      <input type="text" class="form-control form-control-sm" id="penznem"
             maxlength="3" required autocomplete="off" style="background-color: aquamarine"
             [(ngModel)]="ComplexDtoEdited.Dto.Penznem">
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm btn-outline-primary" (click)="PenznemZoom()"
              [disabled] = "SzerkesztesMode !== 1"
              style="margin-left: 4px" type="button">...</button>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-1">
      <div class="editform-title"></div>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control form-control-sm" id="ugyfelcim"
             readonly
             [(ngModel)]="ComplexDtoEdited.Dto.Ugyfelcim">
    </div>
    <div class="col-md-3">
      <div class="editform-title">Árfolyam</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="arfolyam"
             [(ngModel)]="ComplexDtoEdited.Dto.Arfolyam">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-1">
      <div class="editform-title">Megjegyzés</div>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control form-control-sm" id="megjegyzes"
             maxlength="200" autocomplete="off"
             [(ngModel)]="ComplexDtoEdited.Dto.Megjegyzesfej" name="megjegyzes">
    </div>
    <div class="col-md-3">
      <div class="editform-title">Fizetési mód</div>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control form-control-sm" id="fizetesimod"
             maxlength="20" required autocomplete="off" style="background-color: aquamarine"
             [(ngModel)]="ComplexDtoEdited.Dto.Fizetesimod" name="megjegyzes">
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm btn-outline-primary" (click)="FizetesimodZoom()"
              [disabled] = "SzerkesztesMode !== 1"
              style="margin-left: 4px" type="button">...</button>
      <button class="btn btn-sm btn-outline-primary" (click)="Bk()" style="margin-left: 4px" type="button">Bk</button>
      <button class="btn btn-sm btn-outline-primary" (click)="Kp()" style="margin-left: 4px" type="button">Kp</button>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 input-group">
      <input type="text" class="form-control form-control-sm" id="netto" style="text-align:right"
             readonly="true" [(ngModel)]="ComplexDtoEdited.Dto.Netto">
      <input type="text" class="form-control form-control-sm" id="afa" style="text-align:right"
             readonly="true" [(ngModel)]="ComplexDtoEdited.Dto.Afa">
      <input type="text" class="form-control form-control-sm" id="brutto" style="text-align:right"
             readonly="true" [(ngModel)]="ComplexDtoEdited.Dto.Brutto">
    </div>
    <div class="col-md-3">
      <div class="editform-title">A bizonylat kelte</div>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control form-control-sm" id="bizonylatkelte"
             [(ngModel)]="BizonylatKelte">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-3">
      <div class="editform-title">A teljesités kelte</div>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control form-control-sm" id="teljesiteskelte"
             [(ngModel)]="TeljesitesKelte">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-3">
      <div class="editform-title">Fizetési határidő</div>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control form-control-sm" id="fizetesihatarido"
             [(ngModel)]="FizetesiHatarido">
    </div>
  </div>

<!--  export enum BizonylatSzerkesztesMode {
  List = 1,
  UgyfelZoom = 2,
  PenznemZoom = 3,
  FizetesimodZoom = 4,
  TetelSzerkesztes = 5,
  TetelTorles = 6,
  }-->

  <ng-container *ngIf="SzerkesztesMode === 2">
    <app-ugyfel-list [maszk]="ComplexDtoEdited.Dto.Ugyfelnev || ''"
                     (eventSelectzoom)="onUgyfelSelectzoom($event)"
                     (eventStopzoom)="onUgyfelStopzoom()"></app-ugyfel-list>
  </ng-container>

  <ng-container *ngIf="SzerkesztesMode === 3">
    <app-penznem-list [maszk]="ComplexDtoEdited.Dto.Penznem || ''"
                      (eventSelectzoom)="onPenznemSelectzoom($event)"
                      (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
  </ng-container>

  <ng-container *ngIf="SzerkesztesMode === 4">
    <app-fizetesimod-list [maszk]="ComplexDtoEdited.Dto.Fizetesimod || ''"
                          (eventSelectzoom)="onFizetesimodSelectzoom($event)"
                          (eventStopzoom)="onFizetesimodStopzoom()"></app-fizetesimod-list>
  </ng-container>

  <div class="alapkeret">
    <nav>
      <button [disabled]="spinnerservice.eppFrissit" (click)="onTetelUjElott()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>
      </button>
    </nav>
    <app-bizonylatteteltabla #teteltabla
                             [enEdit]="true"
                             [Dto]="ComplexDtoEdited.LstTetelDto"
                             [ujTemplate]="gridmod"
                             [torlesTemplate]="gridtorles"
                             [modTemplate]="gridmod"
                             (eventTorlesElott)="onTetelTorlesElott($event)"
                             (eventModositasElott)="onTetelModositasElott($event)">
    </app-bizonylatteteltabla>

    <ng-template #gridtorles>
      <app-tetel-torles [cim]="'Bizonylattétel'"
                        [eppFrissit]="spinnerservice.eppFrissit"
                        (eventTorles)="onTeteltorles($event)">
      </app-tetel-torles>
    </ng-template>

    <ng-template #gridmod>
      <app-bizonylattetel-szerkesztes [teteluj]="teteluj"
                                      [bizonylatLeiro]="bizonylatLeiro"
                                      [szvesz]="szvesz"
                                      [TetelDtoEdited]="TetelDtoEdited"
                                      (eventUjModositasUtan)="onUjModositasUtan($event)">
      </app-bizonylattetel-szerkesztes>
    </ng-template>
  </div>

  <div class="row no-gutters" style="margin-bottom: 10px">
    <button class="btn btn-sm btn-primary" [disabled]="spinnerservice.eppFrissit || SzerkesztesMode !== 1"
            type="button" (click)="onSubmit()">Ok</button>
    <button class="btn btn-sm btn-default" [disabled]="spinnerservice.eppFrissit || SzerkesztesMode !== 1"
            style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
  </div>
</div>
