<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Beszerzés</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">A teljesítés kelte</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="tol"
               [(ngModel)]="tol" name="tol">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <input type="date" class="form-control form-control-sm oszlop3" id="ig"
               [(ngModel)]="ig" name="ig">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Részletek is</div>
        <select type="text" class="form-control form-control-sm"
                [(ngModel)]="reszletekis" name="reszletekis">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Stop</button>
    </div>
  </form>
</div>
