<div class="alapkeret">
  <h5>Beszerzés</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">A teljesítés kelte</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="tol"
               [(ngModel)]="tol" name="tol">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <input type="date" class="form-control form-control-sm oszlop3" id="ig"
               [(ngModel)]="ig" name="ig">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Részletek is</div>
        <select type="text" class="form-control form-control-sm"
                [(ngModel)]="reszletekis" name="reszletekis">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-secondary" style="margin-left:3px;" [disabled]="!eppFrissit" type="button" (click)="onCancel()">Stop</button>
    </div>
  </form>
</div>
