<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="teteluj">Új {{bizonylatLeiro.BizonylatNev | lowercase}}tétel</h5>
  <h5 *ngIf="!teteluj">{{bizonylatLeiro.BizonylatNev}}tétel módosítása</h5>

  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Termékdíjas</div>
    </div>
    <div class="col-md-1">
      <select type="text" class="form-control form-control-sm" name="termekdijas"
              [disabled]="!szvesz"
              [(ngModel)]="TetelDtoEdited.Termekdijas"
              (change)="tetelcalc($event)">
        <option value="false">Nem</option>
        <option value="true">Igen</option>
      </select>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Közvetített szolgáltatás</div>
    </div>
    <div class="col-md-1">
      <select type="text" class="form-control form-control-sm" name="kozvetitett"
              [disabled]="!szvesz"
              [(ngModel)]="TetelDtoEdited.Kozvetitettszolgaltatas">
        <option value="false">Nem</option>
        <option value="true">Igen</option>
      </select>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Előleg</div>
    </div>
    <div class="col-md-1">
      <select type="text" class="form-control form-control-sm" name="eloleg"
              [disabled]="!szvesz"
              [(ngModel)]="TetelDtoEdited.Ezeloleg">
        <option value="false">Nem</option>
        <option value="true">Igen</option>
      </select>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Megnevezés</div>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control form-control-sm" id="megnevezes" name="megnevezes"
             [(ngModel)]="TetelDtoEdited.Megnevezes"
             maxlength="100" required autocomplete="off" style="background-color: aquamarine">
    </div>
    <div class="col-md-1">
      <button class="toolbutton" (click)="CikkZoom()"
              style="margin-left: 4px" type="button">...</button>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Megjegyzés</div>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control form-control-sm" id="megjegyzes" name="megjegyzes"
             [(ngModel)]="TetelDtoEdited.Megjegyzes"
             autocomplete="off">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Mennyiség</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="mennyiseg" name="mennyiseg"
             [(ngModel)]="TetelDtoEdited.Mennyiseg"
             (focusout)="tetelcalc($event)"
             required min="0">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Me</div>
    </div>
    <div class="col-md-1">
      <input type="text" class="form-control form-control-sm" id="me" name="me"
             [(ngModel)]="TetelDtoEdited.Me"
             maxlength="10" required autocomplete="off" style="background-color: aquamarine">
    </div>
    <div class="col-md-1">
      <button class="toolbutton" (click)="MeZoom()"
              style="margin-left: 4px" type="button">...</button>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Egységár</div>
    </div>
    <div class="col-md-4 input-group">
      <input type="number" class="form-control form-control-sm" id="egysegar" name="egysegar"
             [(ngModel)]="TetelDtoEdited.Egysegar"
             (focusout)="tetelcalc($event)"
             required>
      <button class="toolbutton" (click)="bruttobol()"
              style="margin-left: 4px;margin-right: 4px" type="button"><- Br</button>
      <input type="number" class="form-control form-control-sm" id="bruttoosszeg" name="bruttoosszeg"
             [(ngModel)]="bruttoosszeg">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">ÁFA kulcs</div>
    </div>
    <div class="col-md-1">
      <input type="text" class="form-control form-control-sm" id="afakulcs" name="afakulcs"
             [(ngModel)]="TetelDtoEdited.Afakulcs"
             maxlength="10" required autocomplete="off" style="background-color: aquamarine">
    </div>
    <div class="col-md-1">
      <button class="toolbutton" (click)="AfakulcsZoom()"
              style="margin-left: 4px" type="button">...</button>
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Tömeg, kg</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="tomegkg" name="tomegkg"
             [(ngModel)]="TetelDtoEdited.Tomegkg"
             (focusout)="tetelcalc($event)"
             min="0">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <div class="editform-title">Netto</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="netto" name="netto" readonly="true"
             [(ngModel)]="TetelDtoEdited.Netto">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Termékdíj KT</div>
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control form-control-sm" id="termekdijkt" name="termekdijkt"
             [(ngModel)]="TetelDtoEdited.Termekdijkt"
             maxlength="10" autocomplete="off" style="background-color: aquamarine">
    </div>
    <div class="col-md-1">
      <button class="toolbutton" (click)="TermekdijZoom()"
              style="margin-left: 4px" type="button">...</button>
      <button class="toolbutton" (click)="TermekdijTorles()"
              style="margin-left: 4px" type="button">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <div class="editform-title">ÁFA</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="afa" name="afa" readonly="true"
             [(ngModel)]="TetelDtoEdited.Afa">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Termékdíj megnevezés</div>
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control form-control-sm" id="termekdijmegnevezes" name="termekdijmegnevezes"
             [(ngModel)]="TetelDtoEdited.Termekdijmegnevezes"
             readonly="true" autocomplete="off">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <div class="editform-title">Brutto</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="brutto" name="brutto" readonly="true"
             [(ngModel)]="TetelDtoEdited.Brutto">
    </div>
  </div>
  <div class="row no-gutters editform-row">
    <div class="col-md-2">
      <div class="editform-title">Termékdíj egységár</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="termekdijegysegar" name="termekdijegysegar"
             [(ngModel)]="TetelDtoEdited.Termekdijegysegar"
             (focusout)="tetelcalc($event)"
             readonly="true">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-2">
      <div class="editform-title">Termékdíj a brutto árból</div>
    </div>
    <div class="col-md-2">
      <input type="number" class="form-control form-control-sm" id="terekdijabruttoarbol" name="terekdijabruttoarbol"
             [(ngModel)]="TetelDtoEdited.Termekdij"
             readonly="true">
    </div>
  </div>

  <div class="row no-gutters" style="margin-bottom: 10px">
    <div class="col-md-2">
    </div>
    <button class="toolbutton"
            type="button" (click)="onSubmit()">Ok</button>
    <button class="toolbutton"
            style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
  </div>

<!--  export enum BizonylattetelSzerkesztesMode {
  Blank = 0,
  CikkZoom = 1,
  MeZoom = 2,
  AfakulcsZoom = 3,
  TermekdijZoom = 4
  }-->

  <ng-container *ngIf="TetelSzerkesztesMode === 1">
    <app-cikk-list [maszk]="TetelDtoEdited.Megnevezes || ''"
                   (eventSelectzoom)="onCikkSelectzoom($event)"
                   (eventStopzoom)="onCikkStopzoom()"></app-cikk-list>
  </ng-container>

  <ng-container *ngIf="TetelSzerkesztesMode === 2">
    <app-me-list [maszk]="TetelDtoEdited.Me || ''"
                 (eventSelectzoom)="onMeSelectzoom($event)"
                 (eventStopzoom)="onMeStopzoom()"></app-me-list>
  </ng-container>

  <ng-container *ngIf="TetelSzerkesztesMode === 3">
    <app-afakulcs-list [maszk]="TetelDtoEdited.Afakulcs || ''"
                       (eventSelectzoom)="onAfakulcsSelectzoom($event)"
                       (eventStopzoom)="onAfakulcsStopzoom()"></app-afakulcs-list>
  </ng-container>

  <ng-container *ngIf="TetelSzerkesztesMode === 4">
    <app-termekdij-list [maszk]="TetelDtoEdited.Termekdijkt || ''"
                        (eventSelectzoom)="onTermekdijSelectzoom($event)"
                        (eventStopzoom)="onTermekdijStopzoom()"></app-termekdij-list>
  </ng-container>
</div>
