<div class="alapkeret">
  <h5>Készlet</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Időpontig</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="datum"
               [(ngModel)]="datum" name="datum">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || spinnerservice.eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-secondary" style="margin-left:3px;" [disabled]="!spinnerservice.eppFrissit" type="button" (click)="onCancel()">Stop</button>
    </div>
  </form>
</div>
