<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Készlet</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Időpontig</div>
        <input type="date" class="editform-date em10width" id="datum"
               [(ngModel)]="datum" name="datum">
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <!--<button class="editform-cancelbutton" type="button" (click)="onCancel()">Stop</button>-->
    </div>
  </form>
</div>
