<div class="alapkeret">
  <h5 *ngIf="penztarservice.uj">Új {{penztarservice.cim | lowercase}}</h5>
  <h5 *ngIf="!penztarservice.uj">{{penztarservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Pénztár</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="penztar"
               maxlength="200" required autocomplete="off"
               [(ngModel)]="penztarservice.DtoEdited.Penztar1" name="penztar">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Pénznem</div>
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control form-control-sm" id="penznem"
               maxlength="100" required autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="penztarservice.DtoEdited.Penznem" name="penznem">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button"
                (click)="PenznemZoom()">...</button>
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

<!--  export enum PenztarSzerkesztesMode {
  Blank = 0,
  PenznemZoom = 1,
  }-->

  <ng-container *ngIf="penztarservice.SzerkesztesMode === 0">
    <app-blank></app-blank>
  </ng-container>
  <ng-container *ngIf="penztarservice.SzerkesztesMode === 1">
    <app-penznem-container></app-penznem-container>
  </ng-container>

  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>

