<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{penztarservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{penztarservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div>
        <div class="editform-label">Pénztár</div>
        <input type="text" class="form-control form-control-sm oszlop3" id="penztar"
               maxlength="200" required autocomplete="off"
               [(ngModel)]="DtoEdited.Penztar1" name="penztar">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Pénznem</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="penznem"
               maxlength="100" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="DtoEdited.Penznem" name="penznem">
        <button class="toolbutton" style="margin-left: 4px; display: inline-block" type="button"
                (click)="PenznemZoom()">...</button>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <ng-container *ngIf="SzerkesztesMode === 1">
    <app-penznem-list [maszk]="DtoEdited.Penznem || ''"
                      (eventSelectzoom)="onPenznemSelectzoom($event)"
                      (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
  </ng-container>
</div>

