<nav>
  <div class="logo"><a (click)="opensidebar()">{{verzioesbuild}}</a></div>
</nav>

<div id="sidebar" class="sidebar" role="dialog"  data-backdrop="true" data-keyboard="false">
  <div class="sidebar-content">
    <ng-container *ngIf="szerepkorkivalasztva">
      <ul>
        <li class="sidebar-menu" *ngFor="let node of angularmenudto;let i = index">
          <a (click)="setselected(i)">{{node.Title}}</a>

          <ng-container *ngIf="i === selected">
            <ul>
              <li class="sidebar-menuitem" *ngFor="let item of node.Sub">
                <a *ngIf="item.Title !== 'divider' && item.Enabled" (click)="menuclick(item.RouterLink)">
                  {{item.Title}}
                </a>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
