<div class="alapkeret">
  <h5>Új ajánlat</h5>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Érvényes</div>
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control form-control-sm" id="ervenyes"
               [(ngModel)]="ajanlatservice.AjanlatErvenyes" name="ervenyes">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Szükséges áramerősség</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="szuksaram"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="ajanlatservice.AjanlatParam.SzuksegesAramerosseg" name="szuksaram">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Tájolás</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="tajolas"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="ajanlatservice.AjanlatParam.Tajolas" name="tajolas">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Termelés</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="termeles"
               required
               [(ngModel)]="ajanlatservice.AjanlatParam.Termeles" name="termeles">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Megjegyzés (tárgy)</div>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control form-control-sm" id="megjegyzes"
               maxlength="200" autocomplete="off"
               [(ngModel)]="ajanlatservice.AjanlatParam.Megjegyzes" name="megjegyzes">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title"></div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="netto" style="text-align:right"
               readonly="true" [(ngModel)]="ajanlatservice.AjanlatParam.Netto">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="afa" style="text-align:right"
               readonly="true" [(ngModel)]="ajanlatservice.AjanlatParam.Afa">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="brutto" style="text-align:right"
               readonly="true" [(ngModel)]="ajanlatservice.AjanlatParam.Brutto">
      </div>
    </div>


<!--  export eAjanlatContainerModeMode {
  List = 1,
  Szerkesztes = 2
  }-->
    <ng-container *ngIf="ajanlatservice.AjanlatContainerMode === 1">
      <table class="table table-bordered table-sm table-responsive" style="border: none">
        <thead>
        <tr>
          <th>Tételtipus</th>
          <th>Cikk</th>
          <th>Mennyiség</th>
          <th>Egységár</th>
          <th>Egységnyi teljesítmény</th>
          <th>Netto</th>
          <th>ÁFA</th>
          <th>Brutto</th>
          <th>Össz. teljesítmény</th>
          <th>Garancia</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of ajanlatservice.AjanlatParam.AjanlatBuf; let i = index">
          <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
              (click)="setClickedRow(i)">{{item.TetelTipus}}</td>
          <td>{{item.CikkNev}}</td>
          <td>{{item.Mennyiseg}}</td>
          <td>{{item.EgysegAr}}</td>
          <td>{{item.EgysegnyiTeljesitmeny}}</td>
          <td>{{item.Netto}}</td>
          <td>{{item.Afa}}</td>
          <td>{{item.Brutto}}</td>
          <td>{{item.OsszTeljesitmeny}}</td>
          <td>{{item.Garancia}}</td>
        </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="ajanlatservice.AjanlatContainerMode === 2">
      <app-ajanlat-tetel></app-ajanlat-tetel>
    </ng-container>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <button class="btn btn-sm btn-primary" [disabled]="eppFrissit || ajanlatservice.AjanlatContainerMode === 2"
              type="button" (click)="onSubmit()">Ok</button>
      <button class="btn btn-sm btn-default" [disabled]="eppFrissit || ajanlatservice.AjanlatContainerMode === 2"
              style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>

  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>

