<div class="alapkeret">
  <h5>{{ugyfelterlogservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ugyfelterlogservice.szempont"
               [(minta)]="ugyfelterlogservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [visUj]="false">
  </app-toolbar>

  <app-tabla #tabla
             [items]="ugyfelterlogservice.Dto"
             [colsets]="ugyfelterlogservice.GridSettings"
             [idlink]="false">
  </app-tabla>

  <app-toolbarfooter [enKereses]="!elsokereses && !eppFrissit"
                     [rekordszam]="ugyfelterlogservice.Dto.length"
                     [osszesrekord]="ugyfelterlogservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
