<div class="alapkeret">
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !mod"
              (click)="torles()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !mod"
              (click)="modositas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
    </nav>
  </div>

  <!--  export enum TeendoEgyMode {
Reszletek = 1,
Torles = 2,
Modositas = 3
}-->

  <ng-container *ngIf="teendoservice.EgyMode === 1">
    <div [@rowanimation]>
      <app-reszletek [cim]="teendoservice.cim"
                     [item]="teendoservice.Dto[teendoservice.DtoSelectedIndex]"
                     [colsets]="teendoservice.ReszletekSettings"
                     [(selectedindex)]="ri">
      </app-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="teendoservice.EgyMode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="teendoservice.cim"
                        [eppFrissit]="eppFrissit"
                        (OkClick)="TorlesOk()"
                        (CancelClick)="TorlesCancel()">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="teendoservice.EgyMode === 3">
    <div [@rowanimation]>
      <app-teendo-szerkesztes></app-teendo-szerkesztes>
    </div>
  </ng-container>
</div>


