<div class="alapkeret">
  <h5>{{bizonylatservice.bizonylatLeiro.BizonylatNev}}</h5>
  <app-bizonylattoolbar [Megrendeles]="bizonylatservice.bizonylatTipus === 4"
                        [MegrendelesSzurok]="megrendelesszurok"
                        [Szurok]="szurok"
                        [(megrendelesszempont)]="bizonylatservice.megrendelesszempont"
                        [(szempont)]="bizonylatservice.szempont"
                        [(minta)]="bizonylatservice.minta"
                        [enKereses]="!eppFrissit" (Kereses)="onKereses()"
                        [enUj]="!eppFrissit" (Uj)="onUj()">
  </app-bizonylattoolbar>
  <app-bizonylattabla [Dto]="bizonylatservice.Dto" (idclick)="setClickedRow($event)"></app-bizonylattabla>
  <app-toolbarfooter [enKereses]="!bizonylatservice.elsokereses && !eppFrissit"
                     [rekordszam]="bizonylatservice.Dto.length"
                     [osszesrekord]="bizonylatservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>

  <app-errormodal [cim]="bizonylatservice.bizonylatLeiro.BizonylatNev"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
