<div class="alapkeret">
  <h5>Státusz</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <select type="text" class="editform-combo" name="statusz" [(ngModel)]="DtoEdited.Statusz">
        <option *ngFor="let s of projektservice.statuszszurok; let i = index" [value]="i">{{s}}</option>
      </select>
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

</div>

