<div class="alapkeret">
  <h5>Státusz</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Státusz</div>
        <div *ngFor="let entry of projektservice.statuszszurok;let i = index" class="form-check">
          <input class="form-check-input" type="radio" name="radiogroup" id="entry"
                 [checked]="i === selected" (change)="change(i)">
          <label class="form-check-label" for="entry">
            {{entry}}
          </label>
        </div>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>

