<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="!zoom">{{termekdijservice.cim}}</h5>
  <h5 *ngIf="zoom">{{termekdijservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               (Kereses)="onKereses()"
               [enUj]="jog" (Uj)="doUjtetel()"
               [visZoom]="zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>

  <ng-template #compcont_termekdijuj></ng-template>

  <app-tabla-ex #tabla
                [items]="Dto"
                [colsets]="termekdijservice.GridSettings"
                [zoom]="zoom"
                (forzoom)="onStartzoom($event)"
                (forid)="onId($event)"
                [egyTemplate]="gridegy">
  </app-tabla-ex>

  <ng-template #gridegy>
    <app-termekdij-egy [dto]="Dto[DtoSelectedIndex]"
                       (eventTorles)="onTorles()"
                       (eventModositas)="onModositaskesz($event)">
    </app-termekdij-egy>
  </ng-template>
</div>
