<div class="alapkeret">
  <h5>{{penztartetelservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="penztartetelservice.szempont"
               [(minta)]="penztartetelservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod && nyitva" (Uj)="onUj()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="penztartetelservice.Dto"
             [colsets]="penztartetelservice.GridSettings">
  </app-tabla>

  <app-toolbarfooter [enKereses]="!penztartetelservice.elsokereses && !eppFrissit"
                     [rekordszam]="penztartetelservice.Dto.length"
                     [osszesrekord]="penztartetelservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>


