<div class="alapkeret">
  <h5>{{irattipusservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].Irattipuskod}}</td>
    </tr>
    <tr>
      <td class="egylabel">Irattipus:</td>
      <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].Irattipus1}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
