<div class="alapkeret">
  <h5>Inverter</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Inverter</div>
        <input type="text" class="editform-edit em15width" id="inverter"
               maxlength="50" autocomplete="off"
               [(ngModel)]="DtoEdited.Inverter"
               name="inverter">
    </div>

    <div class="editform-row">
        <div class="editform-label">AC, kVA</div>
        <input type="number" class="editform-edit em6width" id="ackva"
               [(ngModel)]="DtoEdited.Ackva"
               name="ackva">
    </div>

    <div class="editform-row">
      <div class="editform-label">Inverter státusz</div>
      <select type="text" class="editform-combo" name="statusz" [(ngModel)]="DtoEdited.Inverterallapot">
        <option *ngFor="let s of projektservice.napeleminverterstatuszok" [value]="s">{{s}}</option>
      </select>
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
