<div class="alapkeret">
  <h5>Inverter</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Inverter</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="inverter"
               maxlength="50" autocomplete="off"
               [(ngModel)]="DtoEdited.Inverter"
               name="inverter">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">AC, kVA</div>
        <input type="number" class="form-control form-control-sm oszlop2" id="ackva"
               [(ngModel)]="DtoEdited.Ackva"
               name="ackva">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Inverter státusz</div>
        <div *ngFor="let entry of entries" class="form-check">
          <input class="form-check-input" type="radio" name="radiogroup" id="entry"
                 [checked]="entry === selected" (change)="change(entry)">
          <label class="form-check-label" for="entry">
            {{entry}}
          </label>
        </div>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
