<div class="alapkeret">
  <h5>Inverter</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Inverter</div>
        <input type="text" class="editform-edit em15width" id="inverter"
               maxlength="50" autocomplete="off"
               [(ngModel)]="DtoEdited.Inverter"
               name="inverter">
    </div>

    <div class="editform-row">
        <div class="editform-label">AC, kVA</div>
        <input type="number" class="editform-edit em6width" id="ackva"
               [(ngModel)]="DtoEdited.Ackva"
               name="ackva">
    </div>

    <div class="editform-row">
        <div class="editform-label">Inverter státusz</div>
        <div *ngFor="let entry of entries">
          <input type="radio" name="radiogroup" id="entry"
                 [checked]="entry === selected" (change)="change(entry)">
          <label for="entry">
            {{entry}}
          </label>
        </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
