<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>KT</th>
    <th>Össztömeg, kg</th>
    <th>Termékdíj egységár</th>
    <th>Termékdíj</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of Dto; let i = index">
    <tr (click)="clickforrow(i)" [className]="i === clickedrowindex ? 'active' : 'inactive'">
      <td *ngIf="enIdclick" class="tabla-kontrol-id" (click)="clickforid(i)">{{item.Bizonylattermekdijkod}}</td>
      <td *ngIf="!enIdclick">{{item.Bizonylattermekdijkod}}</td>
      <td>{{item.Termekdijkt}}</td>
      <td style="text-align: right">{{item.Ossztomegkg | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.Termekdijegysegar | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.Termekdij | number: '1.2-2'}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
