<div class="alapkeret">
  <h5>{{particioservice.cim}}</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{Dto.Megnevezes}}</div>
  </div>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="szallito()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Szállító
      </button>
      <button [disabled]="eppFrissit" (click)="nav()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        NAV
      </button>
      <button [disabled]="eppFrissit" (click)="smtp()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        SMTP
      </button>
      <button [disabled]="eppFrissit" (click)="bizonylat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Bizonylat
      </button>
      <button [disabled]="eppFrissit" (click)="projekt()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Projekt
      </button>
      <button [disabled]="eppFrissit" (click)="volume()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Volume
      </button>
    </nav>
  </div>

<!--  export enum ParticioEgyMode {
  Blank = 0,
  Szallito = 1,
  Nav = 2,
  Smtp = 3,
  Bizonylat = 4,
  Projekt = 5,
  Volume = 6
  }-->


  <ng-container *ngIf="EgyMode === 1">
    <app-particio-szallito [eppFrissit]="eppFrissit"
                           [Dto]="Dto"
                           (OkClick)="SzerkesztesOk($event)"
                           (CancelClick)="SzerkesztesCancel()">
    </app-particio-szallito>
  </ng-container>
  <ng-container *ngIf="EgyMode === 2">
    <app-particio-nav [eppFrissit]="eppFrissit"
                      [Dto]="Dto"
                      (OkClick)="SzerkesztesOk($event)"
                      (CancelClick)="SzerkesztesCancel()">
    </app-particio-nav>
  </ng-container>
  <ng-container *ngIf="EgyMode === 3">
    <app-particio-smtp [eppFrissit]="eppFrissit"
                       [Dto]="Dto"
                       (OkClick)="SzerkesztesOk($event)"
                       (CancelClick)="SzerkesztesCancel()">
    </app-particio-smtp>
  </ng-container>
  <ng-container *ngIf="EgyMode === 4">
    <app-particio-bizonylat [eppFrissit]="eppFrissit"
                            [Dto]="Dto"
                            (OkClick)="SzerkesztesOk($event)"
                            (CancelClick)="SzerkesztesCancel()">
    </app-particio-bizonylat>
  </ng-container>
  <ng-container *ngIf="EgyMode === 5">
    <app-particio-projekt [eppFrissit]="eppFrissit"
                          [Dto]="Dto"
                          (OkClick)="SzerkesztesOk($event)"
                          (CancelClick)="SzerkesztesCancel()">
    </app-particio-projekt>
  </ng-container>
  <ng-container *ngIf="EgyMode === 6">
    <app-particio-volume [eppFrissit]="eppFrissit"
                         [Dto]="Dto"
                         (OkClick)="SzerkesztesOk($event)"
                         (CancelClick)="SzerkesztesCancel()">
    </app-particio-volume>
  </ng-container>
</div>


