<div class="alapkeret">
  <h5>Új pénztártétel</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Dátum</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="datum"
               [(ngModel)]="datum" name="datum">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Jogcím</div>
        <select #jogcim type="text" class="form-control form-control-sm"
                [(ngModel)]="DtoEdited.Jogcim" name="jogcim"
                (change)="jogcimchange()">
          <option>Bevét korrekció</option>
          <option>Kiadás korrekció</option>
          <option>Pénzfelvét bankból</option>
          <option>Befizetés bankba</option>
          <option>Bejövő számla</option>
          <option>Kimenő számla</option>
          <option>Bérkifizetés</option>
        </select>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Ügyfél</div>
        <input #ugyfel type="text" class="form-control form-control-sm oszlop4" id="ugyfel"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Ugyfelnev" name="ugyfel">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Bizonylatszám</div>
        <input #bizonylatszam type="text" class="form-control form-control-sm oszlop2" id="bizonylatszam"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Bizonylatszam" name="bizonylatszam">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Bevétel</div>
        <input #bevetel type="text" class="form-control form-control-sm oszlop2" id="bevetel"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Bevetel" name="bevetel">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Kiadás</div>
        <input #kiadas type="text" class="form-control form-control-sm oszlop2" id="kiadas"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Kiadas" name="kiadas">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Megjegyzés</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="megjegyzes"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Megjegyzes" name="megjegyzes">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || spinnerservice.eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>

