<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Új pénztártétel</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div>
        <div class="editform-label">Dátum</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="datum"
               [(ngModel)]="datum" name="datum">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Jogcím</div>
        <select #jogcim type="text" class="form-control form-control-sm"
                [(ngModel)]="DtoEdited.Jogcim" name="jogcim"
                (change)="jogcimchange()">
          <option>Bevét korrekció</option>
          <option>Kiadás korrekció</option>
          <option>Pénzfelvét bankból</option>
          <option>Befizetés bankba</option>
          <option>Bejövő számla</option>
          <option>Kimenő számla</option>
          <option>Bérkifizetés</option>
        </select>
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Ügyfél</div>
        <input #ugyfel type="text" class="form-control form-control-sm oszlop4" id="ugyfel"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Ugyfelnev" name="ugyfel">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Bizonylatszám</div>
        <input #bizonylatszam type="text" class="form-control form-control-sm oszlop2" id="bizonylatszam"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Bizonylatszam" name="bizonylatszam">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Bevétel</div>
        <input #bevetel type="text" class="form-control form-control-sm oszlop2" id="bevetel"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Bevetel" name="bevetel">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Kiadás</div>
        <input #kiadas type="text" class="form-control form-control-sm oszlop2" id="kiadas"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Kiadas" name="kiadas">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Megjegyzés</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="megjegyzes"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Megjegyzes" name="megjegyzes">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>

