<div class="alapkeret">
  <h5>{{bizonylatkifizetesservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Kifizeteskod}}</td>
    </tr>
    <tr>
      <td class="egylabel">Dátum:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].DATUM | datehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Összeg:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Datum | number: '1.2-2'}}</td>
    </tr>
    <tr>
      <td class="egylabel">Pénznem:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Penznem}}</td>
    </tr>
    <tr>
      <td class="egylabel">Fizetési mód:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Fizetesimod}}</td>
    </tr>

    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td>{{bizonylatkifizetesservice.Dto[bizonylatkifizetesservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>

