<div class="alapkeret">
  <h5>{{cikkservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="cikkservice.szempont"
               [(minta)]="cikkservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit" (Uj)="onUj()">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Megnevezés</th>
      <th>Me</th>
      <th>ÁFA kulcs</th>
      <th>Egységár</th>
      <th>Készletet képez</th>
      <th>Tömeg, kg</th>
      <th>Termékdíj KT</th>
      <th>Termékdíj megnevezés</th>
      <th>Termékdíj egységár</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of cikkservice.Dto; let i = index">
      <tr>
        <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.CIKKKOD}}</td>
        <td>{{item.MEGNEVEZES}}</td>
        <td>{{item.ME}}</td>
        <td>{{item.AFAKULCS}}</td>
        <td>{{item.EGYSEGAR}}</td>
        <td>{{item.KESZLETETKEPEZ}}</td>
        <td>{{item.TOMEGKG}}</td>
        <td>{{item.TERMEKDIJKT}}</td>
        <td>{{item.TERMEKDIJMEGNEVEZES}}</td>
        <td>{{item.TERMEKDIJEGYSEGAR}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <app-toolbarfooter [enKereses]="!cikkservice.elsokereses && !eppFrissit"
                     [rekordszam]="cikkservice.Dto.length"
                     [osszesrekord]="cikkservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
  <app-errormodal [cim]="cikkservice.cim"></app-errormodal>
</div>

