<div class="alapkeret">
  <h5>Ügyféltér</h5>
  <ng-container *ngIf="!bejelentkezve">
    <p>Üdvözöljük, ön a GridSolar Group Kft. informatikai rendszerét (OSS) használja. Kérjük a levélben kapott linket kezelje bizalmasan!</p>
    <button [disabled]="eppFrissit" (click)="folytatas()" class="btn btn-sm btn-outline-primary navgomb">
      Folytatás
    </button>
  </ng-container>
  <ng-container *ngIf="bejelentkezve">
    <p>Üdvözöljük <b>{{Dto.ugyfelDto.NEV}}</b> ({{Dto.ugyfelDto.CIM}}, {{Dto.ugyfelDto.TELEFON}}, {{Dto.ugyfelDto.EMAIL}}) az önnel kapcsolatos tárolt adatok a következők - válasszon projektet:</p>
    <app-projekt-tabla [Dto]="Dto.projektDto" (idclick)="setProjektClickedRow($event)"></app-projekt-tabla>
  </ng-container>
  <ng-container *ngIf="projektkod > 0">
    Projekt Id: {{projektkod}}
    <app-ugyfel-ter-bizonylatesirat-list></app-ugyfel-ter-bizonylatesirat-list>
  </ng-container>
  <app-errormodal [cim]="'Ügyféltér'"></app-errormodal>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>


