<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{iratservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{iratservice.cim}} módosítása</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Irány</div>
        <select type="text" class="editform-combo" formControlName="irany">
          <option>Be</option>
          <option>Ki</option>
          <option>Belső</option>
        </select>
      </div>

      <div class="editform-row">
        <div class="editform-label">Keletkezett</div>
        <input type="date" class="editform-date" formControlName="keletkezett">
      </div>

      <div class="editform-row">
        <div class="editform-label">Irattipus</div>
        <input type="text" class="editform-edit zoomedit em10width" formControlName="irattipus">
        <button class="toolbutton" type="button" (click)="IrattipusZoom()">...</button>
      </div>
    </div>

    <div class="editform-card">
      <ng-container *ngIf="enUgyfel">
        <div class="editform-row">
          <div class="editform-label">Ügyfél</div>
          <input type="text" class="editform-edit zoomedit ugyfelwidth" formControlName="ugyfelnev">
          <button class="toolbutton" type="button" (click)="UgyfelZoom()">...</button>
          <button class="toolbutton" (click)="UgyfelTorles()" type="button">
            <i class="fa fa-close" aria-hidden="true"></i>
          </button>
        </div>

        <div class="editform-row">
          <div class="editform-label">Cím</div>
          <input type="text" class="editform-edit cimwidth" formControlName="ugyfelcim">
        </div>

        <div class="editform-row">
          <div class="editform-label">Küldő</div>
          <input type="text" class="editform-edit ugyfelwidth" formControlName="kuldo">
        </div>
      </ng-container>

      <div class="editform-row">
        <div class="editform-label">Tárgy</div>
        <input type="text" class="editform-edit megjegyzeswidth" formControlName="targy">
      </div>
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <div id="iratzoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <ng-container *ngIf="SzerkesztesMode === 1">
      <div class="zoom-modal-content-primitiv">
        <app-irattipus-list [maszk]="DtoEdited.Irattipus || ''"
                            (eventSelectzoom)="onIrattipusSelectzoom($event)"
                            (eventStopzoom)="onIrattipusStopzoom()"></app-irattipus-list>
      </div>
    </ng-container>

    <ng-container *ngIf="SzerkesztesMode === 2">
      <div class="zoom-modal-content">
        <app-ugyfel-list [maszk]="DtoEdited.Ugyfelnev || ''"
                         (eventSelectzoom)="onUgyfelSelectzoom($event)"
                         (eventStopzoom)="onUgyfelStopzoom()"></app-ugyfel-list>
      </div>
    </ng-container>
  </div>
</div>
