<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{iratservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{iratservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-box">
      <div class="editform-row">
        <div class="editform-label">Irány</div>
        <select type="text" class="editform-combo em4width"
                [(ngModel)]="DtoEdited.Irany" name="irany">
          <option>Be</option>
          <option>Ki</option>
          <option>Belső</option>
        </select>
      </div>

      <div class="editform-row">
        <div class="editform-label">Keletkezett</div>
        <input type="date" class="editform-date em10width" id="keletkezett"
               [(ngModel)]="Keletkezett" name="keletkezett">
      </div>

      <div class="editform-row">
        <div class="editform-label">Irattipus</div>
        <input type="text" class="editform-edit em10width" id="irattipus"
               maxlength="30" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="DtoEdited.Irattipus" name="irattipus">
        <button class="toolbutton" style="margin-left: 4px; display: inline-block" type="button" (click)="IrattipusZoom()">...</button>
      </div>
    </div>

    <div class="editform-box">
      <ng-container *ngIf="enUgyfel">
        <div class="editform-row">
            <div class="editform-label">Ügyfél</div>
            <input type="text" class="editform-edit em15width" id="ugyfelnev"
                   maxlength="200" autocomplete="off" style="background-color: aquamarine; display: inline-block"
                   [(ngModel)]="DtoEdited.Ugyfelnev" name="ugyfelnev">
            <button class="toolbutton" style="margin-left: 4px; display: inline-block" type="button" (click)="UgyfelZoom()">...</button>
            <button class="toolbutton" (click)="UgyfelTorles()"
                    style="margin-left: 4px; display: inline-block" type="button">
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
        </div>

        <div class="editform-row">
          <div class="editform-label">Cím</div>
            <input type="text" class="editform-edit em15width" id="ugyfelcim"
                   autocomplete="off" readonly="true" disabled="true"
                   [(ngModel)]="DtoEdited.Ugyfelcim" name="ugyfelcim">
        </div>

        <div class="editform-row">
            <div class="editform-label">Küldő</div>
            <input type="text" class="editform-edit em15width" id="kuldo"
                   maxlength="100" autocomplete="off"
                   [(ngModel)]="DtoEdited.Kuldo" name="kuldo">
        </div>
      </ng-container>

      <div class="editform-row">
          <div class="editform-label">Tárgy</div>
          <input type="text" class="editform-edit em15width" id="targy"
                 maxlength="200" autocomplete="off"
                 [(ngModel)]="DtoEdited.Targy" name="targy">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <div id="iratzoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">

      <ng-container *ngIf="SzerkesztesMode === 1">
        <div class="zoom-modal-content-primitiv">
          <app-irattipus-list [maszk]="DtoEdited.Irattipus || ''"
                              (eventSelectzoom)="onIrattipusSelectzoom($event)"
                              (eventStopzoom)="onIrattipusStopzoom()"></app-irattipus-list>
        </div>
      </ng-container>

      <ng-container *ngIf="SzerkesztesMode === 2">
        <div class="zoom-modal-content">
          <app-ugyfel-list [maszk]="DtoEdited.Ugyfelnev || ''"
                           (eventSelectzoom)="onUgyfelSelectzoom($event)"
                           (eventStopzoom)="onUgyfelStopzoom()"></app-ugyfel-list>
        </div>
      </ng-container>

  </div>
</div>
