<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Fotózás</h5>

  <img src="assets/ossspa/gsg.jpg" style="margin-top: 8px;margin-bottom: 8px" alt="GSG">

  <ng-container *ngIf="!bejelentkezve">
    <p>Üdvözöljük, ön a GridSolar Group Kft. informatikai rendszerét (OSS) használja. Kérjük a fotózáshoz kapott linket kezelje bizalmasan!</p>
    <button (click)="folytatas()" class="toolbutton">
      Folytatás
    </button>
  </ng-container>

  <ng-container *ngIf="bejelentkezve">
    <div class="editform-label">Ügyfél</div>
    <div>{{Dto.iratDto[0].Ugyfelnev}}</div>
    <div>{{Dto.iratDto[0].Ugyfelcim}}</div>
    <div><b>{{Dto.iratDto[0].Targy}}</b></div>
    <ng-container *ngIf="Dto.projektDto !== undefined">
      <br>
      <div class="editform-label">Telepítési cím</div>
      <div><b>{{Dto.projektDto[0].Telepitesicim}}</b></div>
    </ng-container>
    <table>
      <thead>
      </thead>
      <tbody>
      <tr *ngFor="let item of Dto.dokumentumDto">
        <td>
          <div style="height: 15px"></div>
          <div>
            {{item.Megjegyzes}}
          </div>
          <div style="height: 5px"></div>
          <div *ngIf="item.Imgprev !== null">
            <img [src] = "'data:image/jpg;base64,' + item.Imgprev"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div style="height: 15px"></div>

    <form #f="ngForm" (ngSubmit)="onSubmit()">

      <div class="editform-row">
        <div>
          <input type="file" (change)="onFileChange($event)" #fileInput>
        </div>
      </div>

      <div class="editform-row">
        <div>
          <div class="editform-label">Megjegyzés</div>
          <input type="text" list="ssz" class="editform-combo" id="megjegyzes"
                 autocomplete="off" required
                 [(ngModel)]="megjegyzes" name="megjegyzes">
          <datalist id="ssz">
            <option value="Kész tető">
            <option value="Kész inverter és környéke">
            <option value="AC doboz">
            <option value="DC doboz">
            <option value="Inverter adattábla">
            <option value="Mérőóra">
            <option value="Rákötési pont">
          </datalist>
        </div>
      </div>

      <div class="editform-okcancel">
        <button class="editform-okbutton" [disabled]="!f.valid || file === undefined" type="submit">Ok</button>
      </div>
    </form>
  </ng-container>
</div>
