<div class="alapkeret">
  <h5 *ngIf="!helysegservice.zoom">{{helysegservice.cim}}</h5>
  <h5 *ngIf="helysegservice.zoom">{{helysegservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="helysegservice.ekDto.szempont"
               [(minta)]="helysegservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit" (Uj)="uj()"
               [visZoom]="helysegservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th *ngIf="helysegservice.zoom"></th>
      <th>Id</th>
      <th>Helység</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of helysegservice.Dto; let i = index">
      <td *ngIf="helysegservice.zoom" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="selectforzoom(i)"><i class="fa fa-check" aria-hidden="true"></i></td>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.HELYSEGKOD}}</td>
      <td>{{item.HELYSEGNEV}}</td>
    </tr>
    </tbody>
  </table>
  <!--<app-toolbarfooter [enKereses]="!eppFrissit"-->
  <!--[perAll]="perAll"-->
  <!--(KeresesTovabb)="onKeresesTovabb()">-->
  <!--</app-toolbarfooter>-->
  <app-errormodal [cim]="helysegservice.cim"></app-errormodal>
</div>

