<table class="table table-bordered table-sm table-responsive" style="border: none">
  <thead>
  <tr>
    <th>Id</th>
    <th>Megnevezés</th>
    <th>Mennyiség</th>
    <th>Me</th>
    <th>Egysegár</th>
    <th>ÁFA %</th>
    <th>Netto</th>
    <th>ÁFA</th>
    <th>Brutto</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of Dto; let i = index">
    <tr>
      <td *ngIf="enIdclick" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.BIZONYLATTETELKOD}}</td>
      <td *ngIf="!enIdclick">{{item.BIZONYLATTETELKOD}}</td>
      <td>{{item.MEGNEVEZES}}</td>
      <td style="text-align: right">{{item.MENNYISEG | number: '1.2-2'}}</td>
      <td>{{item.ME}}</td>
      <td style="text-align: right">{{item.EGYSEGAR | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.AFAMERTEKE | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.NETTO | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.AFA | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.BRUTTO | number: '1.2-2'}}</td>
    </tr>
    <tr *ngIf="item.MEGJEGYZES || '' !== ''">
      <td colspan="9">{{item.MEGJEGYZES}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>


