<div class="alapkeret">
  <h5>vCard</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Név:</td>
      <td>{{DtoEdited.Nev}}</td>
    </tr>
    <tr>
      <td class="egylabel">Cég:</td>
      <td>{{DtoEdited.Ceg}}</td>
    </tr>
    <tr>
      <td class="egylabel">Beosztás:</td>
      <td>{{DtoEdited.Beosztas}}</td>
    </tr>
    <tr>
      <td class="egylabel">Cím:</td>
      <td>{{DtoEdited.Iranyitoszam}} {{DtoEdited.Helysegnev}}, {{DtoEdited.Kozterulet}} {{DtoEdited.Kozterulettipus}} {{DtoEdited.Hazszam}}</td>
    </tr>
    <tr>
      <td class="egylabel">Telefon:</td>
      <td>{{DtoEdited.Telefon}}</td>
    </tr>
    <tr>
      <td class="egylabel">Email:</td>
      <td>{{DtoEdited.Email}}</td>
    </tr>
    </tbody>
  </table>
  <button (click)="letoltesClick()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
    Letöltés
  </button>
</div>
