<div class="alapkeret">
  <h5>vCard</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Név:</td>
      <td>{{ugyfelservice.DtoEdited.Nev}}</td>
    </tr>
    <tr>
      <td class="egylabel">Cég:</td>
      <td>{{ugyfelservice.DtoEdited.Ceg}}</td>
    </tr>
    <tr>
      <td class="egylabel">Beosztás:</td>
      <td>{{ugyfelservice.DtoEdited.Beosztas}}</td>
    </tr>
    <tr>
      <td class="egylabel">Cím:</td>
      <td>{{ugyfelservice.DtoEdited.Iranyitoszam}} {{ugyfelservice.DtoEdited.Helysegnev}}, {{ugyfelservice.DtoEdited.Kozterulet}} {{ugyfelservice.DtoEdited.Kozterulettipus}} {{ugyfelservice.DtoEdited.Hazszam}}</td>
    </tr>
    <tr>
      <td class="egylabel">Telefon:</td>
      <td>{{ugyfelservice.DtoEdited.Telefon}}</td>
    </tr>
    <tr>
      <td class="egylabel">Email:</td>
      <td>{{ugyfelservice.DtoEdited.Email}}</td>
    </tr>
    </tbody>
  </table>
  <button [disabled]="eppFrissit" (click)="letoltesClick()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
    Letöltés
  </button>
</div>
