<div class="alapkeret">
  <h5>{{irattipusservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        Vissza a listához
      </button>
      <button [disabled]="eppFrissit || irattipusservice.DtoSelectedIndex === -1" (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || irattipusservice.DtoSelectedIndex === -1" (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
      </button>
    </nav>
  </div>
  <div style="float: left;border: solid 1px silver;margin-right: 10px;margin-bottom: 5px;padding: 10px">
    <table>
      <tbody>
      <tr>
        <td class="egylabel">Id:</td>
        <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].IRATTIPUSKOD}}</td>
      </tr>
      <tr>
        <td class="egylabel">Irattipus:</td>
        <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].IRATTIPUS1}}</td>
      </tr>
      <tr>
        <td class="egylabel">Létrehozta:</td>
        <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].LETREHOZTA}}</td>
      </tr>
      <tr>
        <td class="egylabel">Létrehozva:</td>
        <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].LETREHOZVA | datetimehun}}</td>
      </tr>
      <tr>
        <td class="egylabel">Módosította:</td>
        <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].MODOSITOTTA}}</td>
      </tr>
      <tr>
        <td class="egylabel">Módosítva:</td>
        <td *ngIf="irattipusservice.DtoSelectedIndex !== -1">{{irattipusservice.Dto[irattipusservice.DtoSelectedIndex].MODOSITVA | datetimehun}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
  <app-errormodal [cim]="irattipusservice.cim"></app-errormodal>
</div>

