<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{projektjegyzetservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{projektjegyzetservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div>
        <div class="editform-label">Leírás</div>
        <input type="text" class="form-control form-control-sm oszlop10" id="leiras"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Leiras" name="leiras">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>

