<div class="alapkeret">
  <h5 *ngIf="!zoom">{{fizetesimodservice.cim}}</h5>
  <h5 *ngIf="zoom">{{fizetesimodservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit" (Uj)="onUj()"
               [visZoom]="zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="fizetesimodservice.Dto"
             [colsets]="fizetesimodservice.GridSettings"
             [zoom]="zoom"
             (forzoom)="onStartzoom($event)"
             (forid)="onId($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #griduj>
    <app-fizetesimod-szerkesztes [uj] = "true"
                                 (eventSzerkeszteskesz)="onUjkesz()">
    </app-fizetesimod-szerkesztes>
  </ng-template>
  <ng-template #gridegy>
    <app-fizetesimod-egy (eventTorlesutan)="onTorlesutan()"></app-fizetesimod-egy>
  </ng-template>
</div>
