<div class="alapkeret">
  <h5>{{fizetesimodservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="fizetesimodservice.ekDto.szempont"
               [(minta)]="fizetesimodservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit" (Uj)="uj()"
               [visZoom]="fizetesimodservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla [items]="fizetesimodservice.Dto"
             [colsets]="fizetesimodservice.GridSettings"
             [zoom]="fizetesimodservice.zoom"
             [(selectedrow)]="ti"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)">
  </app-tabla>

  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
