<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{szamlazasirendservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{szamlazasirendservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Összeg</div>
        <input type="number" class="editform-edit em10width" id="osszeg"
               required autocomplete="off"
               [(ngModel)]="DtoEdited.Osszeg" name="osszeg">
      </div>

    <div class="editform-row">
        <div class="editform-label">Pénznem</div>
        <input type="text" class="editform-edit zoomedit penznemwidth" id="penznem"
               maxlength="3" required autocomplete="off"
               [(ngModel)]="DtoEdited.Penznem" name="penznem">
        <button class="toolbutton" type="button" (click)="PenznemZoom()">...</button>
    </div>

    <div class="editform-row">
        <div class="editform-label">Megjegyzés</div>
        <input type="text" class="editform-edit em30width" id="megjegyzes"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Megjegyzes" name="megjegyzes">
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <ng-container *ngIf="SzerkesztesMode === 1">
    <app-penznem-list [maszk]="DtoEdited.Penznem || ''"
                      (eventSelectzoom)="onPenznemSelectzoom($event)"
                      (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
  </ng-container>
</div>

