<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{szamlazasirendservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{szamlazasirendservice.cim}} módosítása</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="editform-row">
        <div class="editform-label">Összeg</div>
        <input type="number" class="editform-number" appAutofocus formControlName="osszeg">
      </div>

    <div class="editform-row">
        <div class="editform-label">Pénznem</div>
        <input type="text" class="editform-edit zoomedit penznemwidth" formControlName="penznem">
        <button class="toolbutton" type="button" (click)="PenznemZoom()">...</button>
    </div>

    <div class="editform-row">
        <div class="editform-label">Megjegyzés</div>
        <input type="text" class="editform-edit megjegyzeswidth" formControlName="megjegyzes">
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <div id="penznemzoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <div class="zoom-modal-content-primitive">
      <ng-container *ngIf="SzerkesztesMode === 1">
        <app-penznem-list [maszk]="DtoEdited.Penznem || ''"
                          (eventSelectzoom)="onPenznemSelectzoom($event)"
                          (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
      </ng-container>
    </div>
  </div>
</div>

