<div class="alapkeret">
  <h5>{{esemenynaploservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="spinnerservice.eppFrissit" (click)="onKereses()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </nav>
  </div>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Időpont</th>
      <th>Partíció</th>
      <th>Csoport</th>
      <th>Művelet</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of Dto; let i = index">
      <td>{{item.Esemenynaplokod}}</td>
      <td>{{item.Idopont | datetimehun}}</td>
      <td>{{item.Particio}}</td>
      <td>{{item.Csoport}}</td>
      <td>{{item.Muvelet}}</td>
    </tr>
    </tbody>
  </table>
  <app-toolbarfooter [enKereses]="!elsokereses && !spinnerservice.eppFrissit"
                     [rekordszam]="Dto.length"
                     [osszesrekord]="OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
