<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{esemenynaploservice.cim}}</h5>
  <div>
    <button (click)="onKereses()" class="toolbutton">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Időpont</th>
      <th>Partíció</th>
      <th>Csoport</th>
      <th>Művelet</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of Dto; let i = index">
      <td>{{item.Esemenynaplokod}}</td>
      <td>{{item.Idopont | datetimehun}}</td>
      <td>{{item.Particio}}</td>
      <td>{{item.Csoport}}</td>
      <td>{{item.Muvelet}}</td>
    </tr>
    </tbody>
  </table>
  <app-toolbarfooter [enKereses]="!elsokereses"
                     [rekordszam]="Dto.length"
                     [osszesrekord]="OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
