<div id="errorbox" class="modal fade" role="dialog"  data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hiba</h5>
      </div>
      <div id="projektmodal" class="modal-body" style="color: red">
        <ng-container *ngIf="ahibastring">
          {{hiba}}
        </ng-container>
        <ng-container *ngIf="!ahibastring">
          <p>{{hiba.status}} {{hiba.statusText}}</p>
          <p>{{hiba.url}}</p>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="onClose()">Ok</button>
      </div>
    </div>
  </div>
</div>
