<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{particioservice.cim}}</h5>

  <div style="margin-bottom: 1em">
    <div>{{Dto.Megnevezes}}</div>
  </div>

  <div style="margin-bottom: 1em">
    <button (click)="doNav(30)" class="toolbutton">
      Kibocsátó
    </button>
    <button (click)="doNav(33)" class="toolbutton">
      Bizonylatnyomtatás
    </button>
    <button (click)="doNav(8)" class="toolbutton">
      Projekt iratminta
    </button>
    <button (click)="doNav(34)" class="toolbutton">
      Volume
    </button>
    <button (click)="doNav(35)" class="toolbutton">
      eMail
    </button>
  </div>

  <ng-template #compcont></ng-template>
</div>


