<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Új bizonylat erről</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="!kesz">
      <div class="editform-row">
        <div>
          <div class="editform-label">Új bizonylattipus</div>
          <div *ngFor="let entry of entries; let i = index">
            <input type="radio" name="radiogroup" id="entry"
                   [checked]="i === entryindex"
                   (change)="change(i)">
            <label for="entry">
              {{entry[0]}}
            </label>
          </div>
        </div>
      </div>

      <div class="editform-okcancel">
        <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
        <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
      </div>
    </ng-container>

    <ng-container *ngIf="kesz">
      <div>Az új bizonylat elkészült, bizonylatkód: {{ujbizonylatkod}}</div>
      <div class="editform-okcancel">
        <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      </div>
    </ng-container>
  </form>
</div>
