<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Bejövő számla</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">A teljesítés kelte</div>
        <input type="date" class="form-control form-control-sm" id="tol"
               [(ngModel)]="tol" name="tol">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <input type="date" class="form-control form-control-sm" id="ig"
               [(ngModel)]="ig" name="ig">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="btn btn-sm btn-secondary" style="margin-left:3px;" type="button" (click)="onCancel()">Stop</button>
    </div>
  </form>
</div>
