<table class="table table-bordered table-sm table-responsive" style="border: none">
  <thead>
  <tr>
    <th>Tételtipus</th>
    <th>Cikk</th>
    <th>Mennyiség</th>
    <th>Egységár</th>
    <th>Egységnyi teljesítmény</th>
    <th>Netto</th>
    <th>ÁFA</th>
    <th>Brutto</th>
    <th>Össz. teljesítmény</th>
    <th>Garancia</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of projektkapcsolatservice.AjanlatParam.AjanlatBuf; let i = index">
    <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
        (click)="setClickedRow(i)">{{item.TetelTipus}}</td>
    <td>{{item.CikkNev}}</td>
    <td>{{item.Mennyiseg}}</td>
    <td>{{item.EgysegAr}}</td>
    <td>{{item.EgysegnyiTeljesitmeny}}</td>
    <td>{{item.Netto}}</td>
    <td>{{item.Afa}}</td>
    <td>{{item.Brutto}}</td>
    <td>{{item.OsszTeljesitmeny}}</td>
    <td>{{item.Garancia}}</td>
  </tr>
  </tbody>
</table>
