<div class="toolbar">
  <ng-container *ngIf="Megrendeles">
    <select [disabled]="!enKereses" #MegrendelesSzempont type="text" class="toolcombo">
      <option *ngFor="let msz of MegrendelesSzurok; let mi = index" [value]="mi" [selected]="mi == _megrendelesszempont">{{msz}}</option>
    </select>
  </ng-container>

  <select [disabled]="!enKereses" #Szempont type="text" class="toolcombo">
    <option *ngFor="let sz of Szurok; let i = index" [value]="i" [selected]="i == _szempont">{{sz}}</option>
  </select>

  <input [disabled]="!enKereses" #Minta type="text" class="tooledit em10width">
  <button [disabled]="!enKereses" (click)="doKereses()" class="toolbutton" type="button">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  <button [disabled]="!enUj" (click)="doUj()" class="toolbutton" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>


