<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Jelszócsere</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div>
        <div class="editform-label">Régi jelszó</div>
        <input type="password" class="editform-edit em10width" id="regijelszo"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="regijelszo" name="regijelszo">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Új jelszó</div>
        <input type="password" class="editform-edit em10width" id="jelszo"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="jelszo" name="jelszo">
      </div>
    </div>

    <div class="editform-row">
      <div>
        <div class="editform-label">Új jelszó újra</div>
        <input type="password" class="editform-edit em10width" id="jelszoujra"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="jelszoujra" name="jelszoujra">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
