<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{meservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{meservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div class="editform-label">Mennyiségi egység</div>
      <input type="text" class="editform-edit em4width" id="me1"
             maxlength="10" required autocomplete="off"
             [(ngModel)]="DtoEdited.Me" name="me1">
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
