<div class="alapkeret">
  <h5>{{projektteendoservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="kereses()" class="btn btn-sm btn-outline-primary navgomb" style="margin-right: 3px">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit" (click)="uj()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </nav>
  </div>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Dedikálva</th>
      <th>Határidő</th>
      <th>Elvégezve</th>
      <th>Teendő</th>
      <th>Leírás</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of projektteendoservice.Dto; let i = index">
      <tr>
        <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer" (click)="setClickedRow(i)">{{item.Projektteendokod}}</td>
        <td>{{item.Dedikalva}}</td>
        <td>{{item.Hatarido | datehun}}</td>
        <td>{{item.Elvegezve | datehun}}</td>
        <td>{{item.Teendo}}</td>
        <td style="min-width: 500px">{{item.Leiras}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <app-errormodal [cim]="projektteendoservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
