<div class="alapkeret">
  <h5 *ngIf="!irattipusservice.zoom">{{irattipusservice.cim}}</h5>
  <h5 *ngIf="irattipusservice.zoom">{{irattipusservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="irattipusservice.ekDto.szempont"
               [(minta)]="irattipusservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="irattipusservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla [items]="irattipusservice.Dto"
             [colsets]="irattipusservice.GridSettings"
             [zoom]="irattipusservice.zoom"
             [(selectedrow)]="ti"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)">
  </app-tabla>
</div>
