<div class="alapkeret">
  <h5>{{dokumentumservice.cim}}</h5>
  <nav>
    <button [disabled]="eppFrissit" (click)="feltoltes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
      Feltöltés
    </button>
  </nav>

  <app-tabla #tabla
             [items]="dokumentumservice.Dto"
             [colsets]="dokumentumservice.GridSettings"
             [letoltes]="true"
             (forid)="setClickedRow($event)"
             (fordownload)="letoltes($event)"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #gridegy>
    <app-dokumentum-egy (torlesutan)="torlesutan()"></app-dokumentum-egy>
  </ng-template>
</div>
