<div class="alapkeret">
  <h5>{{dokumentumservice.cim}}</h5>
  <nav>
    <button [disabled]="eppFrissit" (click)="onUj()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
      Feltöltés
    </button>
  </nav>

  <app-tabla #tabla
             [items]="dokumentumservice.Dto"
             [colsets]="dokumentumservice.GridSettings"
             [letoltes]="true"
             (forid)="onId($event)"
             (fordownload)="letoltes($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #griduj>
    <app-dokumentum-feltoltes (eventSzerkeszteskesz)="onUjkesz()">
    </app-dokumentum-feltoltes>
  </ng-template>
  <ng-template #gridegy>
    <app-dokumentum-egy (eventTorlesutan)="onTorlesutan()"></app-dokumentum-egy>
  </ng-template>
</div>
