<div class="alapkeret">
  <h5>{{dokumentumservice.cim}}</h5>
  <nav>
    <button [disabled]="eppFrissit" (click)="feltoltes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
      Feltöltés
    </button>
  </nav>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Megjegyzés</th>
      <th>Méret</th>
      <th>Ext</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dokumentumservice.Dto; let i = index">
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="letoltes(i)"><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.Dokumentumkod}}</td>
      <td>{{item.Megjegyzes}}</td>
      <td>{{item.Meret}}</td>
      <td>{{item.Ext}}</td>
    </tr>
    </tbody>
  </table>

  <app-errormodal [cim]="dokumentumservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
