<div class="alapkeret">
  <h5>{{fizetesimodservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="fizetesimodservice.ekDto.szempont"
               [(minta)]="fizetesimodservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit" (Uj)="uj()"
               [visZoom]="fizetesimodservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th *ngIf="fizetesimodservice.zoom"></th>
      <th>Id</th>
      <th>Fizetési mód</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of fizetesimodservice.Dto; let i = index">
      <td *ngIf="fizetesimodservice.zoom" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
          (click)="selectforzoom(i)"><i class="fa fa-check" aria-hidden="true"></i></td>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.Fizetesimodkod}}</td>
      <td>{{item.Fizetesimod1}}</td>
    </tr>
    </tbody>
  </table>

  <app-errormodal [cim]="fizetesimodservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
