<div style="width: min-content">
  <div *ngIf="_dtoindex === 0">
    <div style="width: 4em;text-align: right; border: solid 1px; float: left; padding: 6px">
      Id
    </div>
    <div style="width: 20em; border: solid 1px; padding: 6px">
      Csoport
    </div>
  </div>

  <div>
    <div style="width: 4em;text-align: right; ; float: left; padding: 6px; border: solid 1px">
      {{_dto.Csoportkod}}
    </div>
    <div style="width: 20em; padding: 6px; border: solid 1px">
      {{_dto.Csoport1}}
    </div>
  </div>
</div>
