<div *ngIf="_dtoindex === 0" style="display: grid; grid-template-columns: 4em min-content">
  <div style="border-right: 1px solid; border-bottom: 1px solid; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
      Id
  </div>
  <div style="border-right: 1px solid; border-bottom: 1px solid; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
      Csoport
  </div>
</div>

<div style="display: grid; grid-template-columns: 4em min-content">
  <div style="border-right: 1px solid; border-bottom: 1px solid; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
    {{_dto.Csoportkod}}
  </div>
  <div style="border-right: 1px solid; border-bottom: 1px solid; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
    {{_dto.Csoport1}}
  </div>
</div>

<div style="display: grid; grid-template-columns: 4em min-content">
  <div style="border-right: 1px solid; border-bottom: 1px solid; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">

  </div>
  <div style="border-right: 1px solid; border-bottom: 1px solid; padding: 0.5em">
    <app-csoport-szerkesztes></app-csoport-szerkesztes>
  </div>
</div>

<!--https://www.google.com/search?q=replace+html+table+with+css+grid&oq=replace+html+grid+&aqs=chrome.1.69i57j0i22i30l2.19504j1j7&sourceid=chrome&ie=UTF-8-->
<!--https://www.freecodecamp.org/news/https-medium-com-nakayama-shingo-creating-responsive-tables-with-pure-css-using-the-grid-layout-module-8e0ea8f03e83/-->
<!--https://markheath.net/post/simple-tables-with-css-grid-layout-->
