<div class="alapkeret">
  <h5>{{onlineszamlaservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="szempont"
               [(minta)]="minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [visUj]="false">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Bizonylat Id</th>
      <th>Bizonylatszám</th>
      <th>Ügyfél</th>
      <th>A bizonylat kelte</th>
      <th>Időpont</th>
      <th>Státusz</th>
      <th>Tranzakció</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of Dto; let i = index">
      <tr>
        <td>{{item.Navfeltolteskod}}</td>
        <td>{{item.Bizonylatkod}}</td>
        <td>{{item.Bizonylatszam}}</td>
        <td>{{item.Ugyfelnev}}</td>
        <td>{{item.Bizonylatkelte | datehun}}</td>
        <td>{{item.Idopont | datetimehun}}</td>
        <td>{{item.Statuszneve}}</td>
        <td>{{item.Tranzakcioazonosito}}</td>
      </tr>
      <tr *ngIf="item.Hiba !== null && item.Hiba !== ''">
        <td colspan="8">{{item.Hiba}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <app-toolbarfooter [enKereses]="!elsokereses && !eppFrissit"
                     [rekordszam]="Dto.length"
                     [osszesrekord]="OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>

