<div class="alapkeret">
  <h5>Riportok</h5>
  <div style="paddig-top: 6px;padding-bottom: 6px">
    <nav>
      <a routerLink="kimenoszamla">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Kimenő számla</button>
      </a>
      <a routerLink="bejovoszamla">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Bejövő számla</button>
      </a>

      <a routerLink="koveteles">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Követelések</button>
      </a>
      <a routerLink="tartozas">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Tartozások</button>
      </a>
      <a routerLink="beszerzes">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Beszerzés</button>
      </a>
      <a routerLink="keszlet">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Készlet</button>
      </a>
      <a routerLink="ngm">
        <button style="margin-right:3px;margin-bottom:3px" class="btn btn-sm btn-outline-primary">Adóhatósági ellenőrzési adatszolgáltatás</button>
      </a>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
