<div class="alapkeret">
  <h5>Riportok</h5>
  <div style="paddig-top: 6px;padding-bottom: 6px">
    <a routerLink="kimenoszamla">
      <button class="toolbutton">Kimenő számla</button>
    </a>
    <a routerLink="bejovoszamla">
      <button class="toolbutton">Bejövő számla</button>
    </a>

    <a routerLink="koveteles">
      <button class="toolbutton">Követelések</button>
    </a>
    <a routerLink="tartozas">
      <button class="toolbutton">Tartozások</button>
    </a>
    <a routerLink="beszerzes">
      <button class="toolbutton">Beszerzés</button>
    </a>
    <a routerLink="keszlet">
      <button class="toolbutton">Készlet</button>
    </a>
    <a routerLink="ngm">
      <button class="toolbutton">Adóhatósági ellenőrzési adatszolgáltatás</button>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
