<div class="alapkeret">
  <h5>{{projektteendoservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Dedikálva:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Dedikalva}}</td>
    </tr>
    <tr>
      <td class="egylabel">Határidő:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Hatarido | datehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Elvégezve:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Elvegezve | datehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Teendő:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Teendo}}</td>
    </tr>
    <tr>
      <td class="egylabel">Leirás:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Leiras}}</td>
    </tr>



    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="projektteendoservice.DtoSelectedIndex !== -1">{{projektteendoservice.Dto[projektteendoservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
