<div class="alapkeret">
  <h5 *ngIf="ugyfelservice.uj">Új {{ugyfelservice.cim | lowercase}}</h5>
  <h5 *ngIf="!ugyfelservice.uj">{{ugyfelservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Név</div>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" id="nev"
               maxlength="200" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.NEV" name="nev">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Irányítószám</div>
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control form-control-sm" id="iranyitoszam"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.IRANYITOSZAM" name="iranyitoszam">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Helységnév</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="helysegnev"
               maxlength="100" required autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="ugyfelservice.DtoEdited.HELYSEGNEV" name="helysegnev">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="HelysegZoom()" [disabled]="(ugyfelservice.DtoEdited.HELYSEGNEV || '').length < 4">...</button>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Közterület</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="kozterulet"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.KOZTERULET" name="kozterulet">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Közterület tipus</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="kozterulettipus"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.KOZTERULETTIPUS" name="kozterulettipus">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Házszám</div>
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control form-control-sm" id="hazszam"
               maxlength="10" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.HAZSZAM" name="hazszam">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Adószám</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="adoszam"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.ADOSZAM" name="adoszam">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">EU adószám</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="euadoszam"
               maxlength="20" autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.EUADOSZAM" name="euadoszam">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Telefon</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="telefon"
               maxlength="20" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.TELEFON" name="telefon">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Email</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="email"
               maxlength="50" required autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.EMAIL" name="email">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Megjegyzés</div>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" id="megjegyzes"
               maxlength="200" autocomplete="off"
               [(ngModel)]="ugyfelservice.DtoEdited.MEGJEGYZES" name="megjegyzes">
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
  <router-outlet></router-outlet>
  <app-errormodal [cim]="ugyfelservice.cim"></app-errormodal>
</div>

