<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Új bizonylat</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div class="editform-label">Bizonylattipus</div>
      <select type="text" class="editform-combo" name="statusz" [(ngModel)]="entryindex">
        <option *ngFor="let s of bizonylatservice.tipusok; let i = index" [value]="i" [disabled]=s[2]>{{s[0]}}</option>
      </select>
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>

  </form>
</div>

