<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Új bizonylat</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="editform-row">
      <div>
        <div class="editform-label">Bizonylattipus</div>
        <div *ngFor="let entry of entries; let i = index" class="form-check">
          <input class="form-check-input" type="radio" name="radiogroup" [id]=entry[0]
                 [checked]="i === entryindex"
                 [disabled]=entry[2]
                 (change)="change(i)">
          <label class="form-check-label" [for]=entry[0]>
            {{entry[0]}}
          </label>
        </div>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>

