<div class="alapkeret">
  <h5>{{csoportservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="csoportservice.ekDto.szempont"
               [(minta)]="csoportservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit" (Uj)="uj()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="csoportservice.Dto"
             [colsets]="csoportservice.GridSettings"
             (forid)="setClickedRow($event)"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #gridegy>
    <app-csoport-egy (torlesutan)="torlesutan()"></app-csoport-egy>
  </ng-template>
</div>

