<div class="alapkeret">
  <h5 *ngIf="!helysegservice.zoom">{{helysegservice.cim}}</h5>
  <h5 *ngIf="helysegservice.zoom">{{helysegservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="helysegservice.ekDto.szempont"
               [(minta)]="helysegservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="helysegservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="helysegservice.Dto"
             [colsets]="helysegservice.GridSettings"
             [zoom]="helysegservice.zoom"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #gridegy>
    <app-helyseg-egy (torlesutan)="torlesutan()"></app-helyseg-egy>
  </ng-template>
</div>
