<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="!zoom">{{helysegservice.cim}}</h5>
  <h5 *ngIf="zoom">{{helysegservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               (Kereses)="onKereses()"
               [enUj]="jog" (Uj)="doUjtetel()"
               [visZoom]="zoom" (StopZoom)="onStopzoom()">
    </app-toolbar>
    <app-tabla #tabla
               [items]="Dto"
               [colsets]="helysegservice.GridSettings"
               [zoom]="zoom"
               (forzoom)="onStartzoom($event)"
               (forid)="onId($event)"
               [ujTemplate]="griduj"
               [egyTemplate]="gridegy">
  </app-tabla>

  <ng-template #griduj>
    <app-helyseg-szerkesztes [uj] = "true"
                             (eventSzerkeszteskesz)="onUjtetelkesz($event)">
    </app-helyseg-szerkesztes>

  </ng-template>
  <ng-template #gridegy>
    <div class="alapkeret">
      <ng-container *ngIf="bbmode === 1">
        <div>
            <button (click)="doNav(1)" class="toolbutton">
              <i class="fa fa-file" aria-hidden="true"></i>
            </button>
            <button [disabled]="!jog" (click)="doNav(2)" class="toolbutton">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <button [disabled]="!jog" (click)="doNav(3)" class="toolbutton">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
        </div>
      </ng-container>

      <ng-container *ngIf="egymode === 1">
        <div [@rowanimation]>
          <app-reszletek [cim]="helysegservice.cim"
                         [item]="Dto[DtoSelectedIndex]"
                         [colsets]="helysegservice.ReszletekSettings">
          </app-reszletek>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 2">
        <div [@rowanimation]>
          <app-tetel-torles [cim]="helysegservice.cim"
                            (eventTorles)="onTorles($event)">
          </app-tetel-torles>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 3">
        <div [@rowanimation]>
          <app-helyseg-szerkesztes [uj]="false"
                                   [DtoOriginal]="Dto[DtoSelectedIndex]"
                                   (eventSzerkeszteskesz)="onModositaskesz($event)">
          </app-helyseg-szerkesztes>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>

