<div class="alapkeret">
  <h5>Napelem</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Napelem</div>
        <input type="text" class="editform-edit em15width" id="napelem"
               maxlength="50" autocomplete="off"
               [(ngModel)]="DtoEdited.Napelem"
               name="napelem">
    </div>

    <div class="editform-row">
        <div class="editform-label">DC, kW</div>
        <input type="number" class="editform-edit em6width" id="dckw"
               [(ngModel)]="DtoEdited.Dckw"
               name="dckw">
    </div>

    <div class="editform-row">
      <div class="editform-label">Napelem státusz</div>
      <select type="text" class="editform-combo" name="statusz" [(ngModel)]="DtoEdited.Napelemallapot">
        <option *ngFor="let s of projektservice.napeleminverterstatuszok" [value]="s">{{s}}</option>
      </select>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>

