<div class="alapkeret">
  <h5>Napelem</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Napelem</div>
        <input type="text" class="editform-edit em15width" id="napelem"
               maxlength="50" autocomplete="off"
               [(ngModel)]="DtoEdited.Napelem"
               name="napelem">
    </div>

    <div class="editform-row">
        <div class="editform-label">DC, kW</div>
        <input type="number" class="editform-edit em6width" id="dckw"
               [(ngModel)]="DtoEdited.Dckw"
               name="dckw">
    </div>

    <div class="editform-row">
        <div class="editform-label">Napelem státusz</div>
        <div *ngFor="let entry of entries">
          <input type="radio" name="radiogroup" id="entry"
                 [checked]="entry === selected" (change)="change(entry)">
          <label for="entry">
            {{entry}}
          </label>
        </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>

