<div class="alapkeret">
  <h5 *ngIf="projektteendoservice.uj">Új {{projektteendoservice.cim | lowercase}}</h5>
  <h5 *ngIf="!projektteendoservice.uj">{{projektteendoservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Dedikálva</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="dedikalva"
               autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="projektteendoservice.DtoEdited.DEDIKALVA" name="dedikalva">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="FelhasznaloZoom()">...</button>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Határidő</div>
      </div>
      <div class="col-md-2">
        <input type="date" class="form-control form-control-sm" id="hatarido"
               autocomplete="off"
               [(ngModel)]="Hatarido" name="hatarido">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Teendő</div>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control form-control-sm" id="teendo"
               maxlength="100" required autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="projektteendoservice.DtoEdited.Teendo" name="teendo">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="TeendoZoom()">...</button>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Leírás</div>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control form-control-sm" id="leiras"
               autocomplete="off"
               [(ngModel)]="projektteendoservice.DtoEdited.Leiras" name="leiras">
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

<!--  export enum ProjektteendoSzerkesztesMode {
  Blank = 0,
  FelhasznaloZoom = 1,
  TeendoZoom = 2
  }-->
  <ng-container *ngIf="projektteendoservice.SzerkesztesMode === 0">
    <app-blank></app-blank>
  </ng-container>
  <ng-container *ngIf="projektteendoservice.SzerkesztesMode === 1">
    <app-felhasznalo-container></app-felhasznalo-container>
  </ng-container>
  <ng-container *ngIf="projektteendoservice.SzerkesztesMode === 2">
    <app-teendo-container></app-teendo-container>
  </ng-container>

  <app-errormodal [cim]="projektteendoservice.cim"></app-errormodal>
</div>

