<div class="alapkeret">
  <h5>{{volumeservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="volumeservice.DtoSelectedIndex !== -1">{{volumeservice.Dto[volumeservice.DtoSelectedIndex].Volumekod}}</td>
    </tr>
    <tr>
      <td class="egylabel">No:</td>
      <td *ngIf="volumeservice.DtoSelectedIndex !== -1">{{volumeservice.Dto[volumeservice.DtoSelectedIndex].Volumeno}}</td>
    </tr>
    <tr>
      <td class="egylabel">Max. méret:</td>
      <td *ngIf="volumeservice.DtoSelectedIndex !== -1">{{volumeservice.Dto[volumeservice.DtoSelectedIndex].Maxmeret}}</td>
    </tr>
    <tr>
      <td class="egylabel">Jelenlegi méret:</td>
      <td *ngIf="volumeservice.DtoSelectedIndex !== -1">{{volumeservice.Dto[volumeservice.DtoSelectedIndex].Jelenlegimeret}}</td>
    </tr>
    <tr>
      <td class="egylabel">Állapot:</td>
      <td *ngIf="volumeservice.DtoSelectedIndex !== -1">{{volumeservice.Dto[volumeservice.DtoSelectedIndex].Allapot}}</td>
    </tr>
    <tr>
      <td class="egylabel">Az állapot kelte:</td>
      <td *ngIf="volumeservice.DtoSelectedIndex !== -1">{{volumeservice.Dto[volumeservice.DtoSelectedIndex].Allapotkelte | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
