<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{ngmservice.cim}}</h5>

  <form [formGroup]="form" autocomplete="off">
    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">A számlák kelte</div>
        <input type="date" class="editform-date" formControlName="szktol">
      </div>

      <div class="editform-row">
        <input type="date" class="editform-date" formControlName="szkig">
        <button class="toolbutton" (click)="szamlakelte()" type="button">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Számlaszámok</div>
        <input type="text" class="editform-edit em10width" formControlName="szsztol">
      </div>

      <div class="editform-row">
        <input type="text" class="editform-edit em10width" formControlName="szszig">
        <button class="toolbutton" (click)="szamlaszam()" type="button">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="editform-row-bottom">{{result}}</div>
  </form>
</div>
