<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{ngmservice.cim}}</h5>

  <form #f="ngForm" (ngSubmit)="submit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">A számlák kelte</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="szktol"
               [(ngModel)]="szktol" name="szktol" style="display: inline-block;margin-right: 4px">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <input type="date" class="form-control form-control-sm oszlop3" id="szkig"
               [(ngModel)]="szkig" name="szkig" style="display: inline-block;margin-right: 4px">
        <button class="btn btn-sm btn-primary" (click)="szamlakelte()"
                style="display: inline-block;margin-right: 4px" type="button">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">A számlák száma</div>
        <input type="text" class="form-control form-control-sm oszlop3" id="szsztol"
               [(ngModel)]="szsztol" name="szsztol" style="display: inline-block;margin-right: 4px">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <input type="text" class="form-control form-control-sm oszlop3" id="szszig"
               [(ngModel)]="szszig" name="szszig" style="display: inline-block;margin-right: 4px">
        <button class="btn btn-sm btn-primary" (click)="szamlaszam()"
                style="display: inline-block;margin-right: 4px" type="button">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </form>
  <div>{{result}}</div>
</div>
