<div class="alapkeret">
  <h5>{{ngmservice.cim}}</h5>

  <form #f="ngForm" (ngSubmit)="submit()">

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">A számlák kelte</div>
      </div>
      <div class="col-md-3 input-group">
        <input type="date" class="form-control form-control-sm" id="szktol"
               [(ngModel)]="szktol" name="szktol">
        &nbsp;-&nbsp;
        <input type="date" class="form-control form-control-sm" id="szkig"
               [(ngModel)]="szkig" name="szkig">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-primary" (click)="szamlakelte()"
                [disabled] = "eppFrissit" style="margin-left: 4px" type="button">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">A számlák száma</div>
      </div>
      <div class="col-md-3 input-group">
        <input type="text" class="form-control form-control-sm" id="szsztol"
               [(ngModel)]="szsztol" name="szsztol">
        &nbsp;-&nbsp;
        <input type="text" class="form-control form-control-sm" id="szszig"
               [(ngModel)]="szszig" name="szszig">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-primary" (click)="szamlaszam()"
                [disabled] = "eppFrissit" style="margin-left: 4px" type="button">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </form>
  <div>{{result}}</div>

  <app-errormodal [cim]="ngmservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
