<div class="alapkeret">
  <h5>{{felhasznaloservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Felhasznalokod}}</td>
    </tr>
    <tr>
      <td class="egylabel">Azonosító:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Azonosito}}</td>
    </tr>
    <tr>
      <td class="egylabel">Név:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Nev}}</td>
    </tr>
    <tr>
      <td class="egylabel">Telefon:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Telefon}}</td>
    </tr>
    <tr>
      <td class="egylabel">Email:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Email}}</td>
    </tr>
    <tr>
      <td class="egylabel">Státusz:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Statusz}}</td>
    </tr>
    <tr>
      <td class="egylabel">A státusz kelte:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Statuszkelte | datehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Log:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1 && felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Logonlog">Igen</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1 && !felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Logonlog">Nem</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="felhasznaloservice.DtoSelectedIndex !== -1">{{felhasznaloservice.Dto[felhasznaloservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
