<div class="alapkeret">
  <h5>{{bizonylatservice.bizonylatLeiro.BizonylatNev}}tétel törlése</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{megnevezes}}</div>
  </div>
  <p>Biztosan törölni akarja ezt a tételt?</p>
  <div class="row no-gutters" style="margin-bottom: 10px">
    <button class="btn btn-sm btn-primary" [disabled]="eppFrissit" type="button" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
  </div>

  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
