<div class="alapkeret" [appSpinner]="eppFrissit">
  <app-bizonylat-egy-toolbar [Dto]="Dto"
                             [bizonylatTipus]="bizonylatTipus"
                             [bizonylatLeiro]="bizonylatLeiro"
                             [enTorles]="enTorles"
                             [enProjekt]="enProjekt"
                             [enLevalasztas]="enLevalasztas"
                             (eventNav)="doNav($event)">
  </app-bizonylat-egy-toolbar>
  <ng-template #compcont_bizonylat></ng-template>
</div>

