<!--export enum SzamlazasirendContainerMode {
Blank = 0,
List = 1,
Egy = 2,
Uj = 3
}-->

<ng-container *ngIf="szamlazasirendservice.ContainerMode === 1">
  <app-szamlazasirend-list></app-szamlazasirend-list>
</ng-container>
<ng-container *ngIf="szamlazasirendservice.ContainerMode === 2">
  <app-szamlazasirend-egy></app-szamlazasirend-egy>
</ng-container>
<ng-container *ngIf="szamlazasirendservice.ContainerMode === 3">
  <app-szamlazasirend-szerkesztes></app-szamlazasirend-szerkesztes>
</ng-container>
