<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{bizonylatkifizetesservice.cim}}</h5>
  <div>
    <button (click)="onKereses()" class="toolbutton">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    <button (click)="doUjtetel()" class="toolbutton">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <app-tabla-ex #tabla
                [items]="Dto"
                [colsets]="bizonylatkifizetesservice.GridSettings"
                (forid)="onId($event)"
                [egyTemplate]="gridegy">
  </app-tabla-ex>

  <ng-template #gridegy>
    <app-kifizetes-egy [uj]="uj"
                       [dto]="Dto[DtoSelectedIndex]"
                       [Bizonylat]="Bizonylat"
                       (eventUj)="onUjtetelkesz($event)"
                       (eventTorles)="onTorles()"
                       (eventModositas)="onModositaskesz($event)">
    </app-kifizetes-egy>
  </ng-template>
</div>

