<div class="alapkeret">
  <h5>{{bizonylatservice.bizonylatLeiro.BizonylatNev}} részletesen</h5>
  <div>Bizonylat</div>
  <app-bizonylattabla [enIdclick]="false" [Dto]="dto"></app-bizonylattabla>
  <div>Tételek</div>
  <app-bizonylatteteltabla [enIdclick]="false" [Dto]="bizonylatservice.TetelDto"></app-bizonylatteteltabla>
  <div>ÁFA összesítés</div>
  <app-bizonylatafatabla [enIdclick]="false" [Dto]="bizonylatservice.AfaDto"></app-bizonylatafatabla>
  <div>Termékdíj összesítés</div>
  <app-bizonylattermekdijtabla [enIdclick]="false" [Dto]="bizonylatservice.TermekdijDto"></app-bizonylattermekdijtabla>
</div>
