<div class="alapkeret">
  <h5>Ajánlatkérés</h5>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">Az ügynök neve</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="ugynoknev"
               readonly="true" required
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Ugynoknev" name="ugynoknev">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">Név</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="nev"
               maxlength="100" required
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Nev" name="nev">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">Cím</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="cim"
               maxlength="100" required
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Cim" name="cim">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">E-mail</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="email"
               maxlength="100" required
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Email" name="email">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">Telefon</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="telefon"
               maxlength="100" required
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Telefonszam" name="telefon">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">Havi fogyasztás, kWh</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="n1"
               maxlength="100"
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Havifogyasztaskwh" name="n1">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">vagy Havi számla, Ft</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="n2"
               maxlength="100"
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Haviszamlaft" name="n2">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">vagy A napelemek teljesítménye, kW</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="n3"
               maxlength="100"
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Napelemekteljesitmenyekw" name="n3">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-3">
        <div class="editform-title">Megjegyzés</div>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control form-control-sm" id="megjegyzes"
               [(ngModel)]="ajanlatkeresservice.DtoEdited.Megjegyzes" name="megjegyzes">
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-3"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" [disabled]="eppFrissit" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
