<div class="alapkeret">
  <h5>{{feliratkozasservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="feliratkozasservice.szempont"
               [(minta)]="feliratkozasservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [visUj]="false">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Lista</th>
      <th>Név</th>
      <th>Cím</th>
      <th>Email</th>
      <th>Telefonszam</th>
      <th>Megjegyzés</th>
      <th>Létrehozta</th>
      <th>Létrehozva</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of feliratkozasservice.Dto; let i = index">
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.FELIRATKOZASKOD}}</td>
      <td>{{item.LISTA}}</td>
      <td>{{item.NEV}}</td>
      <td>{{item.TELEPULES}}</td>
      <td>{{item.EMAIL}}</td>
      <td>{{item.TELEFONSZAM}}</td>
      <td>{{item.MEGJEGYZES}}</td>
      <td>{{item.LETREHOZTA}}</td>
      <td>{{item.LETREHOZVA | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
  <app-toolbarfooter [enKereses]="!feliratkozasservice.elsokereses && !eppFrissit"
                     [rekordszam]="feliratkozasservice.Dto.length"
                     [osszesrekord]="feliratkozasservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
  <app-errormodal [cim]="feliratkozasservice.cim"></app-errormodal>
</div>


