<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{bizonylatLeiro.BizonylatNev}} kibocsátás</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <ng-container *ngIf="!bizonylatLeiro.GenBizonylatszam">
      <div class="editform-row">
        <div>
          <div class="editform-label">Bizonylatszám</div>
          <input type="text" class="form-control form-control-sm oszlop3" id="bizonylatszam"
                 maxlength="20" required autocomplete="off"
                 [(ngModel)]="bizonylatszam" name="bizonylatszam">
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="bizonylatLeiro.GenBizonylatszam">
      <div class="editform-row">
        <div>Biztosan kibocsátja ezt a bizonylatot?</div>
      </div>
    </ng-container>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>

  </form>
</div>
