<div class="alapkeret">
  <h5 *ngIf="termekdijservice.uj">Új {{termekdijservice.cim | lowercase}}</h5>
  <h5 *ngIf="!termekdijservice.uj">{{termekdijservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">KT</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="kt"
               maxlength="30" required autocomplete="off"
               [(ngModel)]="termekdijservice.DtoEdited.Termekdijkt" name="kt">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Megnevezés</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="megnevezes"
               maxlength="50" required autocomplete="off"
               [(ngModel)]="termekdijservice.DtoEdited.Termekdijmegnevezes" name="megnevezes">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Egységár</div>
        <input type="number" class="form-control form-control-sm oszlop2" id="egysegar"
               required autocomplete="off"
               [(ngModel)]="termekdijservice.DtoEdited.Termekdijegysegar" name="egysegar">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>
