<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Iratminta</h5>
  <div style="paddig-top: 6px;padding-bottom: 6px">
    <nav>
      <button (click)="szerzodes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Szerződés
      </button>
      <button (click)="szallitasiszerzodes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Szállítási szerződés
      </button>
      <button (click)="feltetelesszerzodes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Feltételes szerződés
      </button>
      <button (click)="oftszerzodes()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        OFT szerződés
      </button>
      <button (click)="munkalap()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Munkalap
      </button>
      <button (click)="elegedettseg()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Elégedettségi felmérés
      </button>
      <button (click)="elmuemasz()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        ELMŰ-ÉMÁSZ készrejelentés
      </button>
      <button (click)="eon()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        E.ON készrejelentés
      </button>
      <button (click)="demasz()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        MVM készrejelentés
      </button>
    </nav>
  </div>
</div>
