<div class="alapkeret">
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Megjegyzés</th>
      <th>Méret</th>
      <th>Ext</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of Dto; let i = index">
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="dokumentumvalasztas(i)"><i class="fa fa-arrow-down" aria-hidden="true"></i></td>
      <td>{{item.Dokumentumkod}}</td>
      <td>{{item.Megjegyzes}}</td>
      <td>{{item.Meret}}</td>
      <td>{{item.Ext}}</td>
    </tr>
    </tbody>
  </table>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>
