<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{cikkservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{cikkservice.cim}} módosítása</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Megnevezés</div>
        <input type="text" class="editform-edit cikkwidth" appAutofocus formControlName="megnevezes">
      </div>

      <div class="editform-row">
        <div class="editform-label">Me</div>
        <input type="text" class="editform-edit zoomedit kisprimitivwidth" formControlName="me">
        <button class="toolbutton" type="button" (click)="MeZoom()">...</button>
      </div>

      <div class="editform-row">
        <div class="editform-label">ÁFA kulcs</div>
        <input type="text" class="editform-edit zoomedit kisprimitivwidth" formControlName="afakulcs">
        <button class="toolbutton" type="button" (click)="AfakulcsZoom()">...</button>
      </div>

      <div class="editform-row">
        <div class="editform-label">Egységár</div>
        <input type="number" class="editform-number" formControlName="egysegar">
      </div>

      <div class="editform-row">
        <div class="editform-label">Készletet képez</div>
        <select type="text" class="editform-combo" formControlName="kk">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Tömeg, kg</div>
        <input type="number" class="editform-number" formControlName="tomeg">
      </div>

      <div class="editform-row">
        <div class="editform-label">Termékdíj KT</div>
        <input type="text" class="editform-edit zoomedit primitivwidth" formControlName="termekdijkt">
        <button class="toolbutton" type="button" (click)="TermekdijZoom()">...</button>
        <button class="toolbutton" type="button" (click)="TermekdijTorles()">
          <i class="fa fa-close" aria-hidden="true"></i>
        </button>
      </div>

      <div class="editform-row">
        <div class="editform-label">Termékdíj megnevezés</div>
        <input type="text" class="editform-edit em15width" formControlName="termekdijmegnevezes">
      </div>

      <div class="editform-row">
        <div class="editform-label">Termékdíj egységár</div>
        <input type="number" class="editform-number" formControlName="termekdijegysegar">
      </div>
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <div id="cikkzoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <div class="zoom-modal-content-primitive">
      <ng-container *ngIf="SzerkesztesMode === 1">
        <app-me-list [maszk]="DtoEdited.Me || ''"
                     (eventSelectzoom)="onMeSelectzoom($event)"
                     (eventStopzoom)="onMeStopzoom()"></app-me-list>
      </ng-container>
      <ng-container *ngIf="SzerkesztesMode === 2">
        <app-afakulcs-list [maszk]="DtoEdited.Afakulcs || ''"
                           (eventSelectzoom)="onAfakulcsSelectzoom($event)"
                           (eventStopzoom)="onAfakulcsStopzoom()"></app-afakulcs-list>
      </ng-container>
      <ng-container *ngIf="SzerkesztesMode === 3">
        <app-termekdij-list [maszk]="DtoEdited.Termekdijkt || ''"
                            (eventSelectzoom)="onTermekdijSelectzoom($event)"
                            (eventStopzoom)="onTermekdijStopzoom()"></app-termekdij-list>
      </ng-container>
    </div>
  </div>
</div>

