<div class="alapkeret">
  <h5 *ngIf="cikkservice.uj">Új {{cikkservice.cim | lowercase}}</h5>
  <h5 *ngIf="!cikkservice.uj">{{cikkservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Megnevezés</div>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control form-control-sm" id="megnevezes"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="cikkservice.DtoEdited.Megnevezes" name="megnevezes">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Me</div>
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control form-control-sm" id="me"
               maxlength="10" required autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="cikkservice.DtoEdited.Me" name="me">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="MeZoom()">...</button>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">ÁFA kulcs</div>
      </div>
      <div class="col-md-1">
        <input type="text" class="form-control form-control-sm" id="afakulcs"
               maxlength="10" required autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="cikkservice.DtoEdited.Afakulcs" name="afakulcs">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="AfakulcsZoom()">...</button>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Egységár</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="egysegar"
               maxlength="10" required autocomplete="off"
               [(ngModel)]="cikkservice.DtoEdited.Egysegar" name="egysegar">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Készletet képez</div>
      </div>
      <div class="col-md-1">
        <select type="text" class="form-control form-control-sm"
                [(ngModel)]="cikkservice.DtoEdited.Keszletetkepez" name="kk">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Tömeg, kg</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="tomeg"
               maxlength="10" required autocomplete="off"
               [(ngModel)]="cikkservice.DtoEdited.Tomegkg" name="tomeg">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Termékdíj KT</div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control form-control-sm" id="termekdijkt"
               maxlength="10" autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="cikkservice.DtoEdited.Termekdijkt" name="termekdijkt">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="TermekdijZoom()">...</button>
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Termékdíj megnevezés</div>
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control form-control-sm" id="termekdijmegnevezes"
               autocomplete="off" readonly
               [(ngModel)]="cikkservice.DtoEdited.Termekdijmegnevezes" name="termekdijmegnevezes">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Termékdíj egységár</div>
      </div>
      <div class="col-md-1">
        <input type="number" class="form-control form-control-sm" id="termekdijegysegar"
               autocomplete="off" readonly
               [(ngModel)]="cikkservice.DtoEdited.Termekdijegysegar" name="termekdijegysegar">
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

<!--  export enum CikkSzerkesztesMode {
  Blank = 0,
  MeZoom = 1,
  AfakulcsZoom = 2,
  TermekdijZoom = 3
  }-->

  <ng-container *ngIf="cikkservice.SzerkesztesMode === 0">
    <app-blank></app-blank>
  </ng-container>
  <ng-container *ngIf="cikkservice.SzerkesztesMode === 1">
    <app-me-container></app-me-container>
  </ng-container>
  <ng-container *ngIf="cikkservice.SzerkesztesMode === 2">
    <app-afakulcs-container></app-afakulcs-container>
  </ng-container>
  <ng-container *ngIf="cikkservice.SzerkesztesMode === 3">
    <app-termekdij-container></app-termekdij-container>
  </ng-container>

  <app-errormodal [cim]="cikkservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>

