<div class="alapkeret">
  <h5 *ngIf="uj">Új {{cikkservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{cikkservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Megnevezés</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="megnevezes"
               maxlength="100" required autocomplete="off"
               [(ngModel)]="cikkservice.DtoEdited.Megnevezes" name="megnevezes">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Me</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="me"
               maxlength="10" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="cikkservice.DtoEdited.Me" name="me">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="MeZoom()">...</button>
      </div>

      <div style="display: inline-block; margin-right: 5px">
        <div class="egylabel">ÁFA kulcs</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="afakulcs"
               maxlength="10" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="cikkservice.DtoEdited.Afakulcs" name="afakulcs">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="AfakulcsZoom()">...</button>
      </div>
    </div>


    <ng-container *ngIf="cikkservice.SzerkesztesMode === 1">
      <div class="row no-gutters editform-row">
        <app-me-list></app-me-list>
      </div>
    </ng-container>
    <ng-container *ngIf="cikkservice.SzerkesztesMode === 2">
      <div class="row no-gutters editform-row">
        <app-afakulcs-list></app-afakulcs-list>
      </div>
    </ng-container>


    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Egységár</div>
        <input type="number" class="form-control form-control-sm oszlop2" id="egysegar"
               maxlength="10" required autocomplete="off"
               [(ngModel)]="cikkservice.DtoEdited.Egysegar" name="egysegar">
      </div>

      <div style="display: inline-block; margin-right: 5px">
        <div class="egylabel">Tömeg, kg</div>
        <input type="number" class="form-control form-control-sm oszlop2" id="tomeg"
               maxlength="10" required autocomplete="off"
               [(ngModel)]="cikkservice.DtoEdited.Tomegkg" name="tomeg">
      </div>

      <div style="display: inline-block; margin-right: 5px">
        <div class="egylabel">Készletet képez</div>
        <select type="text" class="form-control form-control-sm"
                [(ngModel)]="cikkservice.DtoEdited.Keszletetkepez" name="kk">
          <option value="false">Nem</option>
          <option value="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Termékdíj KT</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="termekdijkt"
               maxlength="10" autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="cikkservice.DtoEdited.Termekdijkt" name="termekdijkt">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="TermekdijZoom()">...</button>
      </div>

      <div style="display: inline-block; margin-right: 5px">
        <div class="egylabel">Termékdíj megnevezés</div>
        <input type="text" class="form-control form-control-sm oszlop4" id="termekdijmegnevezes"
               autocomplete="off" readonly
               [(ngModel)]="cikkservice.DtoEdited.Termekdijmegnevezes" name="termekdijmegnevezes">
      </div>

      <div style="display: inline-block; margin-right: 5px">
        <div class="egylabel">Termékdíj egységár</div>
        <input type="number" class="form-control form-control-sm oszlop1" id="termekdijegysegar"
               autocomplete="off" readonly
               [(ngModel)]="cikkservice.DtoEdited.Termekdijegysegar" name="termekdijegysegar">
      </div>
    </div>

    <ng-container *ngIf="cikkservice.SzerkesztesMode === 3">
      <div class="row no-gutters editform-row">
        <app-termekdij-list></app-termekdij-list>
      </div>
    </ng-container>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>

