<div class="alapkeret">
  <h5 *ngIf="uj">Új {{projektteendoservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{projektteendoservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Dedikálva</div>
        <input type="text" class="form-control form-control-sm oszlop3" id="dedikalva"
               autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="projektteendoservice.DtoEdited.Dedikalva" name="dedikalva">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="FelhasznaloZoom()">...</button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Határidő</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="hatarido"
               autocomplete="off"
               [(ngModel)]="Hatarido" name="hatarido">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Teendő</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="teendo"
               maxlength="100" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="projektteendoservice.DtoEdited.Teendo" name="teendo">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="TeendoZoom()">...</button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Leírás</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="leiras"
               autocomplete="off"
               [(ngModel)]="projektteendoservice.DtoEdited.Leiras" name="leiras">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>

  <ng-container *ngIf="projektteendoservice.SzerkesztesMode === 1">
    <app-felhasznalo-list [maszk]="this.projektteendoservice.DtoEdited.Dedikalva || ''"
                          (eventSelectzoom)="onFelhasznaloSelectzoom($event)"
                          (eventStopzoom)="onFelhasznaloStopzoom()"></app-felhasznalo-list>
  </ng-container>
  <ng-container *ngIf="projektteendoservice.SzerkesztesMode === 2">
    <app-teendo-list [maszk]="this.projektteendoservice.DtoEdited.Teendo || ''"
                     (eventSelectzoom)="onTeendoSelectzoom($event)"
                     (eventStopzoom)="onTeendoStopzoom()"></app-teendo-list>
  </ng-container>
</div>

