<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Csoport</h5>

  <form #f="ngForm">

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Csoport</div>
        <div *ngFor="let entry of entries;let i = index" class="form-check">
          <input class="form-check-input" type="radio" name="radiogroup" id="entry"
                 [checked]="i === selected" (change)="change(i)">
          <label class="form-check-label" for="entry">
            {{entry}}
          </label>
        </div>
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="button" (click)="okClick()">Ok</button>
      <button class="editform-cancelbutton" [disabled]="!f.valid" type="button" (click)="cancelClick()">Mégsem</button>
    </div>
  </form>
</div>

