<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{penznemservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{penznemservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-box">
      <div class="editform-row">
        <div class="editform-label">Pénznem</div>
        <input type="text" class="editform-edit em4width" id="penznem1"
               maxlength="3" required autocomplete="off"
               [(ngModel)]="DtoEdited.Penznem1" name="penznem1">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
