<div class="alapkeret">
  <h5 *ngIf="uj">Új {{penznemservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{penznemservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="egylabel">Pénznem</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="irattipus1"
               maxlength="3" required autocomplete="off"
               [(ngModel)]="DtoEdited.Penznem1" name="irattipus1">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>
