<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{helysegservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{helysegservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div class="editform-label">Helységnév</div>
      <input type="text" class="editform-edit em10width" id="helysegnev"
             maxlength="100" required autocomplete="off"
             [(ngModel)]="DtoEdited.Helysegnev" name="helysegnev">
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
