<div class="alapkeret">
  <h5>{{csoportservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="csoportservice.DtoSelectedIndex !== -1">{{csoportservice.Dto[csoportservice.DtoSelectedIndex].Csoportkod}}</td>
    </tr>
    <tr>
      <td class="egylabel">Csoport:</td>
      <td *ngIf="csoportservice.DtoSelectedIndex !== -1">{{csoportservice.Dto[csoportservice.DtoSelectedIndex].Csoport1}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="csoportservice.DtoSelectedIndex !== -1">{{csoportservice.Dto[csoportservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="csoportservice.DtoSelectedIndex !== -1">{{csoportservice.Dto[csoportservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="csoportservice.DtoSelectedIndex !== -1">{{csoportservice.Dto[csoportservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="csoportservice.DtoSelectedIndex !== -1">{{csoportservice.Dto[csoportservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
