<div class="alapkeret">
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !jog" (click)="torles()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !jog" (click)="modositas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !jog" (click)="stsz()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Stsz
      </button>
      <button [disabled]="eppFrissit || !jog" (click)="muszakiallapot()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Műszaki állapot
      </button>
      <button [disabled]="eppFrissit || !jog" (click)="inverter()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Inverter
      </button>
      <button [disabled]="eppFrissit || !jog" (click)="napelem()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Napelem
      </button>
      <button [disabled]="eppFrissit || !jog" (click)="datumok()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Dátumok
      </button>
      <button [disabled]="eppFrissit" (click)="iratminta()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Iratminta
      </button>
      <button [disabled]="eppFrissit" (click)="bizonylatesirat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Bizonylat és irat
      </button>
      <button [disabled]="eppFrissit" (click)="szamlazasirend()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Számlázási rend
      </button>
      <button [disabled]="eppFrissit" (click)="teendo()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Teendő
      </button>
    </nav>
  </div>


  <ng-container *ngIf="egymode === 1">
    <div [@rowanimation]>
      <app-reszletek [cim]="projektservice.cim"
                     [item]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                     [colsets]="projektservice.ReszletekSettings">
      </app-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="egymode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="projektservice.cim"
                        [eppFrissit]="eppFrissit"
                        (eventTorles)="onTorles($event)">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="egymode === 3">
    <div [@rowanimation]>
      <app-projekt-szerkesztes [uj]="false"
                               [DtoOriginal]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                               (eventSzerkeszteskesz)="onModositaskesz()">
      </app-projekt-szerkesztes>
    </div>
  </ng-container>



  <ng-container *ngIf="egymode === 19">
    <div [@rowanimation]><app-projekt-statusz [eppFrissit]="eppFrissit"
                                              [DtoOriginal]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                                              (OkClick)="SegedOk($event)"
                                              (CancelClick)="SegedCancel()">
    </app-projekt-statusz></div>
  </ng-container>

  <ng-container *ngIf="egymode === 20">
    <div [@rowanimation]>
      <app-projekt-muszakiallapot [eppFrissit]="eppFrissit"
                                  [DtoOriginal]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                                  (OkClick)="SegedOk($event)"
                                  (CancelClick)="SegedCancel()">
      </app-projekt-muszakiallapot>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 21">
    <div [@rowanimation]>
      <app-projekt-inverter [eppFrissit]="eppFrissit"
                            [DtoOriginal]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                            (OkClick)="SegedOk($event)"
                            (CancelClick)="SegedCancel()">
      </app-projekt-inverter>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 22">
    <div [@rowanimation]>
      <app-projekt-napelem [eppFrissit]="eppFrissit"
                           [DtoOriginal]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                           (OkClick)="SegedOk($event)"
                           (CancelClick)="SegedCancel()">
      </app-projekt-napelem>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 23">
    <div [@rowanimation]>
      <app-projekt-iratminta [Projektkod]="projektservice.Dto[projektservice.DtoSelectedIndex].Projektkod"
                             (eventMunkalaputan)="onMunkalaputan()">
      </app-projekt-iratminta>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 24">
    <div [@rowanimation]>
      <app-projektkapcsolat-list [Projektkod]="projektservice.Dto[projektservice.DtoSelectedIndex].Projektkod"
                                 [Ugyfelkod]="projektservice.Dto[projektservice.DtoSelectedIndex].Ugyfelkod">
      </app-projektkapcsolat-list>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 25">
    <div [@rowanimation]>
      <app-szamlazasirend-list [Projektkod]="projektservice.Dto[projektservice.DtoSelectedIndex].Projektkod">
      </app-szamlazasirend-list>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 26">
    <div [@rowanimation]>
      <app-projekt-teendo-list [Projektkod]="projektservice.Dto[projektservice.DtoSelectedIndex].Projektkod">

      </app-projekt-teendo-list>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 27">
    <div [@rowanimation]>
      <app-projekt-datumok [eppFrissit]="eppFrissit"
                           [DtoOriginal]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                           (OkClick)="SegedOk($event)"
                           (CancelClick)="SegedCancel()">
      </app-projekt-datumok>
    </div>
  </ng-container>
</div>

