<div class="alapkeret">
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !mod" (click)="torles()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !mod" (click)="modositas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !mod" (click)="stsz()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Stsz
      </button>
      <button [disabled]="eppFrissit || !mod" (click)="muszakiallapot()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Műszaki állapot
      </button>
      <button [disabled]="eppFrissit || !mod" (click)="inverter()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Inverter
      </button>
      <button [disabled]="eppFrissit || !mod" (click)="napelem()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Napelem
      </button>
      <button [disabled]="eppFrissit || !mod" (click)="datumok()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Dátumok
      </button>
      <button [disabled]="eppFrissit" (click)="iratminta()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Iratminta
      </button>
      <button [disabled]="eppFrissit" (click)="bizonylatesirat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Bizonylat és irat
      </button>
      <button [disabled]="eppFrissit" (click)="szamlazasirend()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Számlázási rend
      </button>
      <button [disabled]="eppFrissit" (click)="teendo()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Teendő
      </button>
    </nav>
  </div>

<!--  export enum ProjektEgyMode {
  Reszletek = 1,
  Torles = 2,
  Modositas = 3,
  Statusz = 4,
  Muszakiallapot = 5,
  Inverter = 6,
  Napelem = 7,
  Iratminta = 8,
  Bizonylatesirat = 9,
  Szamlazasirend = 10,
  Teendo = 11,
  Datumok = 12
  }-->

  <ng-container *ngIf="projektservice.EgyMode === 1">
    <div [@rowanimation]>
      <app-reszletek [cim]="projektservice.cim"
                     [item]="projektservice.Dto[projektservice.DtoSelectedIndex]"
                     [colsets]="projektservice.ReszletekSettings"
                     [(selectedindex)]="ri">
      </app-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="projektservice.cim"
                        [eppFrissit]="eppFrissit"
                        (OkClick)="TorlesOk()"
                        (CancelClick)="TorlesCancel()">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 3">
    <div [@rowanimation]><app-projekt-szerkesztes></app-projekt-szerkesztes></div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 4">
    <div [@rowanimation]><app-projekt-statusz [eppFrissit]="eppFrissit"
                                              (OkClick)="SegedOk()"
                                              (CancelClick)="SegedCancel()">
    </app-projekt-statusz></div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 5">
    <div [@rowanimation]>
      <app-projekt-muszakiallapot [eppFrissit]="eppFrissit"
                                  (OkClick)="SegedOk()"
                                  (CancelClick)="SegedCancel()">
      </app-projekt-muszakiallapot>
    </div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 6">
    <div [@rowanimation]>
      <app-projekt-inverter [eppFrissit]="eppFrissit"
                            (OkClick)="SegedOk()"
                            (CancelClick)="SegedCancel()">
      </app-projekt-inverter>
    </div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 7">
    <div [@rowanimation]>
      <app-projekt-napelem [eppFrissit]="eppFrissit"
                           (OkClick)="SegedOk()"
                           (CancelClick)="SegedCancel()">
      </app-projekt-napelem>
    </div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 8">
    <div [@rowanimation]><app-projekt-iratminta></app-projekt-iratminta></div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 9">
    <div [@rowanimation]><app-projektkapcsolat-container></app-projektkapcsolat-container></div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 10">
    <div [@rowanimation]><app-szamlazasirend-container></app-szamlazasirend-container></div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 11">
    <div [@rowanimation]><app-projekt-teendo-container></app-projekt-teendo-container></div>
  </ng-container>
  <ng-container *ngIf="projektservice.EgyMode === 12">
    <div [@rowanimation]>
      <app-projekt-datumok [eppFrissit]="eppFrissit"
                           (OkClick)="SegedOk()"
                           (CancelClick)="SegedCancel()">
      </app-projekt-datumok>
    </div>
  </ng-container>
</div>

