<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{projektkapcsolatservice.cim}}</h5>

  <div>
    <nav>
      <button (click)="onKereses()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins" style="margin-right: 3px">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="!BizonylatMod" (click)="onUjbizonylat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Bizonylat
      </button>
      <button [disabled]="!IratMod" (click)="onUjirat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Irat
      </button>
      <button [disabled]="!AjanlatMod" (click)="onUjajanlat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Ajánlat
      </button>
      <button (click)="onVagolaprol()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Vágólapról
      </button>
    </nav>
  </div>

  <app-projektkapcsolat-tabla #tabla
                              [items]="Dto"
                              (forid)="onId($event)"
                              (forlevalasztas)="onLevalasztas($event)"
                              [egyBizonylat]="bizonylategy"
                              [egyIrat]="irategy"
                              [egyLevalasztas]="levalasztasegy"
                              [egyVagolaprol]="vagolaprolegy"
                              [egyUjbizonylat]="ujbizonylategy"
                              [egyUjirat]="ujirategy"
                              [egyUjajanlat]="ujajanlategy">
  </app-projektkapcsolat-tabla>

  <ng-template #bizonylategy>
    <app-bizonylat-egy [DtoOriginal]="OriginalBizonylat"
                       [bizonylatTipus]=""
                       [bizonylatLeiro]="bizonylatLeiro"
                       [enTorles]="false"
                       [enProjekt]="false">
    </app-bizonylat-egy>
  </ng-template>

  <ng-template #irategy>
    <app-irat-egy [DtoOriginal]="OriginalIrat"
                  [enTorles]="false"
                  [enProjekt]="false"
                  [enUgyfel]="false"
                  [(bbmode)]="egyirat_bbmode"
                  [(egymode)]="egyirat_egymode"
                  (eventSzerkesztesutan)="onIratSzerkesztesutan($event)">
    </app-irat-egy>
  </ng-template>

  <ng-template #levalasztasegy>
    <app-projektkapcsolat-levalasztas [Dto]="Dto[DtoSelectedIndex]"
                                      (eventLevalasztasutan)="onLevalasztasutan($event)">
    </app-projektkapcsolat-levalasztas>
  </ng-template>

  <ng-template #vagolaprolegy>
    <app-projektkapcsolat-vagolaprol [Projektkod]="Projektkod"
                                     (eventVagolaprolutan)="onVagolaprolutan($event)"
                                     (eventVagolaprolutanvege)="onVagolaprolutanvege()">
    </app-projektkapcsolat-vagolaprol>
  </ng-template>

  <ng-template #ujbizonylategy>
    <app-projektkapcsolat-ujbizonylat [Projektkod]="Projektkod"
                                      [Ugyfelkod]="Ugyfelkod"
                                      (eventUjbizonylatutan)="onUjbizonylatutan($event)">
    </app-projektkapcsolat-ujbizonylat>
  </ng-template>

  <ng-template #ujirategy>
    <app-irat-szerkesztes [uj]="true"
                          [enUgyfel]="false"
                          [Ugyfelkod]="Ugyfelkod"
                          (eventSzerkeszteskesz)="onUjiratutan($event)">
    </app-irat-szerkesztes>
  </ng-template>

  <ng-template #ujajanlategy>
    <app-ajanlat [Projektkod]="Projektkod"
                 (eventAjanlatkesz)="onAjanlatutan($event)">
    </app-ajanlat>
  </ng-template>
</div>
