<div class="alapkeret">
  <h5>{{projektkapcsolatservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="kereses()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins" style="margin-right: 3px">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !BizonylatMod" (click)="ujbizonylat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Bizonylat
      </button>
      <button [disabled]="eppFrissit || !IratMod" (click)="ujirat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Irat
      </button>
      <button [disabled]="eppFrissit || !AjanlatMod" (click)="ujajanlat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Ajánlat
      </button>
      <button [disabled]="eppFrissit" (click)="vagolaprol()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Vágólapról
      </button>
    </nav>
  </div>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Kapcsolat</th>
      <th>Tipus</th>
      <th>Azonosító</th>
      <th>Keletkezett</th>
      <th>Irány</th>
      <th>Tárgy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of projektkapcsolatservice.Dto; let i = index">
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer;padding-left: 8px;padding-right: 8px"
          (click)="levalasztas(i)">
          <i class="fa fa-minus" aria-hidden="true"></i></td>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
          (click)="setClickedRow(i)">{{item.Projektkapcsolatkod}}</td>
      <td>{{item.Kapcsolat}}</td>
      <td>{{item.Tipus}}</td>
      <td>{{item.Azonosito}}</td>
      <td>{{item.Keletkezett | datehun}}</td>
      <td>{{item.Irany}}</td>
      <td>{{item.Targy}}</td>
    </tr>
    </tbody>
  </table>

  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
