<div class="alapkeret">
  <h5>{{projektkapcsolatservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="kereses()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins" style="margin-right: 3px">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !BizonylatMod" (click)="ujbizonylat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Bizonylat
      </button>
      <button [disabled]="eppFrissit || !IratMod" (click)="ujirat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Irat
      </button>
      <button [disabled]="eppFrissit || !AjanlatMod" (click)="ujajanlat()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Ajánlat
      </button>
      <button [disabled]="eppFrissit" (click)="vagolaprol()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-plus" style="margin-right: 3px" aria-hidden="true"></i>Vágólapról
      </button>
    </nav>
  </div>
  <app-projektkapcsolat-tabla #tabla
                              [items]="projektkapcsolatservice.Dto"
                              (forid)="setClickedRow($event)"
                              (forlevalasztas)="levalasztas($event)"
                              [egyBizonylat]="bizonylategy"
                              [egyIrat]="irategy">
  </app-projektkapcsolat-tabla>
  <ng-template #bizonylategy>
    <app-bizonylat-egy (torlesutan)="torlesutan()"></app-bizonylat-egy>
  </ng-template>
  <ng-template #irategy>
    <app-irat-egy [enProjekt]="false" (torlesutan)="torlesutan()"></app-irat-egy>
  </ng-template>
</div>
