<div class="alapkeret">
  <h5>{{teendoservice.cim}}</h5>
  <h6 *ngIf="teendoservice.DtoSelectedIndex !== -1">{{teendoservice.Dto[teendoservice.DtoSelectedIndex].TEENDO1}}</h6>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || teendoservice.DtoSelectedIndex === -1 || !mod"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || teendoservice.DtoSelectedIndex === -1 || !mod"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>
    </nav>
  </div>

  <!--  export enum TeendoEgyMode {
Reszletek = 1,
Torles = 2,
Modositas = 3
}-->

  <ng-container *ngIf="teendoservice.EgyMode === 1">
    <app-teendo-reszletek></app-teendo-reszletek>
  </ng-container>
  <ng-container *ngIf="teendoservice.EgyMode === 2">
    <app-teendo-torles></app-teendo-torles>
  </ng-container>
  <ng-container *ngIf="teendoservice.EgyMode === 3">
    <app-teendo-szerkesztes></app-teendo-szerkesztes>
  </ng-container>

  <app-errormodal [cim]="teendoservice.cim"></app-errormodal>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>

