<div class="alapkeret">
  <h5>{{iratservice.cim}}</h5>
  <div style="margin-bottom: 10px">
    <div style="font-size: smaller">{{iratservice.Dto[iratservice.DtoSelectedIndex].IRATKOD}} {{iratservice.Dto[iratservice.DtoSelectedIndex].IRATTIPUS}}</div>
    <div style="font-size: smaller">{{iratservice.Dto[iratservice.DtoSelectedIndex].UGYFELNEV}} {{iratservice.Dto[iratservice.DtoSelectedIndex].UGYFELCIM}}</div>
    <div style="font-size: smaller">{{iratservice.Dto[iratservice.DtoSelectedIndex].TARGY}}</div>
  </div>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || iratservice.DtoSelectedIndex === -1"
              (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || iratservice.DtoSelectedIndex === -1"
              (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || iratservice.DtoSelectedIndex === -1" (click)="dokumentum()" class="btn btn-sm btn-outline-primary navgomb">
        Dokumentum
      </button>
      <button [disabled]="eppFrissit" (click)="projekt()" class="btn btn-sm btn-outline-primary navgomb">
        Projekt
      </button>
    </nav>
  </div>

<!--  export enum IratEgyMode {
  Reszletek = 1,
  Torles = 2,
  Modositas = 3,
  Dokumentum = 4,
  Projekt = 5
  }-->

  <ng-container *ngIf="iratservice.EgyMode === 1">
    <app-irat-reszletek></app-irat-reszletek>
  </ng-container>
  <ng-container *ngIf="iratservice.EgyMode === 2">
    <app-irat-torles></app-irat-torles>
  </ng-container>
  <ng-container *ngIf="iratservice.EgyMode === 3">
    <app-irat-szerkesztes></app-irat-szerkesztes>
  </ng-container>
  <ng-container *ngIf="iratservice.EgyMode === 4">
    <app-dokumentum-container></app-dokumentum-container>
  </ng-container>
  <ng-container *ngIf="iratservice.EgyMode === 5">
    <app-irat-nincsprojekt *ngIf="nincsProjekt"></app-irat-nincsprojekt>
    <app-projekt-reszletek *ngIf="!nincsProjekt"></app-projekt-reszletek>
  </ng-container>

  <app-errormodal [cim]="iratservice.cim"></app-errormodal>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>
