<!--export enum CikkContainerMode {
  Blank = 0,
  List = 1,
  Egy = 2,
  Uj = 3
}-->

<ng-container *ngIf="cikkservice.ContainerMode === 0">
  <app-blank></app-blank>
</ng-container>
<ng-container *ngIf="cikkservice.ContainerMode === 1">
  <app-cikk-list></app-cikk-list>
</ng-container>
<ng-container *ngIf="cikkservice.ContainerMode === 2">
  <app-cikk-egy></app-cikk-egy>
</ng-container>
<ng-container *ngIf="cikkservice.ContainerMode === 3">
  <app-cikk-szerkesztes></app-cikk-szerkesztes>
</ng-container>

<app-errormodal [cim]="cikkservice.cim"></app-errormodal>
<app-spinner *ngIf="eppFrissit"></app-spinner>
