<!--
export enum BizonylatKifizetesContainerMode {
Blank = 0,
List = 1,
Egy = 2,
Uj = 3
}-->

<ng-container *ngIf="bizonylatkifizetesservice.ContainerMode === 1">
  <app-bizonylat-kifizetes-list></app-bizonylat-kifizetes-list>
</ng-container>
<ng-container *ngIf="bizonylatkifizetesservice.ContainerMode === 2">
  <app-bizonylat-kifizetes-egy></app-bizonylat-kifizetes-egy>
</ng-container>
<ng-container *ngIf="bizonylatkifizetesservice.ContainerMode === 3">
  <app-bizonylat-kifizetes-szerkesztes></app-bizonylat-kifizetes-szerkesztes>
</ng-container>
