<div class="alapkeret">
  <h5>eMail</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="editform-card">
      <div class="editform-row">
          <div class="editform-label">Konfiguráció</div>
          <select class="editform-combo" (change)="selectedchange($event)" formControlName="konfiguracio">
            <option *ngFor="let s of entries; let i = index" [value]="i">{{s}}</option>
          </select>
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Azonosító</div>
        <input type="text" class="editform-edit em15width" appAutofocus formControlName="azonosito">
      </div>
      <div class="editform-row">
        <div class="editform-label">Jelszó</div>
        <input type="text" class="editform-edit em15width" formControlName="jelszo">
      </div>
      <div class="editform-row">
        <div class="editform-label">A küldő neve</div>
        <input type="text" class="editform-edit em15width" formControlName="kuldoneve">
      </div>
      <div class="editform-row">
        <div class="editform-label">A küldő email címe</div>
        <input type="text" class="editform-edit em15width" formControlName="kuldoemailcime">
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Klienstipus</div>
        <select type="text" class="editform-combo" formControlName="klienstipus">
          <option>Gmail</option>
        </select>
      </div>
      <div class="editform-row">
        <div class="editform-label">Custom host</div>
        <input type="text" class="editform-edit em15width" formControlName="customhost">
      </div>
      <div class="editform-row">
        <div class="editform-label">Custom port</div>
        <input type="number" class="editform-number" formControlName="customport">
      </div>
      <div class="editform-row">
        <div class="editform-label">Ssl</div>
        <select type="text" class="editform-combo" formControlName="ssl">
          <option [ngValue]="false">Nem</option>
          <option [ngValue]="true">Igen</option>
        </select>
      </div>
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>
