<div class="alapkeret">
  <h5>{{teendoservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="teendoservice.ekDto.szempont"
               [(minta)]="teendoservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="teendoservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th *ngIf="teendoservice.zoom"></th>
      <th>Id</th>
      <th>Teendő</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of teendoservice.Dto; let i = index">
      <td *ngIf="teendoservice.zoom" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="selectforzoom(i)"><i class="fa fa-check" aria-hidden="true"></i></td>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.TEENDOKOD}}</td>
      <td>{{item.TEENDO1}}</td>
    </tr>
    </tbody>
  </table>
  <app-errormodal [cim]="teendoservice.cim"></app-errormodal>
</div>
