<div class="alapkeret">
  <h5>{{dokumentumservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].DOKUMENTUMKOD}}</td>
    </tr>
    <tr>
      <td class="egylabel">Megjegyzés:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].MEGJEGYZES}}</td>
    </tr>
    <tr>
      <td class="egylabel">Méret:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].MERET}}</td>
    </tr>
    <tr>
      <td class="egylabel">Ext:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].EXT}}</td>
    </tr>

    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].LETREHOZTA}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].LETREHOZVA | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].MODOSITOTTA}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td>{{dokumentumservice.Dto[dokumentumservice.DtoSelectedIndex].MODOSITVA | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
