<div class="alapkeret">
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="doReszletek()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || !jog || !enTorles"
              (click)="doTorles()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit || !jog"
              (click)="doModositas()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit" (click)="doDokumentum()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Dokumentum
      </button>
      <button [disabled]="eppFrissit" (click)="doFotozaslink()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Fotózás link
      </button>
      <button [disabled]="eppFrissit || !enProjekt" (click)="doProjekt()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        Projekt
      </button>
      <button [disabled]="eppFrissit" (click)="doVagolap()" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
        <i class="fa fa-angle-right" style="margin-right: 3px" aria-hidden="true"></i>
        Vágólapra
      </button>
    </nav>
    <app-abu></app-abu>
  </div>

  <ng-container *ngIf="egymode === 1">
    <div [@rowanimation]>
      <app-reszletek [cim]="iratservice.cim"
                     [item]="Dto"
                     [colsets]="iratservice.ReszletekSettings">
      </app-reszletek>
    </div>
  </ng-container>
  <ng-container *ngIf="egymode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="iratservice.cim"
                        [eppFrissit]="eppFrissit"
                        (eventTorles)="onTorles($event)">
      </app-tetel-torles>
    </div>
  </ng-container>
  <ng-container *ngIf="egymode === 3">
    <div [@rowanimation]>
      <app-irat-szerkesztes [uj]="false"
                            [DtoOriginal]="Dto"
                            [enUgyfel]="enUgyfel"
                            (eventSzerkeszteskesz)="onModositaskesz($event)">
      </app-irat-szerkesztes>
    </div>
  </ng-container>


  <ng-container *ngIf="egymode === 15">
    <div [@rowanimation]>
      <app-dokumentum-list [Iratkod]="Dto.Iratkod">
      </app-dokumentum-list>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 8">
    <div [@rowanimation]>
      <h5 *ngIf="nincsProjekt">Az irat nem tartozik projekthez</h5>
      <app-reszletek *ngIf="!nincsProjekt"
                     [cim]="projektservice.cim"
                     [item]="IratProjektje"
                     [colsets]="projektservice.ReszletekSettings">
      </app-reszletek>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 16">
    <div [@rowanimation]>
      <app-fotozas-link [DtoOriginal]="Dto"
                        (eventSzerkeszteskesz)="onFotozaslinkKesz($event)">
      </app-fotozas-link>
    </div>
  </ng-container>
</div>

