<!--export enum ProjektteendoContainerMode {
Blank = 0,
List = 1,
Egy = 2,
Uj = 3
}-->

<ng-container *ngIf="projektteendoservice.ContainerMode === 1">
  <app-projekt-teendo-list></app-projekt-teendo-list>
</ng-container>
<ng-container *ngIf="projektteendoservice.ContainerMode === 2">
  <app-projekt-teendo-egy></app-projekt-teendo-egy>
</ng-container>
<ng-container *ngIf="projektteendoservice.ContainerMode === 3">
  <app-projekt-teendo-szerkesztes></app-projekt-teendo-szerkesztes>
</ng-container>
