<div class="alapkeret">
  <h5 *ngIf="!zoom">{{afakulcsservice.cim}}</h5>
  <h5 *ngIf="zoom">{{afakulcsservice.cim}} - zoom</h5>

  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && jog" (Uj)="onUj()"
               [visZoom]="zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>

  <app-tabla #tabla
             [items]="afakulcsservice.Dto"
             [colsets]="afakulcsservice.GridSettings"
             [zoom]="zoom"
             (forzoom)="onStartzoom($event)"
             (forid)="onId($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #griduj>
    <app-afakulcs-szerkesztes [uj] = "true"
                              (eventSzerkeszteskesz)="onUjkesz()">
    </app-afakulcs-szerkesztes>
  </ng-template>
  <ng-template #gridegy>
    <app-afakulcs-egy (eventTorlesutan)="onTorlesutan()"></app-afakulcs-egy>
  </ng-template>
</div>

