<div class="alapkeret">
  <h5 *ngIf="!felhasznaloservice.zoom">{{felhasznaloservice.cim}}</h5>
  <h5 *ngIf="felhasznaloservice.zoom">{{felhasznaloservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="felhasznaloservice.ekDto.szempont"
               [(minta)]="felhasznaloservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="felhasznaloservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th *ngIf="felhasznaloservice.zoom"></th>
      <th>Id</th>
      <th>Azonosító</th>
      <th>Név</th>
      <th>Telefon</th>
      <th>Email</th>
      <th>Státusz</th>
      <th>A státusz kelte</th>
      <th>Log</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of felhasznaloservice.Dto; let i = index">
      <td *ngIf="felhasznaloservice.zoom" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
          (click)="selectforzoom(i)"><i class="fa fa-check" aria-hidden="true"></i></td>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"
          (click)="setClickedRow(i)">{{item.FELHASZNALOKOD}}</td>
      <td>{{item.AZONOSITO}}</td>
      <td>{{item.NEV}}</td>
      <td>{{item.TELEFON}}</td>
      <td>{{item.EMAIL}}</td>
      <td>{{item.STATUSZ}}</td>
      <td>{{item.STATUSZKELTE | datehun}}</td>
      <td *ngIf="item.LOGONLOG">Igen</td>
      <td *ngIf="!item.LOGONLOG">Nem</td>
    </tr>
    </tbody>
  </table>
  <app-errormodal [cim]="felhasznaloservice.cim"></app-errormodal>
</div>
