<div class="alapkeret">
  <h5>{{feliratkozasservice.cim}}</h5>
  <h6 *ngIf="feliratkozasservice.DtoSelectedIndex !== -1">
    {{feliratkozasservice.Dto[feliratkozasservice.DtoSelectedIndex].FELIRATKOZASKOD}} {{feliratkozasservice.Dto[feliratkozasservice.DtoSelectedIndex].NEV}}, {{feliratkozasservice.Dto[feliratkozasservice.DtoSelectedIndex].TELEPULES}}
  </h6>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>
      <button [disabled]="eppFrissit || feliratkozasservice.DtoSelectedIndex === -1" (click)="projekt()" class="btn btn-sm btn-outline-primary navgomb">
        Projekt
      </button>
    </nav>
  </div>

  <router-outlet></router-outlet>
  <app-errormodal [cim]="feliratkozasservice.cim"></app-errormodal>
</div>


