<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Követelések</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div>
        <div class="editform-label">Dátum</div>
        <input type="date" class="form-control form-control-sm oszlop3" id="datum"
               [(ngModel)]="datum" name="datum">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Stop</button>
    </div>
  </form>
</div>
