<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Követelések</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Dátum</div>
        <input type="date" class="editform-date" id="datum"
               [(ngModel)]="datum" name="datum">
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <!--<button class="editform-cancelbutton" type="button" (click)="onCancel()">Stop</button>-->
    </div>
  </form>
</div>
