<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Követelések</h5>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="editform-row">
        <div class="editform-label">Dátum</div>
        <input type="date" class="editform-date" formControlName="datum">
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" type="submit" [disabled]="form.invalid">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()" [disabled]="!eppFrissit">Stop</button>
    </div>
  </form>
</div>
