<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Ügyféltér link</h5>

  <button (click)="doUj()" class="toolbutton">
    Új ügyféltér link
  </button>
  <button [disabled]="link === ''" (click)="doTorles()" class="toolbutton">
    Ügyféltér link törlése
  </button>

  <ng-container *ngIf="link !== ''">
    <div class="form-group">
      <textarea class="form-control" rows="3" id="regilink" readonly="true" [(ngModel)]="link"></textarea>
      {{kikuldesikodidopontja}}
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 3">
    <div [@rowanimation]>
      <h5>Új ügyféltér link</h5>
      <p>Ha új ügyféltér linket készít, a régi érvényessége megszűnik. Biztos benne?</p>
      <div class="editform-okcancel" style="margin-bottom: 10px">
        <button class="toolbutton okbutton" (click)="onUj()">Ok</button>
        <button class="toolbutton" (click)="onMegsem()">Mégsem</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="'Ügyféltér link'"
                        (eventTorles)="onTorles($event)">
      </app-tetel-torles>
    </div>
  </ng-container>
</div>
