<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Ügyféltér link</h5>

  <div class="toolbar">
    <button (click)="doUj()" class="toolbutton">
      Új ügyféltér link
    </button>
    <button [disabled]="link === ''" (click)="doTorles()" class="toolbutton">
      Ügyféltér link törlése
    </button>
  </div>

  <ng-container *ngIf="link !== ''">
    <div>
      <textarea rows="3" cols="100" id="regilink" disabled="true" [(ngModel)]="link"></textarea>
    </div>
    <div>
      {{kikuldesikodidopontja}}
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 3">
    <div [@rowanimation]>
      <h5>Új ügyféltér link</h5>
      <div class="editform-row">Ha új ügyféltér linket készít, a régi érvényessége megszűnik. Biztos benne?</div>
      <div class="editform-row-bottom">
        <button class="toolbutton okbutton" (click)="onUj()">Ok</button>
        <button class="toolbutton" (click)="onMegsem()">Mégsem</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="egymode === 2">
    <div [@rowanimation]>
      <app-tetel-torles [cim]="'Ügyféltér link'"
                        (eventTorles)="onTorles($event)">
      </app-tetel-torles>
    </div>
  </ng-container>
</div>
