<!--export eUgynokContainerModeMode {
Blank = 0,
List = 1,
Egy = 2,
Uj = 3
}-->

<ng-container *ngIf="feliratkozasservice.ContainerMode === 0">
  <app-blank></app-blank>
</ng-container>
<ng-container *ngIf="feliratkozasservice.ContainerMode === 1">
  <app-ugynok-list></app-ugynok-list>
</ng-container>
<ng-container *ngIf="feliratkozasservice.ContainerMode === 2">
  <app-feliratkozas-egy></app-feliratkozas-egy>
</ng-container>
<ng-container *ngIf="feliratkozasservice.ContainerMode === 3">
  <app-ugynok-szerkesztes></app-ugynok-szerkesztes>
</ng-container>

