<div class="alapkeret">
  <h5>{{projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].TetelTipus}}</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">{{projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].TetelTipus}}</div>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control form-control-sm" id="cikk"
               maxlength="30" autocomplete="off" style="background-color: aquamarine"
               [(ngModel)]="projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].CikkNev" name="cikk">
      </div>
      <div class="col-md-1">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px" type="button" (click)="CikkZoom()">...</button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Mennyiség</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="mennyiseg"
               [(ngModel)]="projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].Mennyiseg" name="mennyiseg">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Egységár</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="egysegar"
               [(ngModel)]="projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].EgysegAr" name="egysegar">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Egységnyi teljesítmény</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="egysegnyi"
               [(ngModel)]="projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].EgysegnyiTeljesitmeny" name="egysegnyi">
      </div>
    </div>
    <div class="row no-gutters editform-row">
      <div class="col-md-2">
        <div class="editform-title">Garancia</div>
      </div>
      <div class="col-md-2">
        <input type="number" class="form-control form-control-sm" id="garancia"
               [(ngModel)]="projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].Garancia" name="garancia">
      </div>
    </div>

    <div class="row no-gutters" style="margin-bottom: 10px">
      <div class="col-md-2"></div>
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

<!--  export enum UjajanlatSzerkesztesMode {
  Blank = 0,
  CikkZoom = 1
  }-->

  <ng-container *ngIf="projektkapcsolatservice.AjanlatSzerkesztesMode === 0">
    <app-blank></app-blank>
  </ng-container>
  <ng-container *ngIf="projektkapcsolatservice.AjanlatSzerkesztesMode === 1">
    <app-cikk-container></app-cikk-container>
  </ng-container>

  <app-errormodal [cim]="projektkapcsolatservice.AjanlatParam.AjanlatBuf[projektkapcsolatservice.AjanlattetelIndex].TetelTipus"></app-errormodal>
</div>
<app-spinner *ngIf="eppFrissit"></app-spinner>

