<div class="alapkeret">
  <h5>{{projektservice.cim}}</h5>
  <h6 *ngIf="projektservice.DtoSelectedIndex !== -1">{{projektservice.Dto[projektservice.DtoSelectedIndex].UGYFELNEV}}, {{projektservice.Dto[projektservice.DtoSelectedIndex].UGYFELCIM}}</h6>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="vissza()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-arrow-left" style="margin-right: 3px" aria-hidden="true"></i>Vissza
      </button>
      <button [disabled]="eppFrissit" (click)="reszletek()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-file" style="margin-right: 3px" aria-hidden="true"></i>Részletesen
      </button>

      <button [disabled]="eppFrissit || projektservice.uj" (click)="torles()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || projektservice.uj" (click)="modositas()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-edit" aria-hidden="true"></i>
      </button>

      <button [disabled]="eppFrissit || projektservice.uj" (click)="muszakiallapot()" class="btn btn-sm btn-outline-primary navgomb">
        Műszaki állapot
      </button>
      <button [disabled]="eppFrissit || projektservice.uj" (click)="inverter()" class="btn btn-sm btn-outline-primary navgomb">
        Inverter
      </button>
      <button [disabled]="eppFrissit || projektservice.uj" (click)="napelem()" class="btn btn-sm btn-outline-primary navgomb">
        Napelem
      </button>
      <button [disabled]="eppFrissit || projektservice.uj" (click)="iratminta()" class="btn btn-sm btn-outline-primary navgomb">
        Iratminta
      </button>
      <button [disabled]="eppFrissit || projektservice.uj" (click)="export()" class="btn btn-sm btn-outline-primary navgomb">
        Export
      </button>

      <button [disabled]="eppFrissit || projektservice.uj" (click)="bizonylatesirat()" class="btn btn-sm btn-outline-primary navgomb">
        Bizonylat és irat
      </button>
      <button [disabled]="eppFrissit || projektservice.uj" (click)="szamlazasirend()" class="btn btn-sm btn-outline-primary navgomb">
        Számlázási rend
      </button>
      <button [disabled]="eppFrissit || projektservice.uj" (click)="teendo()" class="btn btn-sm btn-outline-primary navgomb">
        Teendő
      </button>
    </nav>
  </div>

  <router-outlet></router-outlet>
  <app-errormodal [cim]="projektservice.cim"></app-errormodal>
</div>
