<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>Pénztártételek exportja</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
        <div class="editform-label">Dátumtól</div>
        <input type="date" class="editform-date" id="tol"
               [(ngModel)]="tol" name="tol">
    </div>

    <div class="editform-row">
        <div class="editform-label">Dátumig</div>
        <input type="date" class="editform-date" id="ig"
               [(ngModel)]="ig" name="ig">
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
