<div class="alapkeret">
  <h5>{{bizonylatkapcsolatservice.Dto[bizonylatkapcsolatservice.DtoSelectedIndex].Azonosito}} {{bizonylatkapcsolatservice.Dto[bizonylatkapcsolatservice.DtoSelectedIndex].Tipus}} irat leválasztása</h5>
  <p>Biztosan le akarja választani ezt az iratot a bizonylatról?</p>
  <div class="row no-gutters" style="margin-bottom: 10px">
    <button class="btn btn-sm btn-primary" [disabled]="eppFrissit" type="button" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
  </div>

  <app-errormodal [cim]="bizonylatkapcsolatservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
