<div class="alapkeret">
  <h5>{{iratservice.cim}}</h5>
  <app-irattoolbar
    [szurok]="szurok"
    [szurok2]="szurok2"
    [(szempont)]="iratservice.szempont"
    [(minta)]="iratservice.minta"
    [(szempont2)]="iratservice.szempont2"
    [(minta2)]="iratservice.minta2"
    [enKereses]="!eppFrissit" (Kereses)="onKereses()"
    [enUj]="!eppFrissit && mod" (Uj)="onUj()">
  </app-irattoolbar>
  <app-tabla #tabla
             [items]="iratservice.Dto"
             [colsets]="iratservice.GridSettings"
             (forid)="setClickedRow($event)"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #gridegy>
    <app-irat-egy [enProjekt]="enProjekt"
                  (torlesutan)="torlesutan()"></app-irat-egy>
  </ng-template>
  <app-toolbarfooter [enKereses]="!iratservice.elsokereses && !eppFrissit"
                     [rekordszam]="iratservice.Dto.length"
                     [osszesrekord]="iratservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
