<div class="alapkeret">
  <h5>{{iratservice.cim}}</h5>

  <app-irattoolbar
    [szurok]="szurok"
    [szurok2]="szurok2"
    [(szempont)]="szempont"
    [(minta)]="minta"
    [(szempont2)]="szempont2"
    [(minta2)]="minta2"
  [enKereses]="!eppFrissit" (Kereses)="onKereses()"
  [enUj]="!eppFrissit && jog" (Uj)="doUjtetel()">
  </app-irattoolbar>

  <app-tabla #tabla
             [items]="Dto"
             [colsets]="iratservice.GridSettings"
             (forid)="onId($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>

  <ng-template #griduj>
    <app-irat-szerkesztes [uj] = "true"
                          (eventSzerkeszteskesz)="onUjtetelkesz($event)">
    </app-irat-szerkesztes>
  </ng-template>

  <ng-template #gridegy>
    <app-irat-egy [DtoOriginal]="Dto[DtoSelectedIndex]"
                  [enTorles]="true"
                  [enProjekt]="enProjekt"
                  (eventSzerkesztesutan)="onSzerkesztesutan($event)"
                  (eventTorlesutan)="onTorlesutan()">
    </app-irat-egy>
  </ng-template>

  <app-toolbarfooter [enKereses]="!elsokereses && !eppFrissit"
                     [rekordszam]="Dto.length"
                     [osszesrekord]="OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
