<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="!zoom">{{ugyfelservice.cim}}</h5>
  <h5 *ngIf="zoom">{{ugyfelservice.cim}} - zoom</h5>
  <app-ugyfeltoolbar [Csoportszurok]="csoportszurok"
                     [Szurok]="szurok"
                     [(csoportszempont)]="csoportszempont"
                     [(szempont)]="szempont"
                     [(minta)]="minta"
                     (eventKereses)="onKereses()"
                     [enUj]="jog" (eventUj)="doUjtetel()"
                     [visZoom]="zoom" (eventStopZoom)="onStopzoom()">
  </app-ugyfeltoolbar>

  <app-ugyfel-tabla #tabla
                    [items]="Dto"
                    [zoom]="zoom"
                    (forid)="onId($event)"
                    (forzoom)="onStartzoom($event)"
                    [ujTemplate]="griduj"
                    [egyTemplate]="gridegy">
  </app-ugyfel-tabla>

  <ng-template #griduj>
    <app-ugyfel-szerkesztes [uj] = "true"
                            (eventSzerkeszteskesz)="onUjtetelkesz($event)">
    </app-ugyfel-szerkesztes>
  </ng-template>

  <ng-template #gridegy>
    <div class="alapkeret">
      <div>
        <nav>
          <button (click)="doNav(1)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            <i class="fa fa-file" aria-hidden="true"></i>
          </button>

          <button [disabled]="!jog" (click)="doNav(2)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
          <button [disabled]="!jog" (click)="doNav(3)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </button>
          <button (click)="doNav(7)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            Csoport
          </button>
          <button (click)="doNav(8)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            Projekt
          </button>
          <button (click)="doNav(9)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            Ügyféltér link
          </button>
          <button (click)="doNav(10)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            vCard
          </button>
          <button (click)="doNav(37)" class="btn btn-sm btn-outline-primary toolbarcontrolmargins">
            Kapcsolatok
          </button>
        </nav>
      </div>

      <ng-container *ngIf="egymode === 1">
        <div [@rowanimation]>
          <app-reszletek [cim]="ugyfelservice.cim"
                         [item]="Dto[DtoSelectedIndex]"
                         [colsets]="ugyfelservice.ReszletekSettings">
          </app-reszletek>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 2">
        <div [@rowanimation]>
          <app-tetel-torles [cim]="ugyfelservice.cim"
                            (eventTorles)="onTorles($event)">
          </app-tetel-torles>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 3">
        <div [@rowanimation]>
          <app-ugyfel-szerkesztes [uj]="false"
                                  [DtoOriginal]="Dto[DtoSelectedIndex]"
                                  (eventSzerkeszteskesz)="onModositaskesz($event)">
          </app-ugyfel-szerkesztes>
        </div>
      </ng-container>


      <ng-container *ngIf="egymode === 7">
        <div [@rowanimation]>
          <app-ugyfel-csoport [DtoOriginal]="Dto[DtoSelectedIndex]"
                              (eventSzerkeszteskesz)="onModositaskesz($event)">
          </app-ugyfel-csoport>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 8">
        <div [@rowanimation]>
          <app-ugyfel-projekt [Ugyfelkod]="Dto[DtoSelectedIndex].Ugyfelkod">
          </app-ugyfel-projekt>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 9">
        <div [@rowanimation]>
          <app-ugyfel-ter-link [DtoOriginal]="Dto[DtoSelectedIndex]"
                               (eventSzerkeszteskesz)="onModositaskeszCsak($event)">
          </app-ugyfel-ter-link>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 10">
        <div [@rowanimation]>
          <app-ugyfel-vcard [Dto]="Dto[DtoSelectedIndex]"
                            (LetoltesClick)="VcardLetoles()">
          </app-ugyfel-vcard>
        </div>
      </ng-container>
      <ng-container *ngIf="egymode === 37">
        <div [@rowanimation]>
          <app-ugyfel-kapcsolat>

          </app-ugyfel-kapcsolat>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <app-toolbarfooter [enKereses]="!elsokereses"
                     [rekordszam]="Dto.length"
                     [osszesrekord]="osszesrekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
