<div class="alapkeret">
  <h5 *ngIf="!zoom">{{ugyfelservice.cim}}</h5>
  <h5 *ngIf="zoom">{{ugyfelservice.cim}} - zoom</h5>
  <app-ugyfeltoolbar [Csoportszurok]="csoportszurok"
                     [Szurok]="szurok"
                     [(csoportszempont)]="csoportszempont"
                     [(szempont)]="szempont"
                     [(minta)]="minta"
                     [enKereses]="!eppFrissit" (Kereses)="onKereses()"
                     [enUj]="!eppFrissit && jog" (Uj)="onUj()"
                     [visZoom]="zoom" (StopZoom)="onStopzoom()">
  </app-ugyfeltoolbar>

  <app-ugyfel-tabla #tabla
                    [items]="ugyfelservice.Dto"
                    [zoom]="zoom"
                    (forid)="onId($event)"
                    (forzoom)="onStartzoom($event)"
                    [ujTemplate]="griduj"
                    [egyTemplate]="gridegy">
  </app-ugyfel-tabla>
  <ng-template #griduj>
    <app-ugyfel-szerkesztes [uj] = "true"
                            (eventSzerkeszteskesz)="onUjkesz()">
    </app-ugyfel-szerkesztes>
  </ng-template>
  <ng-template #gridegy>
    <app-ugyfel-egy (eventTorlesutan)="onTorlesutan()"></app-ugyfel-egy>
  </ng-template>

  <app-toolbarfooter [enKereses]="!elsokereses && !eppFrissit"
                     [rekordszam]="ugyfelservice.Dto.length"
                     [osszesrekord]="osszesrekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
