<div class="alapkeret">
  <h5 *ngIf="!ugyfelservice.zoom">{{ugyfelservice.cim}}</h5>
  <h5 *ngIf="ugyfelservice.zoom">{{ugyfelservice.cim}} - zoom</h5>
  <app-ugyfeltoolbar [Csoportszurok]="csoportszurok"
                     [Szurok]="szurok"
                     [(csoportszempont)]="ugyfelservice.csoportszempont"
                     [(szempont)]="ugyfelservice.szempont"
                     [(minta)]="ugyfelservice.minta"
                     [enKereses]="!eppFrissit" (Kereses)="onKereses()"
                     [enUj]="!eppFrissit && mod" (Uj)="onUj()"
                     [visZoom]="ugyfelservice.zoom" (StopZoom)="stopzoom()">
  </app-ugyfeltoolbar>

  <app-ugyfel-tabla #tabla
                    [items]="ugyfelservice.Dto"
                    [zoom]="ugyfelservice.zoom"
                    (forid)="setClickedRow($event)"
                    (forzoom)="selectforzoom($event)"
                    [egyTemplate]="gridegy">
  </app-ugyfel-tabla>
  <ng-template #gridegy>
    <app-ugyfel-egy (torlesutan)="torlesutan()"></app-ugyfel-egy>
  </ng-template>

  <app-toolbarfooter [enKereses]="!elsokereses && !eppFrissit"
                     [rekordszam]="ugyfelservice.Dto.length"
                     [osszesrekord]="osszesrekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>
