<div class="alapkeret">
  <h5>{{ajanlatkeresservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ajanlatkeresservice.szempont"
               [(minta)]="ajanlatkeresservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [visUj]="true" [enUj]="mod" (Uj)="uj()">
  </app-toolbar>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
    <thead>
    <tr>
      <th>Id</th>
      <th>Ügynöknév</th>
      <th>Név</th>
      <th>Cím</th>
      <th>Email</th>
      <th>Telefonszam</th>
      <th>Havi fogyasztás, kWh</th>
      <th>Havi számla, Ft</th>
      <th>Napelemek teljesítménye, kW</th>
    </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of ajanlatkeresservice.Dto; let i = index">
        <tr>
          <td style="text-align: right;color: blue;text-decoration: underline;cursor: pointer" (click)="setClickedRow(i)">{{item.Ajanlatkereskod}}</td>
          <td>{{item.Ugynoknev}}</td>
          <td>{{item.Nev}}</td>
          <td>{{item.Cim}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Telefonszam}}</td>
          <td style="text-align: right">{{item.Havifogyasztaskwh | number: '1.2-2'}}</td>
          <td style="text-align: right">{{item.Haviszamlaft | number: '1.2-2'}}</td>
          <td style="text-align: right">{{item.Napelemekteljesitmenyekw | number: '1.2-2'}}</td>
        </tr>
        <tr *ngIf="item.Megjegyzes || '' !== ''">
          <td colspan="9">{{item.Megjegyzes}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <app-toolbarfooter [enKereses]="!ajanlatkeresservice.elsokereses && !eppFrissit"
                     [rekordszam]="ajanlatkeresservice.Dto.length"
                     [osszesrekord]="ajanlatkeresservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>


