<div class="alapkeret">
  <h5>{{ajanlatkeresservice.cim}}</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ajanlatkeresservice.szempont"
               [(minta)]="ajanlatkeresservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [visUj]="false">
  </app-toolbar>

  <app-tabla #tabla
             [items]="ajanlatkeresservice.Dto"
             [colsets]="ajanlatkeresservice.GridSettings"
             (forid)="setClickedRow($event)"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #gridegy>
    <app-ajanlatkeres-egy></app-ajanlatkeres-egy>
  </ng-template>

  <app-toolbarfooter [enKereses]="!ajanlatkeresservice.elsokereses && !eppFrissit"
                     [rekordszam]="ajanlatkeresservice.Dto.length"
                     [osszesrekord]="ajanlatkeresservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>


