<!--
export enum BizonylatesIratContainerMode {
  Blank = 0,
  List = 1,
  EgyBizonylat = 2,
  EgyIrat = 3,
  UjBizonylat = 4,
  UjIrat = 5,
  UjAjanlat = 6,
  Levalasztas = 7,
  Vagolap = 8
}-->

<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 1">
  <app-projektkapcsolat-list></app-projektkapcsolat-list>
</ng-container>

<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 7">
  <app-projektkapcsolat-levalasztas></app-projektkapcsolat-levalasztas>
</ng-container>


<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 2">
  <app-bizonylat-egy></app-bizonylat-egy>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 3">
  <app-irat-list [enProjekt]="false"></app-irat-list>
</ng-container>


<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 4">
  <app-projektkapcsolat-ujbizonylat></app-projektkapcsolat-ujbizonylat>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 5">
  <app-projektkapcsolat-ujirat></app-projektkapcsolat-ujirat>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 6">
  <app-ajanlat></app-ajanlat>
</ng-container>
<ng-container *ngIf="projektkapcsolatservice.ContainerMode === 8">
  <app-projektkapcsolat-vagolaprol></app-projektkapcsolat-vagolaprol>
</ng-container>
