<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{projektjegyzetservice.cim}}</h5>
  <div>
    <button (click)="onKereses()" class="toolbutton">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    <button (click)="doUjtetel()" class="toolbutton">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <app-tabla-ex #tabla
                [items]="Dto"
                [colsets]="projektjegyzetservice.GridSettings"
                (forid)="onId($event)"
                [egyTemplate]="gridegy">
  </app-tabla-ex>

  <ng-template #gridegy>
    <app-projekt-jegyzet-egy [uj]="uj"
                             [dto]="Dto[DtoSelectedIndex]"
                             [Projektkod]="Projektkod"
                             (eventUj)="onUjtetelkesz($event)"
                             (eventTorles)="onTorles()"
                             (eventModositas)="onModositaskesz($event)">
    </app-projekt-jegyzet-egy>
  </ng-template>
</div>
