html, body {
  font-size: 14px;
}

.table thead tr th {
  font-weight: normal;
  font-style: normal;
}

.ng-valid:not(form) {
  border-left: 5px solid greenyellow;
}
.ng-invalid:not(form) {
  border-left: 5px solid lightpink;
}

.alapkeret {
  overflow: auto;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 8px;
  margin-bottom: 5px;
}


.editform-row {
  margin-bottom: 5px;
  margin-left: 20px;
}

@media(max-width:963px) {
  .editform-title {
    text-align: left;
  }
}
@media(min-width:964px) {
  .editform-title {
    text-align: right;
    padding-right: 10px;
  }
}


.egylabel {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  padding-right: 10px;
}





.toolbarmargins {
  margin-top: 6px;
}
.toolbarcontrolmargins {
  margin-right: 6px;
  margin-bottom: 6px;
}
.toolbarcontrolmarginskozel {
  margin-right: 3px;
  margin-bottom: 6px;
}
