:root {
  --hatterszin: white;
  --szovegszin: black;
  --keretszin: #dddddd;
  --kivalasztottszin: #d0e0df;
  --kontrolszin: #5d8dea;
}

html, body {
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 16px;
  font-weight: 300;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}
th {
  border: 1px solid var(--keretszin);
  font-weight: normal;
  font-style: normal;
  padding: 6px;
}
td {
  border: 1px solid var(--keretszin);
  font-weight: normal;
  font-style: normal;
  padding: 6px;
}
table tr.active td {
  background-color: var(--kivalasztottszin);
}
table tr.inactive td {
  background-color: var(--hatterszin);
}

.datum {
  width: 5em;
}
.idobelyeg {
  width: 9em;
}
.itemID {
  text-align: right;
  color: var(--kontrolszin);
  text-decoration: underline;
  cursor: pointer;
  width: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em
}
.itemIcon {
  text-align: right;
  color: var(--kontrolszin);
  cursor: pointer;
  width: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em
}


.alapkeret {
  overflow: auto;
  background-color: var(--hatterszin);
  border: 1px solid var(--keretszin);
  padding: 0.5em;
}
.editform-card {
  float: left;
  margin-right: 1em;
}
.editform-row {
  margin-left: 1em;
  margin-bottom: 0.7em;
}
.editform-row-block {
  display: inline-block;
  margin-right: 0.5em
}
.editform-label {
  text-align: left;
  font-style: italic;
  font-family: inherit;
  font-size: 90%;
}
.editform-edit {
  border: 1px solid lightgrey;
  border-radius: 0.2em;
  margin-right: 0.5em;
}
.editform-combo {
  border: 1px solid lightgrey;
  border-radius: 0.2em;
  margin-right: 0.5em;
}
.editform-date {
  border: 1px solid lightgrey;
  border-radius: 0.2em;
}
.ng-valid:not(form) {
  border-left: 0.3em solid greenyellow;
}
.ng-invalid:not(form) {
  border-left: 0.3em solid lightpink;
}
.em4width {
   width: 4em;
}
.em6width {
  width: 6em;
}
.em8width {
  width: 8em;
}
.em9width {
  width: 9em;
}
.em10width {
  width: 10em;
}
.em15width {
  width: 15em;
}
.em20width {
  width: 20em;
}
.em30width {
  width: 30em;
}
.em60width {
  width: 60em;
}
.editform-okcancel {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;

  clear: both;
}

.toolbar {
  /*margin-top: 0.5em;*/
  /*margin-bottom: 0.5em;*/
}

.toolbutton {
  cursor: pointer;
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  background-color: var(--hatterszin);
  color: var(--kontrolszin);
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  font-family: inherit;
  font-size: 90%;
}
.toolbutton:disabled {
  background-color: var(--keretszin);
  cursor: not-allowed;
}
.toolbutton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--kontrolszin);
}
.toolbutton:hover {
  background-color: var(--kontrolszin);
  color: var(--hatterszin);
}

.okbutton {
  background-color: var(--kontrolszin);
  color: var(--hatterszin);
}

.tooledit {
  background-color: var(--hatterszin);
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.2em;
}
.toolcombo {
  background-color: var(--hatterszin);
  border: 1px solid var(--kontrolszin);
  border-radius: 0.2em;
  margin-right: 0.2em;
}


.zoom-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.zoom-modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.zoom-modal-content-primitiv {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}



/*.button-7 {*/
 /*background-color: #0095ff;*/
 /*border: 1px solid transparent;*/
 /*border-radius: 3px;*/
 /*box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;*/
 /*box-sizing: border-box;*/
 /*color: #fff;*/
 /*cursor: pointer;*/
 /*display: inline-block;*/
 /*font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;*/
 /*font-size: 13px;*/
 /*font-weight: 400;*/
 /*line-height: 1.15385;*/
 /*margin: 0;*/
 /*outline: none;*/
 /*padding: 8px .8em;*/
 /*position: relative;*/
 /*text-align: center;*/
 /*text-decoration: none;*/
 /*user-select: none;*/
 /*-webkit-user-select: none;*/
 /*touch-action: manipulation;*/
 /*vertical-align: baseline;*/
 /*white-space: nowrap;*/
/*}*/

/*.button-7:hover,*/
/*.button-7:focus {*/
  /*background-color: #07c;*/
/*}*/

/*.button-7:focus {*/
  /*box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);*/
/*}*/

/*.button-7:active {*/
  /*background-color: #0064bd;*/
  /*box-shadow: none;*/
/*}*/








.oszlop1 {
  width: 60px;
}
.oszlop2 {
  width: 120px;
}
.oszlop3 {
  width: 180px;
}
.oszlop4 {
  width: 240px;
}
.oszlop5 {
  width: 300px;
}
.oszlop6 {
  width: 360px;
}
.oszlop10 {
  width: 600px;
}






/*Waiter*/

@keyframes waiteranim {
  from {
    transform: translateY(-3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.waiteranimation {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  animation-name: waiteranim;
  animation-duration: 1s;
}

.waitercss {
  color: black;
  font-weight: bold;
  z-index: 1200 !important;
}

/*---Waiter váge*/

/*Spinner direktívához*/
.loading {
  position: fixed;
  /*display: block;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000000;
  cursor: pointer;
}
.loader {
  left: 50%;
  margin-left: -4em;
  font-size: 10px;
  border: .8em solid rgba(218, 219, 223, 1);
  border-left: .8em solid rgba(58, 166, 165, 1);
  animation: spin 0.8s infinite linear;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  display: block;
  position: fixed;
  top: 50%;
  margin-top: -4.05em;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*Spinner direktívához vége*/
