html, body {
  font-size: 14px;
}

.table thead tr th {
  font-weight: normal;
  font-style: normal;
}

.ng-valid:not(form) {
  border-left: 5px solid greenyellow;
}
.ng-invalid:not(form) {
  border-left: 5px solid lightpink;
}

.alapkeret {
  overflow: auto;
  border: 1px solid lightgrey;
  padding: 8px;
  margin-bottom: 5px;
}
.ukeret {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  padding: 8px;
  margin-bottom: 5px;
}

.editform-row {
  margin-bottom: 5px;
}

.editform-title {
  text-align: right;
  padding-right: 10px;
}

.navgomb {
  margin-right: 5px;
  margin-bottom: 5px;
}

.egypanel {
  float: left;
  width: 300px;
  border: solid 1px silver;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 10px
}
.egytable {
  border: none;
}
.egylabel {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  padding-right: 10px;
}

