<table class="table table-bordered table-sm table-responsive" style="border: none">
  <thead>
  <tr>
    <th>Id</th>
    <th>
      <div style="white-space: nowrap">
        <div>Név, Cím, Email, Telefon</div>
      </div>
    </th>
    <th>
      <div style="white-space: nowrap">
        <div>Cég, Beosztás, Tevékenység</div>
      </div>
    </th>
    <th>
      <div style="white-space: nowrap">
        <div>Leírás</div>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="ujtetel && ujTemplate !== undefined" class="active">
      <td colspan="100">
        <ng-template *ngTemplateOutlet="ujTemplate"></ng-template>
      </td>
    </tr>

    <ng-container *ngFor="let item of items; let i = index">
      <tr (click)="clickforrow(i)" [className]="i === clickedidindex || i === clickedrowindex ? 'active' : 'inactive'">
        <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="clickforid(i)">
          {{item.Ugyfelkapcsolatkod}}
        </td>
        <td>
          <div style="width: 200px">{{item.Nev}}</div>
          <div style="width: 300px">{{item.Cim}}</div>
          <div>{{item.Email}}</div>
          <div>{{item.Telefon}}</div>
        </td>
        <td>
          <div style="width: 200px">{{item.Ceg}}</div>
          <div style="width: 200px">{{item.Beosztas}}</div>
          <div>{{item.Tevekenyseg}}</div>
        </td>
        <td>
          <div style="width: 500px;white-space: pre-wrap">{{item.Leiras}}</div>
        </td>
      </tr>

      <tr *ngIf="i === clickedidindex && egyTemplate !== undefined" [class.active]="i === clickedidindex">
        <td colspan="100">
          <ng-template *ngTemplateOutlet="egyTemplate"></ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
