<div class="alapkeret">
  <h5>{{meservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].MEKOD}}</td>
    </tr>
    <tr>
      <td class="egylabel">Mennyiségi egység:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].ME}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].LETREHOZTA}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].LETREHOZVA | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].MODOSITOTTA}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].MODOSITVA | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
