<div class="alapkeret">
  <h5>Műszaki állapot</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <select type="text" class="editform-combo" name="statusz" [(ngModel)]="DtoEdited.Muszakiallapot">
        <option *ngFor="let s of entries" [value]="s">{{s}}</option>
      </select>
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>
</div>
