<div class="alapkeret">
  <h5>{{meservice.cim}} részletesen</h5>
  <table class="table ng table-bordered table-sm table-responsive" style="border: none">
    <tbody>
    <tr>
      <td class="egylabel">Id:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].Mekod}}</td>
    </tr>
    <tr>
      <td class="egylabel">Mennyiségi egység:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].Me}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozta:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].Letrehozta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Létrehozva:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].Letrehozva | datetimehun}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosította:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].Modositotta}}</td>
    </tr>
    <tr>
      <td class="egylabel">Módosítva:</td>
      <td *ngIf="meservice.DtoSelectedIndex !== -1">{{meservice.Dto[meservice.DtoSelectedIndex].Modositva | datetimehun}}</td>
    </tr>
    </tbody>
  </table>
</div>
