<div class="alapkeret">
  <h5 *ngIf="!teendoservice.zoom">{{teendoservice.cim}}</h5>
  <h5 *ngIf="teendoservice.zoom">{{teendoservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="teendoservice.ekDto.szempont"
               [(minta)]="teendoservice.ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="uj()"
               [visZoom]="teendoservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla [items]="teendoservice.Dto"
             [colsets]="teendoservice.GridSettings"
             [zoom]="teendoservice.zoom"
             [(selectedrow)]="ti"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)">
  </app-tabla>

  <app-errormodal [cim]="teendoservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>
