<div class="alapkeret">
  <h5 *ngIf="!zoom">{{teendoservice.cim}}</h5>
  <h5 *ngIf="zoom">{{teendoservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && jog" (Uj)="onUj()"
               [visZoom]="zoom" (StopZoom)="onStopzoom()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="teendoservice.Dto"
             [colsets]="teendoservice.GridSettings"
             [zoom]="zoom"
             (forzoom)="onStartzoom($event)"
             (forid)="onId($event)"
             [ujTemplate]="griduj"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #griduj>
    <app-teendo-szerkesztes [uj] = "true"
                            (eventSzerkeszteskesz)="onUjkesz()">
    </app-teendo-szerkesztes>
  </ng-template>
  <ng-template #gridegy>
    <app-teendo-egy (eventTorlesutan)="onTorlesutan()"></app-teendo-egy>
  </ng-template>
</div>
