<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{tevekenysegservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{tevekenysegservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-box">
      <div class="editform-row">
        <div class="editform-label">Tevékenység</div>
        <input type="text" class="editform-combo editform-cw15" id="kt"
               maxlength="30" required autocomplete="off"
               [(ngModel)]="DtoEdited.Tevekenyseg1" name="kt">
      </div>
    </div>

    <div class="editform-okcancel">
      <button class="editform-okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="editform-cancelbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
