<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{tevekenysegservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{tevekenysegservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-row">
      <div class="editform-label">Tevékenység</div>
      <input type="text" class="editform-combo em15width" id="kt"
             maxlength="30" required autocomplete="off"
             [(ngModel)]="DtoEdited.Tevekenyseg1" name="kt">
    </div>

    <div class="editform-row-bottom">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="onCancel()">Mégsem</button>
    </div>
  </form>
</div>
