<div class="alapkeret">
  <h5 *ngIf="!cikkservice.zoom">{{cikkservice.cim}}</h5>
  <h5 *ngIf="cikkservice.zoom">{{cikkservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="cikkservice.szempont"
               [(minta)]="cikkservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="onUj()"
               [visZoom]="cikkservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla [items]="cikkservice.Dto"
             [colsets]="cikkservice.GridSettings"
             [zoom]="cikkservice.zoom"
             [(selectedrow)]="ti"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)">
  </app-tabla>

  <app-toolbarfooter [enKereses]="!cikkservice.elsokereses && !eppFrissit"
                     [rekordszam]="cikkservice.Dto.length"
                     [osszesrekord]="cikkservice.OsszesRekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>

  <app-errormodal [cim]="cikkservice.cim"></app-errormodal>
  <app-spinner *ngIf="eppFrissit"></app-spinner>
</div>

