<div class="alapkeret">
  <h5 *ngIf="!cikkservice.zoom">{{cikkservice.cim}}</h5>
  <h5 *ngIf="cikkservice.zoom">{{cikkservice.cim}} - zoom</h5>
  <app-toolbar [Szurok]="szurok"
               [(szempont)]="cikkservice.szempont"
               [(minta)]="cikkservice.minta"
               [enKereses]="!eppFrissit" (Kereses)="onKereses()"
               [enUj]="!eppFrissit && mod" (Uj)="onUj()"
               [visZoom]="cikkservice.zoom" (StopZoom)="stopzoom()">
  </app-toolbar>
  <app-tabla #tabla
             [items]="cikkservice.Dto"
             [colsets]="cikkservice.GridSettings"
             [zoom]="cikkservice.zoom"
             (forzoom)="selectforzoom($event)"
             (forid)="setClickedRow($event)"
             [egyTemplate]="gridegy">
  </app-tabla>
  <ng-template #gridegy>
    <app-cikk-egy (torlesutan)="torlesutan()"></app-cikk-egy>
  </ng-template>
  <app-toolbarfooter [enKereses]="!elsokereses && !eppFrissit"
                     [rekordszam]="cikkservice.Dto.length"
                     [osszesrekord]="osszesrekord"
                     (KeresesTovabb)="onKeresesTovabb()">
  </app-toolbarfooter>
</div>

