<div class="alapkeret">
  <h5>{{szamlazasirendservice.cim}}</h5>
  <div>
    <nav>
      <button [disabled]="eppFrissit" (click)="kereses()" class="btn btn-sm btn-outline-primary navgomb" style="margin-right: 3px">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button [disabled]="eppFrissit" (click)="uj()" class="btn btn-sm btn-outline-primary navgomb">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </nav>
  </div>
  <table class="table table-bordered table-sm table-responsive" style="border: none">
  <thead>
  <tr>
    <th>Id</th>
    <th>Összeg</th>
    <th>Pénznem</th>
    <th>Megjegyzés</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of szamlazasirendservice.Dto; let i = index">
    <tr>
      <td style="text-align: right; color: blue; text-decoration: underline; cursor: pointer" (click)="setClickedRow(i)">{{item.SZAMLAZASIRENDKOD}}</td>
      <td>{{item.OSSZEG}}</td>
      <td>{{item.PENZNEM}}</td>
      <td>{{item.MEGJEGYZES}}</td>
    </tr>
  </ng-container>
  </tbody>
</table><app-errormodal [cim]="szamlazasirendservice.cim"></app-errormodal>
</div>
