<table class="table table-bordered table-sm table-responsive" style="border: none">
  <thead>
  <tr>
    <th>Id</th>
    <th>Sorszám</th>
    <th>Ügyfél és cím</th>
    <th>Bizonylat kelte</th>
    <th>Teljesítés kelte</th>
    <th>Fizetési mód</th>
    <th>Fizetési határidő</th>
    <th>Kifizetés rendben</th>
    <th>Kiszállítva</th>
    <th>Pénznem</th>
    <th>Árfolyam</th>
    <th>Netto</th>
    <th>ÁFA</th>
    <th>Brutto</th>
    <th>Ez stornozo</th>
    <th>Ez stornozott</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="ujtetel && ujTemplate !== undefined" class="active">
      <td colspan="100">
        <ng-template *ngTemplateOutlet="ujTemplate"></ng-template>
      </td>
    </tr>

    <ng-container *ngFor="let item of items; let i = index">
      <tr (click)="clickforrow(i)" [className]="i === clickedidindex || i === clickedrowindex ? 'active' : 'inactive'">
        <td *ngIf="enIdclick" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="clickforid(i)">{{item.Bizonylatkod}}</td>
        <td *ngIf="!enIdclick">{{item.Bizonylatkod}}</td>

        <td>{{item.Bizonylatszam}}</td>
        <td>
          <div style="width: 250px">{{item.Ugyfelnev}}</div>
          <div style="width: 250px">{{item.Ugyfelcim}}</div>
        </td>

        <td>{{item.Bizonylatkelte | datehun}}</td>
        <td>{{item.Teljesiteskelte | datehun}}</td>
        <td>{{item.Fizetesimod}}</td>
        <td>{{item.Fizetesihatarido | datehun}}</td>
        <td>{{item.Kifizetesrendben | boolhun}}</td>
        <td>{{item.Kiszallitva | boolhun}}</td>
        <td>{{item.Penznem}}</td>
        <td style="text-align: right">{{item.Arfolyam | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Netto | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Afa | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Brutto | number: '1.2-2'}}</td>
        <td *ngIf="item.Ezstornozo">igen</td>
        <td *ngIf="!item.Ezstornozo"></td>
        <td *ngIf="item.Ezstornozott">igen</td>
        <td *ngIf="!item.Ezstornozott"></td>
      </tr>
      <tr *ngIf="item.Megjegyzesfej || '' !== ''" [className]="i === clickedidindex || i === clickedrowindex ? 'active' : 'inactive'">
        <td colspan="100">{{item.Megjegyzesfej}}</td>
      </tr>

      <tr *ngIf="i === clickedidindex && egyTemplate !== undefined" [class.active]="i === clickedidindex">
        <td colspan="100">
          <ng-template *ngTemplateOutlet="egyTemplate"></ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

