<table class="table table-bordered table-sm table-responsive" style="border: none">
  <thead>
  <tr>
    <th>Id</th>
    <th>Sorszám</th>
    <th>Ügyfél és cím</th>
    <th>Bizonylat kelte</th>
    <th>Teljesítés kelte</th>
    <th>Fizetési mód</th>
    <th>Fizetési határidő</th>
    <th>Kifizetés rendben</th>
    <th>Kiszállítva</th>
    <th>Pénznem</th>
    <th>Árfolyam</th>
    <th>Netto</th>
    <th>ÁFA</th>
    <th>Brutto</th>
    <th>Ez stornozo</th>
    <th>Ez stornozott</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of Dto; let i = index">
    <tr>
      <td *ngIf="enIdclick" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="setClickedRow(i)">{{item.Bizonylatkod}}</td>
      <td *ngIf="!enIdclick">{{item.BIZONYLATKOD}}</td>

      <td>{{item.BIZONYLATSZAM}}</td>
      <td>
        <div style="width: 250px">{{item.UGYFELNEV}}</div>
        <div style="width: 250px">{{item.UGYFELCIM}}</div>
      </td>

      <td>{{item.BIZONYLATKELTE | datehun}}</td>
      <td>{{item.TELJESITESKELTE | datehun}}</td>
      <td>{{item.FIZETESIMOD}}</td>
      <td>{{item.FIZETESIHATARIDO | datehun}}</td>
      <td>{{item.KIFIZETESRENDBEN | boolhun}}</td>
      <td>{{item.KISZALLITVA | boolhun}}</td>
      <td>{{item.PENZNEM}}</td>
      <td style="text-align: right">{{item.ARFOLYAM | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.NETTO | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.AFA | number: '1.2-2'}}</td>
      <td style="text-align: right">{{item.BRUTTO | number: '1.2-2'}}</td>
      <td *ngIf="item.EZSTORNOZO">igen</td>
      <td *ngIf="!item.EZSTORNOZO"></td>
      <td *ngIf="item.EZSTORNOZOTT">igen</td>
      <td *ngIf="!item.EZSTORNOZOTT"></td>
    </tr>
    <tr *ngIf="item.MEGJEGYZESFEJ || '' !== ''">
      <td colspan="16">{{item.MEGJEGYZESFEJ}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>

