<table class="table table-bordered table-sm">
  <thead>
  <tr>
    <th>Id</th>
    <th>Sorszám</th>
    <th>
      <div>Ügyfél</div>
      <div>Cím</div>
    </th>
    <th>
      <div>Bizonylat kelte</div>
      <div>Teljesítés kelte</div>
    </th>
    <th>
      <div>Fizetési mód</div>
      <div>Fizetési határidő</div>
    </th>
    <th>
      <div>Kifizetés rendben</div>
      <div>Kiszállítva</div>
    </th>
    <th>
      <div>Pénznem</div>
      <div>Árfolyam</div>
    </th>
    <th>Netto</th>
    <th>ÁFA</th>
    <th>Brutto</th>
    <th>
      <div>Ez stornozo</div>
      <div>Ez stornozott</div>
    </th>
    <th>
      <div>Fuvarszámla</div>
      <div>Fuvardíj</div>
    </th>
    <th>
      <div>Fuvardíj pénzneme</div>
      <div>Fuvardíj árfolyama</div>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngIf="ujtetel && ujTemplate !== undefined" class="active">
      <td colspan="100">
        <ng-template *ngTemplateOutlet="ujTemplate"></ng-template>
      </td>
    </tr>

    <ng-container *ngFor="let item of items; let i = index">
      <tr (click)="clickforrow(i)" [className]="i === clickedidindex || i === clickedrowindex ? 'active' : 'inactive'">
        <td *ngIf="enIdclick" style="text-align: right; color: blue; text-decoration: underline; cursor: pointer"(click)="clickforid(i)">{{item.Bizonylatkod}}</td>
        <td *ngIf="!enIdclick">{{item.Bizonylatkod}}</td>

        <td>{{item.Bizonylatszam}}</td>
        <td>
          <div style="width: 250px">{{item.Ugyfelnev}}</div>
          <div style="width: 250px">{{item.Ugyfelcim}}</div>
        </td>

        <td>
          <div>{{item.Bizonylatkelte | datehun}}</div>
          <div>{{item.Teljesiteskelte | datehun}}</div>
        </td>
        <td>
          <div>{{item.Fizetesimod}}</div>
          <div>{{item.Fizetesihatarido | datehun}}</div>
        </td>
        <td>
          <div *ngIf="item.Kifizetesrendben">igen</div>
          <div *ngIf="item.Kifizetesrendben"></div>
          <div *ngIf="item.Kiszallitva">igen</div>
          <div *ngIf="item.Kiszallitva"></div>
        </td>
        <td>
          <div>{{item.Penznem}}</div>
          <div style="text-align: right">{{item.Arfolyam | number: '1.2-2'}}</div>
        </td>
        <td style="text-align: right">{{item.Netto | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Afa | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Brutto | number: '1.2-2'}}</td>
        <td>
          <div *ngIf="item.Ezstornozo">igen</div>
          <div *ngIf="item.Ezstornozo"></div>
          <div *ngIf="item.Ezstornozott">igen</div>
          <div *ngIf="item.Ezstornozott"></div>
        </td>
        <td>
          <div></div>
          <div></div>
        </td>
        <td>
          <div></div>
          <div></div>
        </td>
      </tr>
      <tr *ngIf="item.Megjegyzesfej || '' !== ''" [className]="i === clickedidindex || i === clickedrowindex ? 'active' : 'inactive'">
        <td colspan="100">{{item.Megjegyzesfej}}</td>
      </tr>

      <tr *ngIf="i === clickedidindex && egyTemplate !== undefined" [class.active]="i === clickedidindex">
        <td colspan="100">
          <ng-template *ngTemplateOutlet="egyTemplate"></ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

