<table>
  <thead>
  <tr>
    <th *ngIf="enEdit"></th>
    <th *ngIf="enEdit"></th>
    <th>Id</th>
    <th>Megnevezés</th>
    <th>Mennyiség</th>
    <th>Me</th>
    <th>Egysegár</th>
    <th>ÁFA %</th>
    <th>Netto</th>
    <th>ÁFA</th>
    <th>Brutto</th>
    <th>Tömeg</th>
    <th>Össztömeg</th>
    <th>Termékdíj KT</th>
    <th>Termékdíj megnevezés</th>
    <th>Termékdíj egységár</th>
    <th>Termékdíj</th>
    <th>Fuvardíj egységár</th>
    <th>Fuvardíj</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of Dto; let i = index">
      <tr (click)="clickforrow(i)" [className]="i === clickedrowindex ? 'active' : 'inactive'">
        <td *ngIf="enEdit" class="tabla-kontrol-icon"
            (click)="doTorles(i)">
          <i class="fa fa-minus" aria-hidden="true"></i></td>
        <td *ngIf="enEdit" class="tabla-kontrol-icon"
            (click)="doModositas(i)">
          <i class="fa fa-edit" aria-hidden="true"></i></td>

        <td>{{item.Bizonylattetelkod}}</td>
        <td>{{item.Megnevezes}}</td>
        <td style="text-align: right">{{item.Mennyiseg | number: '1.2-2'}}</td>
        <td>{{item.Me}}</td>
        <td style="text-align: right">{{item.Egysegar | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Afamerteke | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Netto | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Afa | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Brutto | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Tomegkg | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Ossztomegkg | number: '1.2-2'}}</td>
        <td>{{item.Termekdijkt}}</td>
        <td>{{item.Termekdijmegnevezes}}</td>
        <td style="text-align: right">{{item.Termekdijegysegar | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Termekdij | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Fuvardijegysegar | number: '1.2-2'}}</td>
        <td style="text-align: right">{{item.Fuvardij | number: '1.2-2'}}</td>
      </tr>
      <tr *ngIf="item.Megjegyzes || '' !== ''" class="inactive">
        <td colspan="100">{{item.Megjegyzes}}</td>
      </tr>

      <tr *ngIf="i === clickedidindex && modOk">
        <td colspan="100">
          <app-bizonylattetel-egy [defaultNav]="defaultNav"
                                  [bizonylatTipus]="bizonylatTipus"
                                  [bizonylatLeiro]="bizonylatLeiro"
                                  [TetelDtoOriginal]="Dto[clickedidindex]"
                                  (eventTorles)="onTorles($event)"
                                  (eventModositas)="onModositas($event)"
                                  (eventMegsem)="onMegsem()">
          </app-bizonylattetel-egy>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>


