<div class="alapkeret">
  <h5 *ngIf="uj">Új {{projektservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{projektservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Ügyfél</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="ugyfelnev"
               maxlength="200" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="projektservice.DtoEdited.Ugyfelnev" name="ugyfelnev">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="UgyfelZoom()">...</button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <input type="text" class="form-control form-control-sm oszlop6" id="ugyfelcim"
               autocomplete="off" readonly="true"
               [(ngModel)]="projektservice.DtoEdited.Ugyfelcim" name="ugyfelcim">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Telepítési cím</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="telepitesicim"
               autocomplete="off"
               [(ngModel)]="projektservice.DtoEdited.Telepitesicim" name="telepitesicim">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">A projekt jellege</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="projektjellege"
               autocomplete="off"
               [(ngModel)]="projektservice.DtoEdited.Projektjellege" name="projektjellege">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Vállalási ár</div>
        <input type="number" class="form-control form-control-sm oszlop3" id="kuldo"
               required
               [(ngModel)]="projektservice.DtoEdited.Vallalasiarnetto" name="kuldo">
      </div>

      <div style="display: inline-block; margin-right: 5px">
        <div class="egylabel">Pénznem</div>
        <input type="text" class="form-control form-control-sm oszlop2" id="penznem"
               maxlength="30" required autocomplete="off" style="background-color: aquamarine; display: inline-block"
               [(ngModel)]="projektservice.DtoEdited.Penznem" name="penznem">
        <button class="btn btn-sm btn-outline-primary" style="margin-left: 4px; display: inline-block" type="button" (click)="PenznemZoom()">...</button>
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <div style="margin-right: 5px">
        <div class="egylabel">Megjegyzés</div>
        <input type="text" class="form-control form-control-sm oszlop6" id="megjegyzes"
               autocomplete="off"
               [(ngModel)]="projektservice.DtoEdited.Megjegyzes" name="megjegyzes">
      </div>
    </div>

    <div class="row no-gutters editform-row">
      <button class="btn btn-sm btn-primary" [disabled]="!f.valid || eppFrissit" type="submit">Ok</button>
      <button class="btn btn-sm btn-default" style="margin-left:3px;" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

  <ng-container *ngIf="projektservice.SzerkesztesMode === 1">
    <app-ugyfel-list [maszk]="projektservice.DtoEdited.Ugyfelnev || ''"
                     (eventSelectzoom)="onUgyfelSelectzoom($event)"
                     (eventStopzoom)="onUgyfelStopzoom()"></app-ugyfel-list>
  </ng-container>

  <ng-container *ngIf="projektservice.SzerkesztesMode === 2">
    <app-penznem-list [maszk]="projektservice.DtoEdited.Penznem || ''"
                      (eventSelectzoom)="onPenznemSelectzoom($event)"
                      (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
  </ng-container>
</div>
