<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5 *ngIf="uj">Új {{projektservice.cim | lowercase}}</h5>
  <h5 *ngIf="!uj">{{projektservice.cim}} módosítása</h5>

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">Ügyfél</div>
        <input type="text" class="editform-edit em20width" id="ugyfelnev"
               maxlength="200" required autocomplete="off" style="background-color: aquamarine;"
               [(ngModel)]="DtoEdited.Ugyfelnev" name="ugyfelnev">
        <button type="button" class="toolbutton" (click)="UgyfelZoom()">...</button>
      </div>

      <div class="editform-row">
        <div class="editform-label">Cím</div>
        <input type="text" class="editform-edit em20width" id="ugyfelcim"
               autocomplete="off" disabled="true"
               [(ngModel)]="DtoEdited.Ugyfelcim" name="ugyfelcim">
      </div>

      <div class="editform-row">
        <div class="editform-label">Telepítési cím</div>
        <input type="text" class="editform-edit em20width" id="telepitesicim"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Telepitesicim" name="telepitesicim">
      </div>
    </div>

    <div class="editform-card">
      <div class="editform-row">
        <div class="editform-label">A projekt jellege</div>
        <input type="text" class="editform-edit em20width" id="projektjellege"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Projektjellege" name="projektjellege">
      </div>

      <div class="editform-row">
        <div class="editform-label">Vállalási ár</div>
        <input type="number" class="editform-edit em10width" id="var"
               required
               [(ngModel)]="DtoEdited.Vallalasiarnetto" name="var">
      </div>

      <div class="editform-row">
        <div class="editform-label">Pénznem</div>
        <input type="text" class="editform-edit em4width" id="penznem"
               maxlength="30" required autocomplete="off" style="background-color: aquamarine;"
               [(ngModel)]="DtoEdited.Penznem" name="penznem">
        <button class="toolbutton" type="button" (click)="PenznemZoom()">...</button>
      </div>
    </div>

    <div class="editform-okcancel">
        <div class="editform-label">Megjegyzés</div>
        <input type="text" class="editform-edit em60width" id="megjegyzes"
               autocomplete="off"
               [(ngModel)]="DtoEdited.Megjegyzes" name="megjegyzes">
    </div>

    <div class="editform-okcancel">
      <button class="toolbutton okbutton" [disabled]="!f.valid" type="submit">Ok</button>
      <button class="toolbutton" type="button" (click)="cancel()">Mégsem</button>
    </div>
  </form>

  <div id="projektzoombox" class="zoom-modal" role="dialog"  data-backdrop="false" data-keyboard="false">
    <ng-container *ngIf="SzerkesztesMode === 1">
      <div class="zoom-modal-content">
      <app-ugyfel-list [maszk]="DtoEdited.Ugyfelnev || ''"
                       (eventSelectzoom)="onUgyfelSelectzoom($event)"
                       (eventStopzoom)="onUgyfelStopzoom()"></app-ugyfel-list>
      </div>
    </ng-container>

    <ng-container *ngIf="SzerkesztesMode === 2">
      <div class="zoom-modal-content-primitiv">
      <app-penznem-list [maszk]="DtoEdited.Penznem || ''"
                        (eventSelectzoom)="onPenznemSelectzoom($event)"
                        (eventStopzoom)="onPenznemStopzoom()"></app-penznem-list>
      </div>
    </ng-container>
  </div>
</div>
