<div class="alapkeret" [appSpinner]="eppFrissit">
  <h5>{{csoportservice.cim}}</h5>

  <app-toolbar [Szurok]="szurok"
               [(szempont)]="ekDto.szempont"
               [(minta)]="ekDto.minta"
               (Kereses)="onKereses()"
               (Uj)="doUjtetel()">
  </app-toolbar>

  <ng-template #compcont_csoportuj></ng-template>

  <app-tabla-ex #tabla
                [items]="Dto"
                [colsets]="csoportservice.GridSettings"
                (forid)="onId($event)"
                [egyTemplate]="gridegy">
  </app-tabla-ex>

  <ng-template #gridegy>
    <app-csoport-egy [dto]="Dto[DtoSelectedIndex]"
                     (eventTorles)="onTorles()"
                     (eventModositas)="onModositas($event)">
    </app-csoport-egy>
  </ng-template>
</div>

